.pinContainer {
  margin: 0px 0px 10px 0px;
  width: calc(100% - 40px);
  margin-inline: 20px;
  display: grid;
  column-gap: var(--gap-20);
  grid-template-columns: minmax(510px, 1150px) minmax(350px, 600px);
  grid-auto-rows: 10px;
  position: relative;
  justify-content: left;
  justify-items: center;
  animation: var(--bottom08);
  transition: var(--transition3);
}
.pinContainer1 {
  width: calc(100% - 40px);
  margin-inline: 20px;
  display: grid;
  column-gap: var(--gap-20);
  grid-template-columns: minmax(300px, 1770px);
  grid-auto-rows: 10px;
  position: relative;
  justify-content: left;
  justify-items: center;
  animation: var(--bottom14);
  transition: var(--transition3);
}
@media (max-width: 1024px) {
  .pinContainer {
    grid-template-columns: minmax(300px, 1fr);
  }
}
@media (max-width: 480px) {
  .twomonth,
  .statistics,
  .adsreport {
    padding: var(--paddingboxmobile) !important;
  }
  .detail {
    flex-direction: column !important;
  }
  .headericon {
    width: 20px !important;
    height: 20px !important;
    top: 0px !important;
  }
  .summery {
    padding: var(--padding-8) !important;
  }
  .summerycounter {
    font-size: var(--font-14) !important;
    font-weight: var(--weight-400) !important;
  }
  .summerytype {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
  .totalcounter {
    font-size: var(--font-14) !important;
    font-weight: var(--weight-400) !important;
  }
  .totalabel {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
  .part {
    gap: var(--gap-10) !important;
  }
}

@media (min-width: 1440px) {
  .part {
    flex-direction: row !important;
  }
  .section1 {
    width: calc(100% - 270px) !important;
  }
  .section2 {
    min-width: 250px !important;
    width: 250px !important;
    flex-direction: column !important;
  }
}
/* ___last two month___*/
.twomonth {
  grid-row-end: span 47;
  position: relative;
  display: flex;
  width: 100%;
  gap: var(--gap-30);
  margin: 10px 0;
  padding: var(--paddingbox);
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  flex-direction: column;
  justify-content: space-between;
}
.twomonth:hover {
  box-shadow: var(--box-shadow);
}
.part {
  justify-content: space-between;
  gap: var(--gap-20);
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.section1 {
  position: relative;
  display: flex;
  gap: var(--gap-10);
  width: 100%;
  flex-direction: column;
}

.totalmonth {
  display: flex;
  gap: var(--gap-20);
}

.totalmonth {
  position: relative;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  display: flex;
  gap: var(--gap-20);
}

.month {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: var(--gap-5);
}

.icon {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.monthlabel {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-transform: capitalize;
}

.chart {
  border: 1px solid red;
  display: flex;
  position: relative;
  width: 100%;
  height: 180px;
}

.section2 {
  transition: var(--transition3);
  width: 100%;
  flex-direction: row;
  gap: var(--gap-20);
  justify-content: space-evenly;
  position: relative;
  display: flex;

  align-items: center;
}

.detail {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;

  gap: var(--gap-10);
}

.headericon {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  top: -15px;
}

.headercontent {
  flex-direction: column;
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-10);
  justify-content: center;
}

.summery {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-10);
  justify-content: center;
  padding: var(--padding-10);

  border-radius: var(--br10);
  align-content: center;
  align-items: center;
}

.summerycounter {
  position: relative;
  text-align: center;
  font-size: var(--font-18);
  font-weight: var(--weight-600);
}

.summerytype {
  position: relative;
  font-size: var(--font-16);
  font-weight: var(--weight-400);
}

.percentage {
  font-size: var(--font-12);

  font-weight: var(--weight-400);
  line-height: normal;
}

.section3 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  justify-content: space-between;
}

.totalchart {
  position: relative;
  width: 100%;
  height: 100%;
}

.sorting {
  gap: var(--gap-20);
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section5 {
  height: 100%;
  gap: var(--gap-20);
  flex-direction: column;
  overflow-x: scroll;
  position: relative;
  width: 100%;
  display: flex;
}

/* ___total ads statistics___*/
.statistics {
  grid-row-end: span 47;
  position: relative;
  display: flex;
  width: 100%;
  gap: var(--gap-30);
  margin: 10px 0;
  padding: var(--paddingbox);
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  flex-direction: column;
  justify-content: space-between;
}
.statistics:hover {
  box-shadow: var(--box-shadow);
}
.totalsummery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.totalsummerychild {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}

.totalcounter {
  position: relative;
  text-align: center;

  line-height: normal;
  color: var(--text-h1);
  font-size: var(--font-16);
  font-weight: var(--weight-600);
}

.totalabel {
  position: relative;
  text-align: center;

  line-height: normal;
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}

/* ___total ads report___*/
.adsreport {
  grid-row-end: span 72;
  position: relative;
  display: flex;
  width: 100%;
  gap: var(--gap-30);
  display: flex;
  margin: 0px 0 10px;
  padding: var(--paddingbox);
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.adsreport:hover {
  box-shadow: var(--box-shadow);
}
.table {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  height: 600px;
  min-width: 100px;
}

.tableheader {
  position: relative;
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--box-border);
  gap: var(--gap-10);
  justify-content: space-between;
  align-items: center;
  transition: var(--transition3);
  @media (max-width: 800px) {
    width: max-content !important;
  }
}
.tablecolumn {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--box-border);
  display: flex;
  gap: var(--gap-10);
  justify-content: space-between;
  align-items: center;
  transition: var(--transition3);
  @media (max-width: 800px) {
    width: max-content !important;
  }
}
.line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: red;
}
.header1,
.header2,
.header3,
.header4,
.header5,
.header6,
.header7,
.header8 {
  position: relative;
  color: var(--text-h2);
  text-align: center;
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: normal;
  text-transform: uppercase;
  transition: var(--transition3);
  @media (max-width: 800px) {
    font-weight: var(--weight-400) !important;
    font-size: var(--font-12) !important;
  }
}

.header1 {
  min-width: 30px;
  @media (max-width: 800px) {
    min-width: 23px !important;
  }
}

.header2 {
  min-width: 55px;
  @media (max-width: 800px) {
    min-width: 43px !important;
  }
}

.header3 {
  min-width: 165px;
  @media (max-width: 800px) {
    min-width: 135px !important;
  }
}

.header4 {
  min-width: 165px;
  @media (max-width: 800px) {
    min-width: 135px !important;
  }
}

.header5 {
  min-width: 70px;
  @media (max-width: 800px) {
    min-width: 60px;
  }
}

.header6 {
  min-width: 90px;
  @media (max-width: 800px) {
    min-width: 73px;
  }
}

.header7 {
  min-width: 85px;
  @media (max-width: 800px) {
    min-width: 75px;
  }
}

.header8 {
  min-width: 65px;
  @media (max-width: 800px) {
    min-width: 43px;
  }
}

.adnumber,
.tablecounter {
  position: relative;
  text-align: center;
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: normal;
  text-transform: uppercase;
  transition: var(--transition3);
  @media (max-width: 800px) {
    font-weight: var(--weight-400) !important;
    font-size: var(--font-12) !important;
  }
}

.tablecounter {
  min-width: 30px;
  color: var(--text-h2);
  @media (max-width: 800px) {
    min-width: 23px !important;
  }
}

.adnumber {
  cursor: pointer;
  min-width: 55px;
  color: var(--color-light-blue);
  @media (max-width: 800px) {
    min-width: 43px !important;
  }
}

.advertiser {
  transition: var(--transition3);
  height: 40px;
  min-width: 165px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: center;
  @media (max-width: 800px) {
    min-width: 135px !important;
    gap: var(--gap-5);
  }
}
.instagramimage {
  transition: var(--transition3);
  position: relative;
  border-radius: 50%;
  height: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  @media (max-width: 800px) {
    height: 30px !important;
  }
}
.instagramprofiledetail {
  transition: var(--transition3);
  max-width: 115px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  align-items: flex-start;
  justify-content: space-evenly;
  @media (max-width: 800px) {
    max-width: 65px !important;
    gap: 0px !important;
  }
}
.instagramusername {
  transition: var(--transition3);
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 100%;
}
.instagramid {
  transition: var(--transition3);
  position: relative;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 100%;
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}

.adtype {
  position: relative;
  text-align: center;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  overflow: hidden;
  min-width: 70px;
  transition: var(--transition3);
  @media (max-width: 800px) {
    min-width: 65px !important;
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
}
.status {
  position: relative;
  text-align: center;
  min-width: 90px;
  transition: var(--transition3);
  @media (max-width: 800px) {
    min-width: 73px !important;
  }
}

.date {
  color: var(--text-h2);
  font-weight: var(--weight-400);
  position: relative;
  text-align: center;
  min-width: 85px;
  transition: var(--transition3);
  @media (max-width: 800px) {
    min-width: 75px !important;
  }
}

.day {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  transition: var(--transition3);
  @media (max-width: 800px) {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
}
.hour {
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);

  transition: var(--transition3);
  @media (max-width: 800px) {
    font-size: var(--font-10) !important;
    font-weight: var(--weight-400) !important;
  }
}

.share {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 65px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10);
  transition: var(--transition3);
  @media (max-width: 800px) {
    min-width: 43px;
    gap: var(--gap-5);
  }
}

.sharetype {
  position: relative;
  height: 30px;
  cursor: pointer;
  transition: var(--transition3);
  @media (max-width: 800px) {
    height: 20px;
  }
}

/* ___caledar___*/

.textWrapper {
  width: 114px;
  color: var(--color-light-blue);
  text-align: center;
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: normal;
}
.textWrapper:hover {
  cursor: grab;
}
.textWrapper:active {
  cursor: grabbing;
}
.navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 20px;
  bottom: 20px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}
.backward,
.forward {
  position: relative;
  transition: var(--transition3);
  cursor: pointer;
}

.forward:hover {
  transform: scale(1.1);
}

.forward:active {
  transform: scale(0.9);
}

.backward:hover {
  transform: scale(1.1);
}

.backward:active {
  transform: scale(0.9);
}
