/* Animation keyframes */
.fadeDiv {
  pointer-events: none !important;
  opacity: 0.3 !important;
  transition: var(--transition3);
}
.soon {
  cursor: progress;
  pointer-events: none !important;
  opacity: 0.3 !important;
  z-index: 102;
  transition: var(--transition3);
  background-image: url("/soon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}
.soon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none !important;
  background-image: url("/soon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.soon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    transform: translateY(1000px) scaleY(2.5);
    transform-origin: 50%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1);
    transform-origin: 50%;
    filter: blur(0);
    opacity: 1;
  }
}
