.ButtonContainer {
  display: flex;
  gap: var(--gap-20);
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: relative;
  align-items: center;
  padding: 3px;
}

@media (max-width: 480px) {
  .cancelButton,
  .stopButton,
  .saveButton,
  .disableButton {
    text-transform: capitalize;
    font-size: var(--font-12) !important;
    height: 42px !important;
  }
}

.saveButton,
.cancelButton,
.stopButton,
.disableButton {
  text-wrap: nowrap;
  text-decoration: none;
  gap: var(--gap-8);
  font-weight: var(--weight-400);
  font-size: var(--font-14);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  border-radius: var(--br12);
  transition: var(--transition3);
  text-align: center;
  cursor: pointer;
  padding-inline: var(--padding-10);
}

.saveButton {
  border: 0;
  background: var(--color-dark-blue);
  color: #fff;
  &:hover {
    box-shadow: 0 0 0 4px var(--color-dark-blue30);
    background: var(--color-dark-blue);
  }
  &:focus {
    background: var(--color-dark-blue);
    transform: scale(0.98);
  }
}

.cancelButton {
  border: 1px solid var(--content-box);
  background: var(--color-white);
  color: var(--color-dark-blue);
  &:hover {
    color: var(--color-dark-blue);
    border: 1px solid var(--color-dark-blue);
    cursor: pointer;
    letter-spacing: 0px;
  }
  &:active {
    color: var(--color-dark-blue);
    box-shadow: 0 0 0 4px var(--color-dark-blue30);
    transform: scale(0.98);
    letter-spacing: 0px;
  }
}
.stopButton {
  border: 1px solid var(--color-dark-red);
  background: transparent;
  color: var(--color-dark-red);
  font-weight: var(--weight-400);
  &:hover {
    box-shadow: 0 0 0 4px var(--color-dark-red60);
    letter-spacing: 0px;
  }
  &:active {
    color: var(--color-dark-red);
    background: var(--color-dark-red30);
    transform: scale(0.98);
    letter-spacing: 0px;
  }
}

.disableCancelButton {
  border: 1px solid var(--content-box);
  background: var(--color-white);
  color: var(--color-dark-blue);
  opacity: 0.4;
  pointer-events: none;
}
.disableButton {
  border: 0;
  background: var(--color-gray30);
  color: var(--color-gray);
  cursor: no-drop;
}
