/* Chart styles */
#waveform {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #f0f0f0;
}

.wavesurfer-region {
  background-color: #0000ff1a;
}

.apexcharts-tooltip {
  background: var(--color-white) !important;
  border: 0 !important;
  box-shadow: var(--box-shadow) !important;
}

.apexcharts-xcrosshairs,
.apexcharts-ycrosshairs {
  stroke: var(--color-light-blue) !important;
}

.apexcharts-text tspan {
  fill: var(--text-h2) !important;
}
