.title {
  position: relative;
  width: 100%;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--text-h1);
  text-align: left;
  text-transform: capitalize;
}

.profile {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  padding: var(--padding-20) 0px var(--padding-20) 0px;
  border-top: 2px solid var(--color-gray30);
  border-bottom: 2px solid var(--color-gray30);
}
.picture {
  position: relative;
  min-width: 70px;
  width: 100%;
  max-width: 70px;
  min-height: 70px;
  height: 100%;
  max-height: 70px;

  border-radius: 70%;
}
.profiledetail {
  justify-content: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-800);
}
.username {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.userstatus {
  position: relative;
  text-align: left;
  color: var(--color-dark-green);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.option {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
}
.otheroption {
  margin-top: 30px;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
}
.optiondetail {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.optionbtn {
  position: relative;
  width: 100%;
  text-align: left;
  color: var(--text-h1);
  cursor: pointer;
  font-size: var(--font-14);
  font-weight: var(--weight-800);
  text-transform: capitalize;
}
