.pinContainer {
  height: calc(100vh - 90px);
  width: calc(100% - 40px);
  display: flex;
  column-gap: var(--gap-20);
  position: relative;
  justify-content: center;
  justify-items: center;
  margin-inline: 20px;
}

.cart {
  animation: fade-in-top 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  width: 100%;
  display: flex;
  gap: var(--gap-20);
  flex-direction: column;
  border-radius: var(--br25);
  background: var(--color-white);
  padding: var(--padding-10) var(--padding-12);
  transition: var(--transition3);
  margin-block: 10px;
}
.cart:hover {
  box-shadow: var(--box-shadow);
}

.summary {
  min-width: 350px;
  max-width: 350px;
  width: 350px;
  transition: var(--transition3);
  margin-block: 10px;
  display: flex;
  width: 100%;
  background: var(--color-white);
  border-radius: var(--br25);
  animation: fadein-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  padding: var(--padding-10) var(--padding-12);
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-30);
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .summary {
    min-width: 350px;
    max-width: 350px;
    width: 350px;
    transition: var(--transition3);
    margin-block: 10px;
    display: flex;
    width: 100%;
    background: var(--color-white);
    border-radius: var(--br25);
    animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both 0.4s;
    padding: var(--padding-10) var(--padding-12);
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-30);
    overflow-y: auto;
  }
  .summary:hover {
    box-shadow: var(--box-shadow);
  }
  .ordersummary:hover {
    background-color: var(--color-gray10);
  }
}
.pricesectionparent {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* .summary {
  min-width: 350px;
  max-width: 350px;
  width: 350px;
  transition: var(--transition3);
  margin-block: 10px;
  display: flex;
  width: 100%;
  background: var(--color-white);
  border-radius: var(--br25);
  animation: fadein-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  padding: var(--padding-10) var(--padding-12);
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-30);
  overflow-y: scroll;
} */
@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

html[dir="rtl"].summary {
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both !important;
}

@keyframes fadein-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.summary:hover {
  box-shadow: var(--box-shadow);
}

.products {
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
  width: 100%;
  color: var(--text-h1);
  overflow-y: auto;
}

.cartlist {
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
  width: 100%;
  padding: var(--paddingboxmobile);
  border-radius: var(--br5);
  background: var(--color-white);
  transition: var(--transition3);
  border-radius: var(--br25);
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.cartlist:hover {
  background-color: var(--color-gray10);
}
.cartlist:hover .product {
  background-color: var(--color-white);
}

.cartlist.hovered {
  background-color: var(--color-gray10);
}

.cartlist.collapsed {
  background-color: var(--color-gray10);
}

.productlist {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  width: 100%;
  overflow: hidden;
  transform-origin: 100% 0;
  transition: max-height 0.6s ease-in-out, opacity 0.1s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out,
    gap 0.5s ease-in-out;
  max-height: 1400px;
  opacity: 1;
}

.productlist.collapsed {
  max-height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  gap: 0;
}

.productlist:not(.collapsed) {
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.productlist.collapsed {
  animation: scale-out-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
}

@keyframes scale-out-ver-top {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    transform-origin: 100% 0;
    opacity: 0;
  }
}
.storename {
  position: relative;
  text-align: start;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 100%;
}
.product {
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  display: flex;
  flex-direction: row;
  row-gap: var(--gap-20);
  width: 100%;
  padding: var(--padding-8);
  border-radius: var(--br25);
  border: 1px solid var(--color-gray30);
  justify-content: space-between;
  align-items: flex-start;
  transition: var(--transition3);
}
.product:hover {
  border: 1px solid var(--color-dark-blue);
}
.totalpriceandshowbtn {
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  align-content: center;
  align-items: center;
}
.productname {
  min-height: 30px;
  align-content: center;
  position: relative;
  text-align: start;
  color: var(--text-h1);
  font-size: var(--font-16);
  font-weight: var(--weight-400);
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 100%;
  max-width: 100%;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  white-space: normal;
  line-height: 1.2;
}

.productimage {
  aspect-ratio: 1/1;
  height: 100px;
  width: 100px;
  border-radius: var(--br15);
  background: var(--color-gray30);
}

.nameandvariation {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
}

.variationlist {
  max-height: 60px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  column-gap: var(--gap-8);
  row-gap: var(--gap-5);
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.variation {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  align-items: center;
}

.variationname {
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}

.variationvalue {
  text-align: start;
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  align-items: center;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  background-color: var(--color-gray30);
  padding: var(--padding-5) var(--padding-8);
  border-radius: var(--br8);
}

.variationvalue > span {
  min-width: 15px;
  min-height: 15px;
  width: 15px;
  height: 15px;
  border-radius: var(--br5);
}

.productaction {
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: center;
}
.priceandaction {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  align-items: flex-end;
}

.productaction > img {
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding: var(--padding-8);
  border-radius: var(--br10);
  background-color: var(--color-gray30);
  transition: var(--transition2);
}

.productaction > img:hover {
  scale: 1.1;
}

.productaction > img:active {
  scale: 0.95;
}

.left {
  display: flex;
  height: 100%;
  flex-direction: row;
  gap: var(--gap-20);
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  align-items: flex-end;
  height: 100%;
  justify-content: space-around;
  padding-inline: var(--padding-12);
}

.productQuantity {
  color: var(--text-h2);
  font-size: var(--font-10);
  font-weight: var(--weight-400);
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  align-items: center;
}

.productQuantitycounter {
  min-width: 25px;
  width: 25px;
  padding: 1px 5px 1px 5px;
  border-radius: var(--br8);
}

.lowStock {
  background-color: var(--color-dark-red30);
  color: var(--color-dark-red);
}

.mediumStock {
  background-color: var(--color-dark-yellow30);
  color: var(--color-dark-yellow);
}

.highStock {
  background-color: var(--color-dark-green30);
  color: var(--color-dark-green);
}

.productcounter {
  color: var(--color-light-blue);
  border: 2px solid var(--color-light-blue60);
  border-radius: var(--br8);
  padding: var(--paddingtag);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  width: max-content;
}

.cartprice {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}

.showbtn {
  background: transparent;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: var(--transition3);
}
.showbtn:hover {
  scale: 1.1;
}
.showbtn.collapsed {
  transform: rotate(90deg);
}
.undoPopupparent {
  position: fixed;
  height: 50px;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.undoPopup {
  animation: var(--slide-in);
  color: var(--text-h1);
  background: var(--color-white);
  border: 1px solid var(--color-gray30);
  border-radius: var(--br15);
  padding: var(--padding-10);
  display: flex;
  gap: var(--gap-20);
  align-items: center;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.undoPopup button {
  background: var(--color-dark-blue);
  color: var(--text-h1);
  border: none;
  border-radius: var(--br8);
  padding: var(--padding-5) var(--padding-10);
  cursor: pointer;
  transition: var(--transition3);
}

.undoPopup button:hover {
  background: var(--color-dark-blue60);
}

.timerRing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5) var(--padding-10);
  border-radius: 50%;
  position: relative;
  height: 28px;
  width: 28px;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  background: conic-gradient(var(--color-dark-blue) 0deg, var(--color-gray30) 0deg);
}

.summarymobile {
  transition: var(--transition3);
  grid-row-end: span 79;
  margin-block: 20px;
  display: none;
  width: 100%;
  background: var(--color-white);
  border-radius: var(--br30);
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both 0.4s;
  padding: var(--padding-10) var(--padding-12);
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-30);
  overflow: scroll;
}

.ordersummary {
  padding: var(--paddingboxmobile);
  border-radius: var(--br25);
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  width: 100%;
  color: var(--text-h1);
  transition: var(--transition3);
}
.ordersummary:hover {
  background-color: var(--color-gray10);
}

.ordersummaryheader {
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--text-h1);
  font-weight: var(--weight-400);
  font-size: var(--font-14);
}
.summarycontent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  width: 100%;
  color: var(--text-h1);
}
.pricerow {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  gap: var(--gap-20);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.discountrow {
  display: flex;
  flex-direction: row;
  gap: var(--gap-20);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.discountrow > div > div,
.discountrow > div > div > div {
  color: var(--color-dark-green) !important;
  fill: var(--color-dark-green) !important;
}
.summarytotalprice {
  display: flex;
  text-transform: capitalize;
  flex-direction: row;
  gap: var(--gap-20);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray30);
  border-radius: var(--br8);
  padding: var(--padding-8) var(--padding-10);
  font-size: var(--font-16);
  font-weight: var(--weight-600);
}

.emptycart,
.emptysummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-20);
  padding: var(--padding-20);
  height: 100%;
  min-height: 400px;
  text-align: center;
}

.emptycart img,
.emptysummary img {
  width: 200px;
  height: 200px;
  opacity: 0.5;
}

.emptycart h3,
.emptysummary h3 {
  color: var(--text-h1);
  font-size: var(--font-20);
  font-weight: var(--weight-400);
}

.emptycart p,
.emptysummary p {
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}

@media (max-width: 1024px) {
  .emptycart,
  .emptysummary {
    min-height: 300px;
    padding: var(--padding-10);
  }

  .emptycart img,
  .emptysummary img {
    width: 150px;
    height: 150px;
  }

  .emptycart h3,
  .emptysummary h3 {
    font-size: var(--font-16);
  }

  .emptycart p,
  .emptysummary p {
    font-size: var(--font-12);
  }
}

@media (max-width: 1024px) {
  .pinContainer {
    display: flex !important;
    margin-inline: 10px !important;
    width: calc(100% - 20px) !important;
    height: calc(100vh - 90px) !important;
  }
  .cart {
    padding: var(--padding-8) !important;
    border-radius: var(--br15) !important;
    margin-block: 10px !important;
  }
  .product {
    padding: var(--padding-8);
    border-radius: var(--br15);
    flex-direction: column !important;
    gap: var(--gap-10) !important;
  }
  .totalpriceandshowbtn > div:first-child {
    display: none !important;
  }
  .nameandvariation {
    gap: var(--gap-5) !important;
    padding-top: 0 !important;
  }
  .variationlist {
    height: 60px !important;
    column-gap: var(--gap-8) !important;
    row-gap: var(--gap-5) !important;

    max-height: 50px;
  }
  .variation {
    gap: var(--gap-5) !important;
  }
  .variationname {
    font-size: var(--font-12) !important;
  }
  .variationvalue {
    padding: var(--paddingtag) !important;

    font-size: var(--font-10) !important;
    padding: var(--padding-3) var(--padding-5) !important;
    border-radius: var(--br5);
  }
  .productname {
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
    font-size: var(--font-12) !important;
    min-height: 25px;
  }
  .cartlist {
    padding: var(--padding-8) !important;
    border-radius: var(--br15);
    gap: var(--gap-8) !important;
  }
  .left {
    gap: var(--gap-8) !important;
  }
  .right {
    justify-content: space-between !important;
    flex-direction: row-reverse !important;
    gap: var(--gap-5) !important;
    width: 100% !important;
    background-color: var(--color-gray10) !important;
    padding: var(--padding-8) var(--padding-5) !important;
    border-radius: var(--br10) var(--br10) var(--br15) var(--br15) !important;
  }
  html[dir="rtl"] .right {
    flex-direction: row !important;
  }
  html[dir="rtl"] .priceandaction {
    align-items: flex-start !important;
  }

  .productimage {
    height: 80px !important;
    width: 80px !important;
    border-radius: var(--br10);
  }
  .productQuantity {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
  .productQuantitycounter {
    padding: var(--paddingtag) !important;
    border-radius: var(--br8);
    min-width: 25px;
    font-size: var(--font-12);
  }
  .productcounter {
    font-size: var(--font-10) !important;
    padding: var(--padding-3) var(--padding-5) !important;
    font-weight: var(--weight-400) !important;
    border-radius: var(--br8);
  }
  .cartprice {
    font-size: var(--font-12) !important;
  }
  .summary {
    display: none !important;
  }
  .ordersummary {
    display: flex;
    flex-direction: column;
    gap: var(--gap-20);
    width: 100%;
    color: var(--text-h1);
    transition: var(--transition3);
    padding: var(--padding-10) !important;
    border-radius: var(--br15);
    gap: var(--gap-15);
    backdrop-filter: blur(25px) brightness(0.9) saturate(1.5);
    position: sticky;
    bottom: 0px;
  }
  .ordersummary:hover {
    background-color: var(--color-gray10);
  }
  .ordersummaryheader {
    display: flex;
    flex-direction: column;
    gap: var(--gap-5);
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--text-h1);
    font-weight: var(--weight-400);
    font-size: var(--font-12);
  }
  .summarycontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--text-h1);
    gap: var(--gap-8);
  }
  .pricerow {
    padding-inline: 8px;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-12);
    font-weight: var(--weight-400);
    gap: var(--gap-10);
  }
  .discountrow {
    padding-inline: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-12);
    font-weight: var(--weight-400);
    gap: var(--gap-10);
  }
  .discountrow > div > div,
  .discountrow > div > div > div {
    color: var(--color-dark-green) !important;
    fill: var(--color-dark-green) !important;
  }
  .summarytotalprice {
    display: flex;
    text-transform: capitalize;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray30);
    border-radius: var(--br8);
    font-weight: var(--weight-600);
    padding: var(--padding-5) var(--padding-8);
    font-size: var(--font-14);
    gap: var(--gap-10);
  }
  .undoPopup {
    animation: var(--slide-in);

    color: var(--text-h1);

    background: var(--color-white);
    border: 1px solid var(--color-gray30);
    border-radius: var(--br15);
    padding: var(--padding-10);
    display: flex;
    align-items: center;
    z-index: 1000;

    box-shadow: var(--box-shadow);
    padding: var(--padding-8);
    gap: var(--gap-10);
    justify-content: space-between;
  }
  .undoPopup button {
    background: var(--color-dark-blue);
    color: var(--text-h1);
    border: none;
    border-radius: var(--br8);
    padding: var(--padding-5) var(--padding-10);
    cursor: pointer;
    transition: var(--transition3);
  }
  .undoPopup button:hover {
    background: var(--color-dark-blue60);
  }
  .timerRing {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    height: 28px;
    width: 28px;
    font-size: var(--font-12);
    font-weight: var(--weight-400);
    background: conic-gradient(var(--color-dark-blue) 0deg, var(--color-gray30) 0deg);
    height: 24px;
    width: 24px;
  }
}

.tagcolor {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
