/* ___ shortcut link___ */
.shortcut {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  gap: var(--gap-15);
  justify-content: flex-start;
}

.selected {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap-10);
  width: 100%;
  padding: var(--padding-5);
}
.selectedicon {
  padding: var(--padding-5);
  background-color: var(--color-gray10);
  pointer-events: none !important;
  position: relative;
  min-width: 50px;
  height: 50px;
  width: 50px;
  min-height: 50px;
  border-radius: var(--br10);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectedicon > svg {
  fill: var(--color-dark-blue);
}
.selecteddetail {
  position: relative;
  display: flex;
  gap: var(--gap-5);
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.selectedname {
  position: relative;
  color: var(--text-h1);
  font-weight: var(--weight-600);
  font-size: var(--font-16);
  text-transform: capitalize;
}
.selectedexplain {
  position: relative;
  color: var(--text-h2);
  font-weight: var(--weight-400);
  font-size: var(--font-12);
  text-transform: capitalize;
}
.linkiconpoolall {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}
.linkiconpool {
  position: relative;
  width: 100%;
  display: flex;
  height: 100%;
  max-height: 300px;
  flex-direction: column;
  gap: var(--gap-15);
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--color-gray30);
  border-radius: var(--br10);
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--padding-10);
  animation: var(--top04);
  background-color: var(--color-gray10);
}

.poolsection {
  line-break: auto;
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-5);
  flex-direction: column;
  align-items: flex-start;
}
.pooltitle {
  left: 5px;
  position: relative;
  color: var(--text-h2);
  font-weight: var(--weight-400);
  font-size: var(--font-14);
  text-transform: capitalize;
}
.poolicon {
  position: relative;
  width: calc(100% - 5px);
  display: flex;
  gap: var(--gap-8);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.pooliconchild {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: var(--br8);

  padding: var(--padding-5);
  border: 1px solid transparent;
  cursor: pointer;
  fill: var(--text-h2);
  transition: var(--transition2);
  align-items: center;
  justify-content: center;
  align-content: center;
}
.pooliconchild:hover {
  background-color: var(--color-dark-blue30);
  fill: var(--color-dark-blue);
}
.pooliconchild:active {
  border: 1px solid var(--color-dark-blue);
}
.pooliconchild.selected {
  background-color: var(--color-dark-blue30);
  fill: var(--color-dark-blue);
}
.customicon {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  gap: var(--gap-5);
  line-height: 20px;
  animation: var(--top04);
}
.browse {
  color: var(--color-light-blue);
  font-size: var(--font-14);
  font-weight: var(--weight-900);
  cursor: pointer;
}
.all {
  position: relative;
  display: flex;
  flex-direction: column;
  animation: var(--top04);
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-inline: 3px;
  gap: var(--gap-20);
  overflow-y: auto;
}
.maintitle {
  position: relative;
  width: 100%;
  font-size: var(--font-16);
  font-weight: var(--weight-800);
  color: var(--text-h1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
}
.header {
  gap: var(--gap-20);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-5);
}
.explain {
  position: relative;
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  width: 100%;
  text-align: left;
}
.inputtext {
  position: relative;
  width: 100%;
  height: 40px;
}
.disableInputBox {
  position: relative;
  width: 100%;
  height: 40px;
  text-wrap: nowrap;
  pointer-events: none;
  opacity: 0.3;
}

.textareaheader {
  display: flex;
  gap: var(--gap-30);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.textareatitle {
  left: 10px;
  display: flex;
  text-transform: uppercase;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--text-h2);
}
.counter {
  font-size: var(--font-12);
  text-align: center;

  font-weight: var(--weight-400);
  line-height: normal;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--text-h2);
}
.dateTime {
  margin-top: 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: var(--gap-10);
  height: 40px;
  overflow-x: hidden;
  transition: var(--transition2);
}
.input {
  display: flex;
  position: relative;
  border-radius: var(--br10);
  border: 1px solid var(--content-box);
  background-color: var(--color-disable);
  width: 100%;
  text-wrap: nowrap;
  padding: var(--padding-10);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--text-h1);
  gap: var(--gap-1);
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  transition: var(--transition3);
}

/* Added to match TSX references */

.Calendaricon {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
