/* ___1- General___ */
@media (max-width: 768px) {
  .general {
    padding: var(--padding-12) var(--padding-10) var(--padding-50) var(--padding-10) !important;
  }
  .general > div:first-child > div:nth-child(2) {
    flex-wrap: nowrap !important;
    align-items: flex-start !important;
    flex-direction: column !important;
  }
  .brand,
  .Category > div {
    max-width: 100% !important;
  }
}
.general > div > div > div > div > div:nth-child(2),
.general > div > div > div > div > div:nth-child(1) > div:nth-child(2) {
  display: none;
}

.general {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: var(--gap-30);
  animation: var(--top08);
  padding: var(--paddingboxmobile);
  background-color: var(--color-white);
  border-radius: var(--br20);
  transition: var(--transition3);
}

.Category {
  position: relative;
  width: 100%;
  gap: var(--gap-20);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.brand {
  margin-top: 10px;
  position: relative;
  width: 100%;
  max-width: calc(50% - 11px);
  height: 280px;
  gap: var(--gap-20);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.namesection {
  display: flex;
  gap: var(--gap-5);
  width: 100%;
  justify-content: space-between;
}

.nameenglish {
  text-align: left;
  font-size: var(--font-12);
  min-width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-wrap: auto;
}
.namepersian {
  min-width: 45%;
  text-align: right;
  justify-content: flex-end;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  display: flex;
  align-items: center;
  text-wrap: auto;
}
