/* ___left___ */
.postRight {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 320px;
  height: 100%;
  display: flex;
  color: var(--text-h1);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-20);
  transition: var(--transition3);
}
.rightcontainer {
  animation: opacity 0.25s ease-in-out;
  position: relative;
  display: flex;
  min-width: 250px;
  width: 100%;
  gap: var(--gap-20);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imagecontainer {
  position: relative;
  display: flex;
  min-width: 250px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.loader > div > svg > circle {
  stroke: var(--color-ffffff) !important;
}
.postpicture {
  object-fit: contain;
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--br20);
  transition: var(--transition2);
  border: 1px solid var(--color-gray30);
}
.navigation {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}
.navigationicon:hover {
  scale: 1.1;
}
.navigationicon:active {
  scale: 0.95;
}
html[dir="rtl"] .navigationicon {
  rotate: 180deg;
}
.navigationicon {
  background-color: var(--color-black80);
  border-radius: var(--br8);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 25px;
  height: 25px;
  padding: var(--padding-5);
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: var(--transition2);
}
.thumbnail {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  gap: var(--gap-8);
  padding: var(--padding-2);
  overflow-x: scroll;
  transition: var(--transition2);
}
.thumbnailpic {
  position: relative;
  object-fit: cover;
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  border-radius: var(--br10);
  background-color: var(--color-gray30);
  border: 3px solid var(--background-root);
  transition: var(--transition2);
  cursor: pointer;
}
.activeThumbnail {
  box-shadow: 0px 0px 0px 2px var(--color-dark-blue60);
  transition: var(--transition2);
}
/* ___right___ */

/* step progress */
.stepprogressmobileinfo {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  transition: var(--transition3);
  animation: slide-left-header 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .stepprogressmobileinfo {
  animation: slide-right-header 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
}
@keyframes slide-left-header {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-right-header {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.mobilecircle {
  width: 28px !important;
  height: 28px !important;
  border: 8px solid var(--color-dark-blue) !important;
  box-shadow: 0 0 0 6px var(--color-dark-blue30);
  border-radius: 50%;
}
.stepcounter {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-weight: var(--weight-400) !important;
  font-size: var(--font-14) !important;
  color: var(--text-h2) !important;
}
@media (min-width: 768px) {
  .stepprogressmobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .stepprogress,
  .stepprogressmobile::before,
  .step1Done,
  .step2Done,
  .step3Done,
  .step4Done,
  .step5Done,
  .step7Done,
  .step6Done,
  .step1,
  .step2,
  .step3,
  .step4,
  .step5,
  .step7,
  .step6,
  .step1Active::before,
  .step2Active::before,
  .step3Active::before,
  .step4Active::before,
  .step5Active::before {
    display: none !important;
  }

  .step1Active,
  .step2Active,
  .step3Active,
  .step4Active,
  .step5Active,
  .step6Active,
  .step7Active {
    font-size: var(--font-14) !important;
    font-weight: var(--weight-600) !important;
    color: var(--color-dark-blue) !important;
    width: max-content !important;
    flex-direction: row !important;
    padding-inline-start: 5px !important;
    height: 40px !important;
    gap: var(--gap-15) !important;
  }
  .status1Active,
  .status2Active,
  .status3Active,
  .status4Active,
  .status5Active,
  .status7Active,
  .status6Active {
    width: fit-content !important;
    height: fit-content !important;
    border: 0px solid var(--color-dark-blue) !important;
    align-items: center !important;
    justify-content: flex-start !important;
    font-weight: var(--weight-600) !important;
    font-size: var(--font-14) !important;
    color: var(--text-h1) !important;
  }
  .header {
    padding: var(--padding-10) 14px !important;
  }
  .titleCard > div:nth-child(1) {
    max-height: 38px !important;
    min-width: 38px !important;
  }
  .titleCard > div:nth-child(2) {
    max-height: 38px !important;
    min-width: 70px !important;
  }
}
@media (max-width: 1024px) {
  .postRight {
    height: 30px;
    max-width: 100%;
    overflow-y: scroll;
  }
}

/* @media (max-width: 500px) {
    .stepprogress {
      scale: 0.6 !important;
    }
  }
  @media (max-width: 1024px) {
    .stepprogress {
      scale: 0.85;
    }
  } */
.stepheader {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.stepprogress {
  width: 100%;
  min-height: 60px;
  position: relative;
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  transition: var(--transition3);
}
.stepprogress::before {
  content: "";
  position: absolute;
  width: calc(100% - 16%);
  height: 2px;
  background-color: var(--color-gray60);
  top: 16px;
  left: 8%;
  z-index: 0;
}
.step0,
.step0Active,
.step0Done,
.step5,
.step5Active,
.step5Done,
.step7Done::before,
.step8,
.step8Active,
.step8Done {
  display: none;
}
.step1,
.step2,
.step3,
.step4,
.step5,
.step7,
.step6 {
  position: relative;
  display: flex;
  gap: var(--gap-10);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33.3%;
  font-weight: var(--weight-300);
  font-size: var(--font-14);
  color: var(--text-h1);
  transition: var(--transition3);
}

.step1Active,
.step2Active,
.step3Active,
.step4Active,
.step5Active,
.step6Active,
.step7Active {
  position: relative;
  display: flex;
  gap: var(--gap-10);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33.3%;
  border-radius: var(--br5);
  font-weight: var(--weight-600);
  font-size: var(--font-14);
  color: var(--text-h1);
  transition: var(--transition3);
}
.step1Active::before {
  border-radius: var(--br5);
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: var(--color-dark-blue);
  top: 13px;
  z-index: 0;
  animation: slide-left-stat 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .step1Active::before {
  animation: slide-right-stat 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-left-stat {
  0% {
    opacity: 0;
    transform: translateX(22%);
  }
  100% {
    opacity: 1;
    transform: translateX(50%);
  }
}
@keyframes slide-right-stat {
  0% {
    opacity: 0;
    transform: translateX(-22%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}
.step2Active::before,
.step3Active::before,
.step4Active::before,
.step5Active::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: var(--color-dark-blue);
  border-radius: var(--br5);
  top: 13px;
  z-index: 0;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .step2Active::before {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .step3Active::before {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .step4Active::before {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .step5Active::before {
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(-170%);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(170%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.step1Done,
.step2Done,
.step3Done,
.step4Done,
.step5Done,
.step7Done,
.step6Done {
  position: relative;
  display: flex;
  gap: var(--gap-10);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33.3%;
  font-weight: var(--weight-600);
  font-size: var(--font-14);
  color: var(--color-dark-blue);
  transition: var(--transition3);
}
.step1Done::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 50%;
  background-color: var(--color-dark-blue);
  top: 13px;
  z-index: 0;
  transition: width 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
html[dir="rtl"] .step1Done::before {
  right: 50%;
  left: auto;
}

.step1Done.active::before {
  width: 0%;
}
.step2Done::before,
.step3Done::before,
.step4Done::before,
.step5Done::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--color-dark-blue);
  top: 13px;
  z-index: 0;
  animation: slide-1 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .step2Done::before {
  animation: slide-2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .step3Done::before {
  animation: slide-2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .step4Done::before {
  animation: slide-2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
html[dir="rtl"] .step5Done::before {
  animation: slide-2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes slide-2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.status {
  width: 30px;
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;

  position: relative;
  display: flex;
  border: 2px solid var(--color-gray);
  align-items: center;
  justify-content: center;
  align-content: center;
  font-weight: var(--weight-300);
  font-size: var(--font-12);
  color: var(--text-h1);
  background-color: var(--color-white);
  transition: var(--transition2);
  z-index: 2;
}
.status1Done,
.status2Done,
.status3Done,
.status4Done,
.status5Done,
.status7Done,
.status6Done {
  background-color: var(--color-dark-blue);
  width: 30px;
  height: 30px;
  border-radius: 50%;

  position: relative;
  display: flex;
  border: 3px solid var(--color-dark-blue);
  align-items: center;
  justify-content: center;
  align-content: center;
  font-weight: var(--weight-800);
  font-size: var(--font-12);
  color: var(--color-ffffff);
  transition: var(--transition6);
  z-index: 2;
}
.status1Active,
.status2Active,
.status3Active,
.status4Active,
.status5Active,
.status7Active,
.status6Active {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  position: relative;
  display: flex;
  border: 4px solid var(--color-dark-blue);
  align-items: center;
  justify-content: center;
  align-content: center;
  font-weight: var(--weight-800);
  font-size: var(--font-12);
  color: var(--text-h1);
  background-color: var(--color-white);
  transition: var(--transition3);
  z-index: 2;
}
/* step progress */
.stepleft {
  border-radius: var(--br20);
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  max-width: 1920px;

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-10);
  transition: var(--transition3);
}

.header {
  background-color: var(--color-white);
  display: flex;
  border-radius: var(--br20);
  width: 100%;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-20);
  padding: var(--paddingboxmobile);
}
.stepcontent {
  width: 100%;
  height: 100%;
  gap: var(--gap-20);
  padding: var(--paddingboxmobile);
}
.titleCard {
  position: relative;
  display: flex;
  gap: var(--gap-15);
  color: var(--text-h1);
  font-size: var(--font-18);
  font-weight: var(--weight-800);
  text-transform: capitalize;
  align-items: center;
}
html[dir="rtl"] .titleCard > div:first-child {
  rotate: 180deg;
}

.headermenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white30);
  width: fit-content;
  padding: 0px var(--padding-20);
  color: var(--color-ffffff);
  font-size: var(--font-16);
  font-weight: var(--weight-600);

  height: 40px;
  border-radius: var(--br10);
  align-items: center;
  cursor: pointer;
  transition: var(--transition3);
}

/* ___6- Setting___ */

/* ___6- postInfo___ */
.Section {
  position: relative;
  width: 100%;
  height: 100%;
  gap: var(--gap-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition3);
}
.insightpreview {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.postdetail {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  align-items: center;
  justify-content: center;
  border-radius: var(--br10);
  padding: var(--padding-8);
}

.postdetail:hover {
  background-color: var(--color-gray30);
}

.insightcounter {
  position: relative;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--text-h2);

  @media (max-width: 800px) {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
}

.postdetailicon {
  position: relative;
  width: 30px;
  height: 25px;
  @media (max-width: 800px) {
    width: 20px !important;
    height: 15px !important;
  }
}
