.setting {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--paddingboxmobile);
  overflow-y: scroll;
  overflow-x: hidden;
  gap: var(--gap-30);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  animation: var(--top08);
  background-color: var(--color-white);
  border-radius: var(--br20);
  transition: var(--transition3);
}

@media (max-width: 768px) {
  .setting {
    overflow-y: scroll;
    padding: var(--padding-12) var(--padding-10) var(--padding-50) var(--padding-10) !important;
  }
}
.Availablityselect {
  display: flex;
  gap: var(--gap-5);
}
/* .container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--gap-20);
}
.container > div {
  max-width: 100%;
  width: calc(33% - 11px);
  min-width: 280px;
} */
.basic {
  background-color: var(--color-gray10);
  padding: var(--padding-10);
  border-radius: var(--br15);
  width: 100%;
  display: grid;
  gap: var(--gap-20);
  grid-template-columns: repeat(3, 1fr);
  transition: var(--transition3);
}

.inputandsub input {
  padding-inline: 50px 5px;
}
@media (max-width: 1024px) {
  .basic {
    grid-template-columns: repeat(2, 1fr);
  }
  .basic > :last-child {
    grid-column: 1 / -1;
  }
}

@media (max-width: 600px) {
  .basic {
    grid-template-columns: 1fr;
  }
  .subinput {
    font-size: var(--font-10) !important;
    width: 40px !important;
  }
  .inputandsub input {
    padding-inline: 50px 0px !important;
  }
}
.inputandsub > div :nth-child(2) {
  display: none !important;
}

.shipping {
  background-color: var(--color-gray10);
  padding: var(--padding-10);
  border-radius: var(--br15);
  width: 100%;
  gap: var(--gap-20);
  display: flex;
  transition: var(--transition3);
}

@media (max-width: 600px) {
  .shipping {
    flex-direction: column !important;
  }
  .shippinginfo {
    max-width: 100% !important;
  }
}
.shippinginfo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50%;
  gap: var(--gap-20);
}

.customsize {
  align-items: flex-start;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-8);

  width: 100%;
  justify-content: space-between;
  animation: 0.3s top ease-in-out;
}

.shippingboxnew {
  height: calc(300 + 40px);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.boxsvg {
  width: 300px;
}
.boxsvg > path {
  fill: var(--color-gray10);
  stroke: var(--color-gray);
  stroke-width: 1;
}
.boxsvg > path:hover {
  fill: var(--color-gray30) !important;
  stroke: var(--color-dark-blue);
  stroke-width: 2;
}
.selectedFace {
  text-wrap: nowrap;
  text-align: center;
  margin-top: 5px;
  color: var(--text-h2);
  font-size: var(--font-12);
}

.inputandsub {
  position: relative;
}
.headerandinputhalf {
  align-items: flex-start;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-8);

  width: 100%;
  justify-content: space-between;
}

.popupbtn {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: var(--gap-8);
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  padding: var(--padding-8);
  font-size: var(--font-14);
  color: var(--color-ffffff);

  font-weight: var(--weight-400);
  border: 1px solid var(--color-dark-blue60);
  position: relative;
  border-radius: var(--br8);
  cursor: pointer;
  transition: var(--transition2);

  align-items: center;
  justify-content: center;
  fill: var(--color-ffffff);
}
.popupbtn:hover {
  box-shadow: 0px 0px 0px 4px var(--color-dark-blue60);
}
/* ___size box popup ___ */
.popupContent {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  border-radius: var(--br25);
  background: var(--color-white);
  padding: var(--paddingbox);
  justify-content: space-between;
  width: 395px;
  max-width: calc(100% - 40px);
  height: 650px;
  max-height: calc(100% - 40px);
  gap: var(--gap-20);
  min-width: 250px;
  align-items: center;
  overflow-y: scroll;
  animation: var(--fadeIn3);
  @media (max-width: 480px) {
    padding: var(--paddingboxmobile);
  }
}
.popupContent > div:last-child {
  min-height: 48px;
}

.boxicon {
  position: relative;
  min-width: 200px;
  width: 250px;
  min-height: 200px;
  height: 250px;
}

.widthvalue {
  position: absolute;
  font-size: var(--font-18);
  color: var(--color-dark-blue);
  font-weight: var(--weight-600);
  text-align: center;
  width: 20px;
  top: 190px;
  left: 20px;
}

.lengthvalue {
  position: absolute;
  font-size: var(--font-18);
  color: var(--color-dark-blue);
  font-weight: var(--weight-600);
  text-align: center;
  width: 20px;
  top: 165px;
  left: 210px;
}

.heightvalue {
  position: absolute;
  font-size: var(--font-18);
  color: var(--color-dark-blue);
  font-weight: var(--weight-600);
  text-align: center;
  width: 20px;
  top: 50px;
  left: 260px;
}
@media (max-width: 480px) {
  .heightvalue {
    left: 250px;
  }
}

.sizevalue {
  position: absolute;
  font-size: var(--font-12);
  color: var(--color-ffffff);
  font-weight: var(--weight-400);
  top: 75px;
  left: 130px;
  width: 61px;
  transform: skewY(327deg);
  padding: var(--paddingtag);
  background-color: var(--content-box);
  border-radius: var(--br5);
}
.weightvalue {
  position: absolute;
  font-size: var(--font-10);
  color: var(--color-ffffff);
  font-weight: var(--weight-300);
  top: 98px;
  left: 130px;
  width: 60px;
  transform: skewY(327deg);
  padding: var(--paddingtag);
  background-color: var(--content-box);
  border-radius: var(--br5);
}

.boxtable {
  position: relative;
  width: 100%;
  display: flex;

  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  gap: var(--gap-10);
}

.boxsizeheader {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-14);
  color: var(--text-h1);
  font-weight: var(--weight-600);
  align-items: center;
  flex-direction: row;
  @media (max-width: 480px) {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-800);
  }
}
.boxsizeheader > th {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  column-gap: var(--gap-10);
}
.boxsizebody {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-14);
  color: var(--text-h1);
  font-weight: var(--weight-400);
  align-items: center;
  flex-direction: column;
}
.boxsizebody > tr {
  position: relative;
  display: flex;
  width: 100%;
  border-top: 1px solid var(--color-gray10);
  padding: var(--padding-2) 0px;
  color: var(--text-h2);
  font-weight: var(--weight-200);
  font-size: var(--font-10);
  justify-content: space-between;
  align-items: center;
  transition: var(--transition1);
}
.boxsizebody > tr:hover {
  background-color: var(--color-gray30);
  border-radius: var(--br5);
}
.boxsizebody > tr > td:nth-child(n + 2):nth-child(-n + 4) {
  position: relative;
  width: calc(20% - 8px);
  color: var(--text-h1);
  font-size: var(--font-14);
}

.boxsizebody > tr > td:first-child,
.boxsizebody > tr > td:last-child {
  font-weight: var(--weight-600);
  color: var(--text-h1);
  font-size: var(--font-14);
  width: 20%;
}

.subinput {
  position: absolute;
  color: var(--text-h2);
  font-weight: var(--weight-400);
  font-size: var(--font-12);
  z-index: 2;
  border-right: 1px solid var(--color-gray60);
  padding-inline: var(--padding-10);
  display: flex;
  left: 0px;
  border-radius: var(--br15) 0px 0px var(--br15);
  background-color: var(--color-gray10);
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.inputandsub > input {
  text-align: right !important;
}
.tooltip {
  position: absolute;
  top: 25px;
  width: 200px;
  display: flex;
  cursor: pointer;
  text-transform: capitalize;
  background-color: var(--background-root);
  border-radius: var(--br8);
  padding: var(--padding-8);
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  transition: var(--transition3);
  box-shadow: var(--small-shadow);
  animation: var(--fadeIn3);
  z-index: 10;
}
.tooltip:after {
  content: "";
  position: absolute;
  top: -10px;
  margin-inline-start: 15px;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--background-root) transparent;
}
