/* ___3- Properties___ */
.variation {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--paddingboxmobile);
  overflow-y: scroll;
  overflow-x: hidden;
  gap: var(--gap-40);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  animation: var(--top08);
  background-color: var(--color-white);
  border-radius: var(--br20);
  transition: var(--transition3);
}

/* @media (max-width: 1240px) {

} */
@media (min-width: 1020px) {
  .variationsetting > div:nth-child(1) {
    max-width: 30% !important;
  }
}
@media (min-width: 768px) and (max-width: 890px) {
  .variationsection > div:nth-child(2) > span {
    display: none !important;
  }
  .variationsetting > div:nth-child(1) > div:nth-child(1) {
    max-width: 100px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .variationsection > div:nth-child(2) > span {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .variation {
    overflow-y: scroll;
    padding: var(--padding-12) var(--padding-10) var(--padding-50) var(--padding-10) !important;
  }
  .variationselection > div {
    max-width: 100% !important;
  }

  .variationsetting > div:nth-child(1) > div:nth-child(1) {
    width: 40% !important;
    min-width: auto !important;
  }
  .variationsetting > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    width: calc(60% - 8px) !important;
  }

  .variationsetting > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    width: 40% !important;
  }
  .variationselection,
  .variationsetting {
    flex-direction: column !important;
  }
  .variationsetting > div:nth-child(2) {
    max-width: 350px;
  }
  .variationlist {
    padding: var(--padding-12) var(--padding-10) !important;
  }
  .addmorebtn {
    gap: var(--gap-8) !important;
    flex-direction: column !important;
  }
  .addnewproperty,
  .exitedproperty {
    font-size: var(--font-12) !important;
    padding: var(--padding-10) var(--padding-10) !important;
    max-width: 100% !important;

    height: max-content !important;
  }

  .addnewproperty > div:first-child,
  .exitedproperty > div:first-child {
    height: auto !important;
    flex-direction: column-reverse !important;
    text-wrap: balance !important;
    gap: var(--gap-8) !important;
    align-items: start !important;
  }
  .exitedproperty > div:nth-child(2) {
    font-size: var(--font-10) !important;
  }
  .addnewproperty > div:nth-child(2) {
    font-size: var(--font-10) !important;
    text-wrap: balance !important;
  }
}
.namesection {
  display: flex;
  font-size: var(--font-12);
  justify-content: space-between;
}
.variationparent {
  width: 100%;
  min-width: 100%;
  animation: 0.3s top ease-in-out;
}
.variationlist {
  border: 1px solid transparent;
  padding: var(--padding-16);
  background-color: var(--color-gray10);
  border-radius: var(--br15);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);

  transition: var(--transition2);
  width: calc(100%-20px);
}

.variationsetting {
  position: relative;
  width: 100%;
  gap: var(--gap-20);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.addmorebtn {
  position: relative;
  width: 100%;
  gap: var(--gap-20);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.variationselection {
  position: relative;
  width: 100%;
  gap: var(--gap-20);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.variationselection > div > div:nth-child(2) > div:nth-child(2) {
  display: none;
}
.addnewproperty {
  cursor: pointer;
  width: 100%;
  max-width: 250px;

  color: var(--text-h1);
  font-weight: var(--weight-400);
  font-size: var(--font-14);
  padding: var(--padding-14) var(--padding-20);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  background-color: transparent;
  border-radius: var(--br15);
  border: 1px solid var(--color-gray60);
  justify-content: space-around;
  transition: var(--transition2);
}
.addnewproperty:hover {
  background-color: var(--color-gray30);
}
.exitedproperty {
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  height: 80px;
  color: var(--text-h1);
  font-weight: var(--weight-400);
  font-size: var(--font-14);
  padding: var(--padding-14) var(--padding-20);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  background-color: transparent;
  border-radius: var(--br15);
  border: 1px solid var(--color-dark-green);
  justify-content: space-around;
  transition: var(--transition2);
}

.responsiveitem {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-20);

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition3);
}

.variationexplain {
  text-align: start;
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  text-transform: capitalize;

  line-height: normal;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discountbtn {
  display: flex;
  flex-direction: row;
  gap: var(--gap-8);
  height: 40px;
  padding: var(--padding-10);
  font-size: var(--font-14);
  color: var(--text-h2);
  font-weight: var(--weight-400);
  position: relative;

  border-radius: var(--br8);
  cursor: pointer;
  transition: var(--transition3);
  border: 1px solid var(--content-box);
  align-items: center;
  justify-content: center;
}
.discountbtn:hover {
  border: 1px solid var(--color-dark-blue);
}

.deletebtn {
  width: 20px;
  cursor: pointer;
  position: relative;
  transition: var(--transition2);
}
.deletebtn:hover {
  scale: 1.1;
}
.variationsection {
  position: relative;

  width: 100%;
  display: flex;
  gap: var(--gap-8);
}
.variationsection > span {
  background-color: var(--color-gray30);
  height: 40px;
  padding: var(--padding-8);
  border-radius: var(--br8);
  display: flex;
  align-items: center;
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  animation: 0.4s top ease-in-out;
}
.addnewvariation {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-20);
  z-index: -1;
}
.addnewbtn {
  padding: var(--padding-5) var(--padding-10);
  min-width: max-content;
  position: relative;
  background-color: transparent;
  border-radius: var(--br8);

  border: 1px solid var(--color-dark-blue);
  font-size: var(--font-14);
  color: var(--color-dark-blue);
  font-weight: var(--weight-400);
  display: flex;
  gap: var(--gap-10);
  flex-direction: row;
  text-transform: capitalize;
  transition: var(--transition3);
  align-items: center;
  cursor: pointer;
}
.addnewbtn:hover {
  box-shadow: 0px 0px 0px 5px var(--color-dark-blue30);
}
.addnewvariation > span {
  width: 100%;
  height: 2px;
  background-color: var(--color-gray60);
  position: relative;
}

.inputandsub {
  position: relative;
}
.inputandsub > input {
  text-align: right !important;
}

.tooltip {
  position: absolute;
  top: 50px;
  right: 0px;
  justify-content: flex-end;
  display: flex;
  cursor: pointer;
  background-color: var(--background-root);
  border-radius: var(--br8);
  padding: var(--padding-8);
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  transition: var(--transition3);
  box-shadow: var(--small-shadow);
  animation: var(--fadeIn3);
  z-index: 10;
}
html[dir="rtl"] .tooltip {
  right: auto;
  left: 0px;
}
html[dir="rtl"] .tooltip:after {
  left: 20px;
}
.tooltip:after {
  content: "";
  position: absolute;
  top: -10px;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--background-root) transparent;
}
.popupConfirmation {
  position: fixed;
  max-width: 400px;
  width: calc(100% - 40px);
  max-height: 400px;
  aspect-ratio: 1 / 1;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  padding: var(--paddingbox);
  justify-content: space-between;
  z-index: 117;
  animation: signOut_slide-in-fwd-center__C6HbJ 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
