.sizeconfirm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-10);
  padding-block: var(--padding-10);
  height: 100%;
  overflow-y: scroll;
  justify-content: space-between;
  transition: var(--transition2);
}
.parsel {
  border: 1px solid var(--color-gray60);
  display: flex;
  flex-direction: column;

  padding: var(--padding-10);
  border-radius: var(--br15);
  width: 100%;
  height: max-content;
  transition: var(--transition2);
}
.parsel:hover {
  border: 1px solid var(--color-dark-blue);
}
.attention {
  /* display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  padding: var(--padding-8);
  background-color: var(--color-dark-yellow30);
  width: 100%;
  align-items: center;
  color: var(--color-dark-yellow);
  border-radius: var(--br15);
  text-align: start; */
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  width: 100%;
  align-items: center;
  color: var(--text-h2);
  border-radius: var(--br15);
  text-align: start;
}

.subinput {
  position: absolute;
  color: var(--text-h2);
  font-weight: var(--weight-400);
  font-size: var(--font-12);
  z-index: 2;
  border-right: 1px solid var(--color-gray60);
  padding-inline: var(--padding-10);
  display: flex;
  left: 0px;
  border-radius: var(--br10) 0px 0px var(--br10);
  background-color: var(--color-gray10);
  height: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.inputandsub > input {
  text-align: right !important;
}

.customsize {
  align-items: flex-start;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-8);
  width: 100%;
  justify-content: space-between;
  animation: 0.3s top ease-in-out;
}
/* ---------------------------------------------- */

.shippinginfo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  flex: 3;
}

.headerandinputhalf {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: flex-start;
}

.customsizedimention {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: flex-start;
  margin-block: 10px;
}
.lengthwidthheight {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  align-items: flex-start;
}
.test {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}
.inputandsub {
  display: flex;
  gap: var(--gap-5);
  width: 100%;
}

.subinput {
  background-color: var(--color-gray10);
  padding: var(--padding-5) var(--padding-10);
  font-size: var(--font-12);
  color: var(--text-h2);
  font-weight: var(--weight-400);
}

.boxsvg > path {
  fill: var(--color-gray10);
  stroke: var(--color-gray);
  stroke-width: 1;
}
.boxsvg > path:hover {
  fill: var(--color-gray30) !important;
  stroke: var(--color-dark-blue);
  stroke-width: 2;
}
.selectedFace {
  text-align: center;
  color: var(--text-h2);
  font-size: var(--font-12);
}

.shippingboxnew {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.shippingboxnew > svg {
  width: 200px;
  height: 200px;
}
.isConfirmed {
  width: 100%;
  background-color: var(--color-gray30);
  padding: var(--padding-14) var(--padding-10);
  border-radius: var(--br15);
}

/* ---------------------------------------- */

.waybillContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-10);
  padding-block: var(--padding-10);
  height: 100%;
  overflow-y: scroll;
  justify-content: space-between;
  transition: var(--transition2);
}
.waybill {
  border: 1px solid var(--color-gray60);
  display: flex;
  flex-direction: column;
  padding: var(--padding-10);
  border-radius: var(--br15);
  width: 100%;
  height: max-content;
  transition: var(--transition2);
  color: var(--text-h2);
}
.waybill > img {
  aspect-ratio: 794/559;
  border-radius: var(--br15);
}
.setting {
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  width: 100%;
  align-items: center;
  color: var(--text-h2);
  text-align: start;
}
.settingbutton {
  cursor: pointer;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
  padding: var(--padding-10);
  align-items: center;
  border-radius: var(--br15);
  transition: var(--transition2);
  border: 1px solid var(--color-gray);
}
.settingbutton:hover {
  background-color: var(--background-root);
}
