@media (max-width: 480px) {
  .orderinfoStep > svg,
  .orderprogressStep > svg,
  .orderpickupStep > svg,
  .ordersendStep > svg {
    height: 20px;
  }
}

.popup {
  width: 595px;
  max-width: calc(100% - 50px);
  height: 100%;
  max-height: calc(100% - 50px);
  min-width: 250px;
}

.orderStepactive {
  height: 50px;
  width: 50px;
  min-width: 50px;
  padding: var(--padding-10);
  border-radius: var(--br15);
  background-color: var(--color-dark-blue30);
  stroke: var(--color-dark-blue);
  border: 1px solid transparent;
}
.orderStep {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  background-color: var(--color-gray10);
  border-radius: var(--br15);
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-5);
}
.orderinfoStep {
  padding: var(--padding-10);
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray60);
  border-radius: var(--br15);
  cursor: pointer;
  stroke: var(--color-gray);
  transition: var(--transition2);
}
.orderinfoStep:hover {
  background-color: var(--color-gray30);
}
.orderprogressStep,
.orderpickupStep,
.ordersendStep {
  padding: var(--padding-8);
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br10);
  transition: var(--transition2);
  stroke: var(--color-gray);
  border: 1px solid transparent;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: var(--gap-5);
}
.loadercircle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--color-gray);
}

.closeButton {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  padding: var(--padding-10);
  border-radius: var(--br15);
  stroke: var(--color-dark-blue);
  border: 1px solid transparent;
  cursor: pointer;
  transition: var(--transition2);
}
.closeButton:hover {
  background-color: var(--color-gray30);
}
.ordernumber {
  position: relative;
  padding: var(--padding-8) var(--padding-16);
  background-color: var(--color-white);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  border-radius: var(--br20);
}
.headerStyle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  background-color: var(--color-gray30);
  border-radius: var(--br25);
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-8);
}

@media (max-width: 480px) {
  .popup {
    padding: 20px 20px 30px 20px !important;
    max-width: 100% !important;
    bottom: 0 !important;
    top: auto !important;
    left: auto !important;
    border-radius: var(--br25) var(--br25) 0 0 !important;
    animation: var(--slide-in);
  }

  .orderinfoStep > svg,
  .orderprogressStep > svg,
  .orderpickupStep > svg,
  .ordersendStep > svg {
    height: 20px;
  }
}

.headerstep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-10);
}
.orderStepactive {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  stroke: var(--color-dark-blue);

  transition: var(--transition2);
  padding: var(--padding-10);
  border-radius: var(--br15);
  background-color: var(--color-dark-blue30);
}
.orderStepactive > svg {
  stroke: var(--color-dark-blue);
}
.orderStep {
  height: 50px;
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  background-color: var(--color-gray10);
  border-radius: var(--br15);
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-5);
}
.orderinfoStep {
  padding: var(--padding-10);
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray60);
  border-radius: var(--br15);
  cursor: pointer;
  stroke: var(--color-gray);
  transition: var(--transition2);
}
.orderinfoStep:hover {
  background-color: var(--color-gray30);
  border: 1px solid var(--color-gray30);
}
.orderprogressStep {
  cursor: pointer;
  stroke: var(--text-h1) !important;
}
.orderprogressStep,
.orderpickupStep,
.ordersendStep {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  display: flex;
  padding: var(--padding-8);
  align-items: center;
  justify-content: center;
  border-radius: var(--br10);
  transition: var(--transition2);
  stroke: var(--color-gray);
  border: 1px solid transparent;
}
.orderprogressStep:hover {
  background-color: var(--color-gray30);
}
.orderinfoStep > svg,
.orderprogressStep > svg,
.orderpickupStep > svg,
.ordersendStep > svg {
  transition: var(--transition2);
  max-width: 25px;
  max-height: 25px;
  width: 25px;
  height: 25px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: var(--gap-5);
}
.loadercircle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--color-gray);
  animation: loader 3s ease-in-out infinite;
}
@keyframes loader {
  0%,
  40% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
}
.closeButton {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  padding: var(--padding-10);
  border-radius: var(--br15);
  stroke: var(--color-dark-blue);
  border: 1px solid transparent;
  cursor: pointer;
  transition: var(--transition2);
}
.closeButton:hover {
  background-color: var(--color-gray30);
}
.ordernumber {
  position: relative;
  padding: var(--padding-8) var(--padding-16);
  background-color: var(--color-white);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  border-radius: var(--br20);
}
.headerStyle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  background-color: var(--color-gray30);
  border-radius: var(--br25);
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-8) var(--padding-16) var(--padding-8) var(--padding-8);
}
/* ------------------------------------------------------------------------------------- */

.maincontent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-size: var(--font-16);
  color: var(--text-h1);
  text-align: center;

  gap: var(--gap-20);
}
.pdfsection {
  width: 100%;
  display: flex;
  gap: var(--gap-20);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-20);
  font-size: var(--font-16);
  color: var(--text-h1);
  text-align: center;
  border-radius: var(--br20);
  background-color: var(--color-gray10);
}
.attention {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  flex-direction: row;
  text-align: start;
}
/* --------------------------------------------------- */
@media (max-width: 480px) {
  .orderinfoStep {
    min-width: 40px !important;
    min-height: 40px !important;
    max-width: 40px !important;
    max-height: 40px !important;
    padding: var(--padding-10) !important;
    border-radius: var(--br10) !important;
  }
  .orderStep {
    padding: var(--padding-5) !important;
    border-radius: var(--br10) !important;
  }
  .orderprogressStep,
  .orderpickupStep,
  .ordersendStep {
    padding: var(--padding-3) !important;
    border-radius: var(--br8) !important;
  }
  .orderinfoStep > svg,
  .orderprogressStep > svg,
  .orderpickupStep > svg,
  .ordersendStep > svg {
    height: 18px;
  }
  .popup {
    padding: 16px 12px !important;
  }
  .headerStyle {
    padding: 14px 10px !important;
  }
  .quickinfo {
    font-size: var(--font-12) !important;
  }
  .quickinfo > svg {
    height: 14px !important;
  }
  .tableheader {
    font-size: var(--font-12) !important;
    width: 110px !important;
    min-width: 110px !important;
    max-width: 110px !important;
  }
  .tablecontent,
  .producttag > span,
  .quantitytag > span,
  .quantitytag {
    font-size: var(--font-12) !important;
  }
  .popup {
    padding: 20px 20px 30px 20px !important;
    max-width: 100% !important;
    bottom: 0 !important;
    top: auto !important;
    left: auto !important;
    border-radius: var(--br25) var(--br25) 0 0 !important;
    animation: var(--slide-in);
  }
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  transition: var(--transition3);
  border-radius: var(--br25);
  background-color: var(--color-white);
  /* border: 3px solid var(--box-border); */
  padding: var(--paddingboxmobile);
  justify-content: space-between;
  /* width: 395px; */
  width: 595px;
  max-width: calc(100% - 50px);
  height: 100%;
  max-height: calc(100% - 50px);
  min-width: 250px;
  overflow-y: auto;
  animation: var(--fadeIn3);
}

.ordernumber {
  position: relative;
  padding: var(--padding-8) var(--padding-16);
  background-color: var(--color-white);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  border-radius: var(--br20);
}
.headerstep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-10);
}
.orderinfoStep {
  padding: var(--padding-10);
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-gray60);
  border-radius: var(--br15);
  cursor: pointer;
  stroke: var(--color-gray);
  transition: var(--transition2);
}
.orderinfoStep:hover {
  background-color: var(--color-gray30);
}
.orderStep {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  background-color: var(--color-gray10);
  border-radius: var(--br15);
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-5);
}
.headerStyle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  background-color: var(--color-gray30);
  border-radius: var(--br50);
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-16);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: var(--gap-5);
}
.loadercircle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--color-gray);
  animation: loader 3s ease-in-out infinite;
}
@keyframes loader {
  0%,
  40% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
}
.orderprogressStep,
.orderpickupStep,
.ordersendStep {
  padding: var(--padding-8);
  aspect-ratio: 1/1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br10);
  transition: var(--transition2);
  stroke: var(--color-gray);
  border: 1px solid transparent;
}
.orderStepactive {
  height: 50px;
  width: 50px;
  min-width: 50px;
  padding: var(--padding-10);
  border-radius: var(--br15);
  background-color: var(--color-dark-blue30);
  stroke: var(--color-dark-blue);
  border: 1px solid transparent;
}
.closeButton {
  height: 50px;
  width: 50px;
  min-width: 50px;
  padding: var(--padding-10);
  border-radius: var(--br15);
  stroke: var(--color-dark-blue);
  border: 1px solid transparent;
  cursor: pointer;
  transition: var(--transition2);
}
.closeButton:hover {
  background-color: var(--color-gray30);
}
.content {
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
}
.stepcontent {
  position: relative;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-40);
  animation: var(--top04);
  overflow-y: auto;
  overflow-x: hidden;
}

.buyerparent {
  background-color: var(--color-gray30);
  border-radius: var(--br15);

  display: flex;
  gap: var(--gap-20);
  flex-direction: column;
}
.buyerinfo {
  padding: var(--padding-12) var(--padding-8);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
}
.buyerinfomore {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  transition: var(--transition2);
}
.quickinfoparent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.quickinfo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--gap-5);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--text-h1);
  width: 100%;
  justify-content: center;
  max-width: 50%;
}
.buyerinfomore {
  transition: var(--transition2);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  overflow: hidden;
}
.loadmore {
  cursor: pointer;
  color: var(--color-dark-blue);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  justify-content: center;
  gap: var(--gap-5);
}
.loadmore > span {
  position: relative;
  text-align: center;
  min-width: 50px;
}
.loadmoreIcon {
  transition: var(--transition2);
}
.buyerinfomoreinfo {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-14);
  font-weight: var(--weight-400);

  gap: var(--gap-30);
}
.productinfo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-30);
}

.productlist {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
}
.product {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
}
.productcounter {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  justify-content: center;
  align-items: center;
}
.productcounter > span {
  position: relative;
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray60);
  border-radius: 50%;
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  justify-content: center;
  align-items: center;
}
.productcounter::after {
  content: " ";
  height: 100%;
  width: 1px;
  background-color: var(--color-gray60);
}
.productmodel {
  display: flex;
  flex-direction: column;
  gap: var(--gap-15);
}
.productmodelinfo {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: center;
  justify-content: flex-start;
}
.productimage {
  min-width: 80px;
  min-height: 80px;
  width: 80px;
  height: 80px;
  border: 1px solid var(--color-gray10);
  border-radius: var(--br10);
}
.producttaglist {
  display: flex;
  gap: var(--gap-8);
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
.producttag,
.quantitytag {
  display: flex;
  background-color: var(--color-gray10);
  border: 1px solid var(--color-gray30);
  padding: var(--padding-5) var(--padding-8);
  border-radius: var(--br8);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5);
  flex-wrap: nowrap;
}
.quantitytag {
  background-color: var(--color-gray10);
  border: 1px solid var(--color-gray);
}
.producttag > span,
.quantitytag > span {
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.productinfoparent {
  height: 100%;
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  align-items: flex-start;
  justify-content: space-between;
}
.productname {
  text-align: start;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  line-height: 17px;
  width: 100%;
  height: 100%;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
}
.productprice {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.productid {
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.infoTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
}
.infoTable > tbody {
  padding: var(--padding-10) var(--padding-8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
}
.infoTable > tbody > tr {
  padding: var(--padding-10) var(--padding-5);
  padding-block: 10px;
  border-radius: var(--br10);
  width: 100%;
  border-top: 1px solid var(--color-gray10);
  transition: var(--transition2);
}
.infoTable > tbody > tr:hover {
  background-color: var(--color-gray10);
}
.tableheader {
  text-transform: uppercase;
  width: 130px;
  min-width: 130px;
  max-width: 130px;
  text-align: start;
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.tablecontent {
  text-align: start;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-500);
}
.mobileparent {
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: center;
}
.tagcolor {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.subproduct {
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-20);
  width: 100%;
  padding: var(--padding-8);
  border-radius: var(--br25);
  border: 1px solid var(--color-gray30);
  justify-content: space-between;
  align-items: flex-start;
  transition: var(--transition3);
}
.subproduct:hover {
  border: 1px solid var(--color-dark-blue);
}
