.parent {
  overflow-x: clip;
  position: relative;
  width: 100%;
  top: 0px;
  overflow: none;
  opacity: 1;
  background-color: var(--background-edf4ff);
}

.headerTab {
  position: sticky;
  height: 80px;
  top: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: +100;
  display: flex;
  flex-direction: row;
  text-align: center;

  color: var(--text-maintext);
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-20);
}

.pincontainer {
  display: flex;
  position: relative;
  margin: 10px;
  height: 100%;
  animation: var(--bottom08);
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-20);
}
.title {
  text-transform: capitalize;
  position: relative;
  color: var(--color-2e384d);
  font-size: var(--font-18);
  font-weight: var(--weight-800);
  text-align: center;
}
.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: var(--br25);
  background-color: var(--color-light-green);
}
.pictureIcon {
  position: relative;
  width: 50%;
  height: 50%;
}
.explain {
  text-align: center;
  position: relative;
  font-size: var(--font-12);
  max-width: 350px;
  width: 100%;
  font-weight: var(--weight-400);
  color: var(--color-gray);
}
