/* ___ desktop ___ */

@media (min-width: 950px) {
  .productidlite {
    display: none !important;
  }
}
@media (max-width: 950px) {
  .customcheckbox {
    width: 16px !important;
  }
  .productlist {
    overflow-x: scroll !important;
  }
  .productid,
  .headerproductid,
  .name > div:nth-child(2) {
    display: none !important;
  }

  .status_draft,
  .status_available,
  .status_restocking,
  .status_outofstock,
  .status_stopped,
  .status_unavailable {
    width: 120px !important;
    max-width: 120px !important;
  }
  .status_draft,
  .status_available,
  .status_restocking,
  .status_outofstock,
  .status_stopped,
  .status_unavailable,
  .stock,
  .price > div > div,
  .price > div > div > div,
  .day,
  .productname {
    font-size: var(--font-12) !important;
  }
  .productbody {
    gap: var(--gap-10) !important;
  }

  .headeractive,
  .name {
    min-width: 125px !important;
    max-width: 125px !important;
  }
  .Status {
    min-width: 135px !important;
    max-width: 150px !important;
  }
  .headername {
    min-width: 195px !important;
    max-width: 195px !important;
  }
  .price > div > div,
  .price > div > div > div {
    min-width: 80px !important;
    max-width: 80px !important;
  }
  .lastmodified,
  .headerlastmodified {
    min-width: 70px !important;
    max-width: 70px !important;
  }
  .headerstock,
  .stock {
    min-width: 40px !important;
    max-width: 40px !important;
  }
}

/* ___product___ */
.product {
  position: relative;
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--box-border);

  transition: var(--transition2);
  justify-content: space-between;
  cursor: pointer;
  gap: var(--gap-15);
  padding: var(--padding-8);
  align-content: center;
  align-items: center;
  min-height: 77px;
  max-height: 80px;
}
.product:hover {
  background-color: var(--color-gray10);
}
.productlist {
  border-radius: var(--br20) var(--br20) 0px 0px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
/* ___product body___ */
.productbody {
  position: relative;
  display: flex;
  gap: var(--gap-15);
  min-width: 300px;
  width: 100%;
  max-width: 430px;
  align-items: center;
}
.productimage {
  position: relative;
  height: 60px;
  aspect-ratio: 1/1;
  width: 60px;
  background-color: var(--color-gray30);
  border-radius: var(--br10);
  object-fit: cover;
  transition: var(--transition2);
}
.name {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 130px;
  width: 100%;
  max-width: 315px;
  gap: var(--gap-10);
  text-transform: capitalize;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productname {
  padding-bottom: 5px;
  color: var(--text-h1);
  text-align: start;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ___productid___ */
.productid {
  position: relative;
  min-width: 45px;
  max-width: 45px;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--color-light-blue);
}
.productidlite {
  position: relative;
  display: flex;
  gap: var(--gap-5);
  min-width: 45px;
  max-width: 45px;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--color-light-blue);
}

/* ___stock___ */
.stock {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  padding: var(--paddingtag);
  min-width: 45px;
  max-width: 45px;
  border-radius: var(--br8);
}
.lowStock {
  background-color: var(--color-dark-red30);
  color: var(--color-dark-red);
}
.mediumStock {
  background-color: var(--color-dark-yellow30);
  color: var(--color-dark-yellow);
}
.highStock {
  background-color: var(--color-dark-green30);
  color: var(--color-dark-green);
} /* ___price___ */
.price {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-800);
  overflow: hidden;
  min-width: 95px;
  max-width: 95px;
} /* ___lastmodified___ */
.lastmodified {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-width: 80px;
  max-width: 80px;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: capitalize;
}
.date {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: var(--text-h2);
  font-size: var(--font-10);
  font-weight: var(--weight-400);
  transition: var(--transition3);
}
.day {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  transition: var(--transition3);
  @media (max-width: 800px) {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
}
.hour {
  color: var (--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  transition: var(--transition3);
  @media (max-width: 800px) {
    font-size: var(--font-10) !important;
  }
} /* ___status___ */
.Status {
  position: relative;
  min-width: 50px;
  width: 100%;
  min-width: 145px;
  max-width: 145px;
}
.status_child {
  justify-content: flex-end;
  display: flex;
  gap: var(--gap-5);
}
.status_child > div > span {
  width: 100% !important;
  text-wrap: nowrap !important;
}
.status_child > img {
  width: 20px;
  min-width: 20px;
}
.Status > div:first-child {
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.Status > div > div {
  flex-direction: row-reverse;
}
.Status > div > div > svg {
  border: 1px solid var(--color-gray60);
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  padding: var(--padding-4);
  border-radius: var(--br10);

  cursor: pointer;

  fill: var(--text-h1);
}
.Status > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  top: 40px;
  padding: var(--padding-8) 0px var(--padding-2) 0px;
  border-radius: var(--br5) var(--br5) var(--br15) var(--br15);
  background-color: var(--background-root);
  overflow-y: hidden;
  max-width: 150px;
}
.Status > div > div:nth-child(2) > div {
  padding-block: 0;
  padding-inline: var(--padding-5);
  border-bottom: 0;
  min-height: auto;
  height: auto;
}
.Status > div > div:nth-child(2) > div > svg {
  display: none;
}
.Status > div > div:nth-child(2) > div > div {
  width: 100%;
}
.Status > div > div:nth-child(2) > div > div > div > div {
  width: 100% !important;
  max-width: 100% !important;
}
.Status > div:hover {
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.status_draft,
.status_available,
.status_restocking,
.status_outofstock,
.status_stopped,
.status_unavailable {
  width: 100%;
  display: flex;
  gap: var(--gap-5);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5);
  font-weight: var(--weight-400);
  text-align: center;
  font-size: var(--font-14);
  border-radius: var(--br8);
  text-wrap: nowrap;
  line-height: 20px;
  border: 1px solid transparent;
  transition: var(--transition2);
  text-wrap: auto;
}
.status_draft {
  background-color: var(--color-light-yellow30) !important;
  color: var(--color-dark-yellow) !important;
  height: 30px !important;
  padding: var(--padding-5) !important;
  border-radius: var(--br8) !important;
  flex-direction: row !important;
}
.status_available {
  background-color: var(--color-light-green30);
  color: var(--color-light-green);
}
.status_restocking {
  background-color: var(--color-light-blue30);
  color: var(--color-light-blue);
}
.status_outofstock {
  background-color: var(--color-light-red30);
  color: var(--color-light-red);
}
.status_stopped {
  background-color: var(--color-gray30);
  color: var(--color-gray);
}
.status_available:hover {
  border: 1px solid var(--color-dark-green);
}
.status_restocking:hover {
  border: 1px solid var(--color-dark-blue);
}
.status_outofstock:hover {
  border: 1px solid var(--color-dark-red);
}
.status_stopped:hover {
  border: 1px solid var(--color-gray);
}
