.quickreplypopup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  transition: var(--transition3);
  border-radius: var(--br25);
  background: var(--color-white);
  border: 3px solid var(--box-border);
  padding: var(--paddingbox);
  justify-content: space-between;
  width: 395px;
  max-width: calc(100% - 50px);
  height: 700px;
  max-height: calc(100% - 50px);
  min-width: 250px;
  gap: var(--gap-20);
  overflow-y: auto;
  animation: var(--fadeIn3);
}
@media (max-width: 480px) {
  .quickreplypopup {
    padding: var(--paddingboxmobile) !important;
  }
}

.wordpool {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-10);
  max-height: 120px;
  overflow-y: auto;
}

.specificword {
  color: var(--text-h1);
  font-weight: var(--weight-400);
  font-size: var(--text-14);
  transition: var(--transition3);
  border-radius: var(--br8);
  padding: var(--paddingtag);
  display: flex;
  align-items: center;
  gap: var(--gap-5);
  background-color: var(--color-dark-blue30);
}
html[dir="rtl"] .specificword {
  flex-direction: row-reverse;
}
