@media (max-width: 480px) {
  .timeline {
    padding: var(--paddingboxmobile) !important;
  }
}
.timeline {
  display: flex;
  gap: var(--gap-30);
  position: relative;
  margin: 10px 0;
  padding: var(--paddingbox);
  grid-row-end: span 82;
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--color-gray);
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline:hover {
  box-shadow: var(--box-shadow);
}
.Section {
  position: relative;
  width: 100%;
  gap: var(--gap-10);
  display: flex;
  flex-direction: column;
  transition: var(--transition3);
}
.headerparent {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-10);
}
.selectedtime {
  position: relative;
  font-weight: var(--weight-600);
  font-size: var(--font-12);
  color: var(--color-light-blue);
  width: 30px;
  gap: var(--gap-10);
  padding: 0 var(--padding-10);
  height: 40px;
  width: fit-content;
  color: var(--color-dark-blue);
  border-radius: var(--br10);
  background-color: var(--color-dark-blue30);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.submenu1 {
  position: relative;
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: uppercase;
  justify-content: right;
  font-size: var(--font-16);
  display: flex;
  gap: var(--gap-20);
}
/* ___timeline___ */
.timelinemodule {
  padding: 0px 0px var(--padding-32) var(--padding-16);
  gap: var(--gap-8);
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
}
.timelinemodule::-webkit-scrollbar {
  display: block;
}

/* ___ad chart ___ */
.chartlines {
  position: absolute;
  display: grid;
  height: calc(100% - 35px);
}

.lines {
  border-left: 1px dashed var(--color-gray30);
  transition: var(--transition2);
}
.lines:hover {
  border-left: 1px dashed var(--color-light-blue60);
}
.lines:hover .hour0 {
  color: var(--color-light-blue);
}
.lines:hover .hour1 {
  color: var(--color-light-blue);
}
.lines:hover .hour2 {
  color: var(--color-light-blue);
}
.hour0 {
  display: flex;
  padding-top: 5px;
  color: var(--text-h1);
  top: 100%;
  transform: translateX(-25%);
  position: relative;
  left: -25%;
  text-align: center;
  font-size: var(--font-12);
  align-self: center;
  font-weight: var(--weight-400);
  text-transform: uppercase;
  transition: var(--transition2);
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    font-size: var(--font-10) !important;
  }
}
.hour1 {
  display: flex;
  padding-top: 5px;
  color: var(--text-h1);
  top: 100%;
  transform: translateX(-25%);
  position: relative;
  left: -25%;
  text-align: center;
  font-size: var(--font-12);
  align-self: center;
  font-weight: var(--weight-400);
  text-transform: uppercase;
  transition: var(--transition2);
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    font-size: var(--font-10) !important;
  }
}
.hour2 {
  display: flex;
  padding-top: 5px;
  color: var(--text-h1);
  top: 100%;
  transform: translateX(-25%);
  position: relative;
  left: -25%;
  text-align: center;
  font-size: var(--font-12);
  align-self: center;
  font-weight: var(--weight-400);
  text-transform: uppercase;
  transition: var(--transition2);
  align-items: center;
  justify-content: center;
  @media (max-width: 1360px) {
    display: none !important;
  }
}
@media (max-width: 700px) {
  .hour0,
  .hour1,
  .hour2 {
    font-size: var(--font-8) !important;
  }
}

/* ___ad bar ___ */
.post,
.story,
.campaign {
  border-radius: var(--br20) var(--br20) var(--br20) var(--br5);
  padding: var(--padding-2);
  grid-column: 1/25;
  z-index: 2;
  cursor: pointer;
  transition: var(--transition2);
  @media (max-width: 700px) {
    padding: 1px !important;
  }
}
.post:hover,
.story:hover,
.campaign:hover {
  transform: scale(0.99);
}

.adschart {
  width: fit-content;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  row-gap: var(--gap-3);
}
.detail {
  position: relative;
  display: flex;
  gap: var(--gap-10);
  flex-direction: row;
  height: 100%;
  border-radius: var(--br25);
  background-color: var(--color-white);
  width: 100%;
  padding: var(--padding-2) 0px var(--padding-2) var(--padding-2);
  align-items: center;
  overflow: hidden;
}
.addetail {
  position: relative;
  display: flex;
  gap: var(--gap-5);
}
.adtime,
.adtype {
  padding: var(--paddingtag);
  border-radius: var(--br8);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  position: relative;
  font-weight: var(--weight-600);
  font-size: var(--font-12);
  transition: var(--transition3);
}
@media (max-width: 700px) {
  .adtime,
  .adtype {
    font-weight: var(--weight-400) !important;
    font-size: var(--font-8) !important;
  }
}
@media (max-width: 1130px) {
  .adtime,
  .adtype {
    font-weight: var(--weight-400) !important;
    font-size: var(--font-10) !important;
  }
}
.instagramprofile {
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: row;

  gap: var(--gap-8);
  @media (max-width: 700px) {
    gap: var(--gap-5) !important;
    max-width: 100px;
  }
}
.instagramimage {
  position: relative;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;

  object-fit: cover;
}
.instagramprofiledetail {
  max-width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  @media (max-width: 750px) {
    max-width: 75px;
  }
}
.instagramusername {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 100%;
}
.instagramid {
  position: relative;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 100%;
  color: var(--text-h2);
  font-size: var(--font-10);
  font-weight: var(--weight-400);
}
/* ___ تبلیغات از گذشته ___*/

.postpast,
.storypast,
.campaignpast {
  border-radius: 0px var(--br20) var(--br20) 0px;
  padding: var(--padding-2) var(--padding-2) var(--padding-2) 0px;
  grid-column: 1/25;
  z-index: 2;
  cursor: pointer;
  transition: var(--transition2);
  @media (max-width: 700px) {
    padding: 1px 1px 1px 0px !important;
  }
}
.postpast:hover,
.storypast:hover,
.campaignpast:hover {
  transform: scale(0.99);
}
.detailpast {
  position: relative;
  display: flex;
  gap: var(--gap-10);
  flex-direction: row;
  height: 100%;
  border-radius: 0px var(--br25) var(--br25) 0px;
  background-color: var(--color-white);
  width: 100%;
  padding: var(--padding-2) 0px 1px var(--padding-2);
  align-items: center;

  overflow: hidden;
}
/* ___ تبلیغات به آینده ___*/
.postnext,
.storynext,
.campaignnext {
  border-radius: var(--br20) 0px 0px var(--br5);
  padding: var(--padding-2) 0px var(--padding-2) var(--padding-2);
  grid-column: 25/49;
  z-index: 2;
  cursor: pointer;
  transition: var(--transition2);
  @media (max-width: 700px) {
    padding: 1px 0px 1px 1px !important;
  }
}
.postnext:hover,
.storynext:hover,
.campaignnext:hover {
  transform: scale(0.99);
}
.detailnext {
  overflow: hidden;
  position: relative;
  display: flex;
  gap: var(--gap-10);
  flex-direction: row;
  height: 100%;
  border-radius: var(--br25) 0px 0px var(--br25);
  background-color: var(--color-white);
  width: 100%;
  padding: var(--padding-2) 0px var(--padding-2) var(--padding-2);
  align-items: center;
}
