@media (max-width: 620px) {
  .popupmain {
    padding-inline: 0 !important;
    max-width: 100% !important;
    bottom: 0 !important;
    top: auto !important;
    left: auto !important;
    justify-content: flex-end !important;
    animation: var(--slide-in) !important;
  }
  .header {
    padding: var(--paddingboxmobile) !important;
    border-radius: var(--br25) var(--br25) var(--br15) var(--br15) !important;
  }
  .content {
    padding: var(--paddingboxmobile) !important;
    border-radius: var(--br15) var(--br15) 0 0 !important;
  }
  .instagramprofiledetail {
    max-width: 100% !important;
  }
  .accountlistItem,
  .header > div:nth-child(2) {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .accountlistItem > div:nth-child(2),
  .header > div:nth-child(2) > div:nth-child(2) {
    display: none !important;
  }
  .addnewaccount {
    font-size: var(--font-12) !important;
    gap: var(--gap-5) !important;
  }
}

.popupmain {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  transition: var(--transition3);
  justify-content: center;
  width: 800px;
  max-width: calc(100% - 50px);
  height: 100%;
  gap: var(--gap-10);
  animation: var(--fadeIn3);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--gap-20);
  padding: var(--paddingbox);
  border-radius: var(--br50) var(--br50) var(--br15) var(--br15);
  background-color: var(--color-white);
}
.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  padding: var(--paddingbox);
  height: 100%;
  max-height: 450px;
  border-radius: var(--br15) var(--br15) var(--br50) var(--br50);
  background-color: var(--color-white);
}
.maincontent {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.instagramprofiledetail {
  max-width: 200px;
}
.addnewaccount {
  gap: var(--gap-8);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-700);
  cursor: pointer;
  transition: var(--transition3);
  padding: var(--padding-10);
  border-radius: var(--br15);
  width: max-content;
  text-wrap: nowrap;
  text-transform: capitalize;
  background-color: var(--color-gray10);
  border: 1px solid transparent;
}
.addnewaccount:hover {
  border: 1px solid var(--color-gray60);
}
.headertext {
  width: 100%;
  margin-inline: 10px;
  display: flex;
  color: var(--text-h2);
  text-transform: capitalize;
  align-items: center;
  font-size: var(--font-12);
  font-weight: var(--weight-600);
  transition: var(--transition3);
  padding-bottom: var(--padding-20);
  border-bottom: 1px solid var(--color-gray30);
}
.accountlist {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
}
.accountlistItem {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-10);
  transition: var(--transition3);
  padding: 10px;
  border-radius: var(--br20);
}
.accountlistItem:hover {
  background-color: var(--color-gray10);
}

.subadminimg {
  position: absolute;
  border-radius: 50%;
  height: 35px;
  left: 30px;
  bottom: 0px;
  border: 3px solid var(--color-white);
  aspect-ratio: 1 / 1;
  -o-object-fit: cover;
  object-fit: cover;
}
.accounttype {
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  text-transform: capitalize;
  align-items: center;
  padding: var(--paddingtag);
  border-radius: var(--br8);
}
.remainingTime {
  text-align: start;
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  text-transform: capitalize;
  transition: var(--transition3);
}
.blinkYellow {
  color: var(--color-light-yellow);
  animation: blink 2s infinite;
}
.blinkRed {
  color: var(--color-light-red);
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.admin {
  color: var(--color-light-blue);
  background-color: var(--color-light-blue30);
}
.admin > svg {
  fill: var(--color-light-blue);
}
.subadmin {
  color: var(--color-purple);
  background-color: var(--color-purple30);
}
.subadmin > svg {
  fill: var(--color-purple);
}
