/* ImageNode Styles */

.nodeContainer {
  /* border-color: #9b59b6; */
}

.container {
  width: 100%;
}

.fileInput {
  display: none;
}

.progressContainer {
  margin-top: 8px;
}

.progressBar {
  width: 100%;
  height: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progressFill {
  height: 100%;
  background: linear-gradient(90deg, var(--color-light-blue), var(--color-dark-blue));
  transition: width 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressText {
  color: white;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.preview,
.videoPreview {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-top: 15px;
}

.fileInfo {
  border: 1px solid var(--color-gray60);
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  border-radius: var(--br5);
  font-size: 10px;
  color: var(--text-h2);
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fileName {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 4px;
}

.fileSize {
  font-weight: 600;
}
