/* WeblinkNode Styles */

.nodeContainer {
  /* border-color: #f39c12; */
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(1px);
  }
}

.shakeHorizontal {
  animation: shake 0.6s ease-in-out;
  animation-iteration-count: 1;
  border-radius: var(--br15);
  border: 1px solid var(--color-dark-red);
}
