/* ___General ___ */
.background {
  position: fixed;

  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-blue);
  z-index: 115;
  animation: slide-in-bottom 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: flex-start;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ___header ___ */
.headercontainer {
  height: 70px;
  display: flex;
  width: calc(100% - 80px);
  min-width: 250px;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-20);
  @media (max-width: 530px) {
    width: calc(100% - 40px);
    gap: var(--gap-10);
  }
}

.Toggle {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 150px;
  gap: var(--gap-10);
  align-items: center;
  justify-content: center;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--color-ffffff);
  @media (max-width: 530px) {
    gap: var(--gap-8);
    font-size: var(--font-12);
    font-weight: var(--weight-400);
  }
}
.Togglebtn {
  background-color: var(--color-white30);
  border-radius: var(--br8);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 25px;
  height: 25px;
  padding: var(--padding-5);
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: var(--transition2);
  @media (max-width: 530px) {
    width: 20px;
    height: 20px;
  }
}
.Togglebtn:hover {
  scale: 1.1;
}
.Togglebtn:active {
  scale: 0.95;
}
.titleCard {
  position: relative;
  display: flex;
  gap: var(--gap-20);
  color: var(--text-h1);
  font-size: var(--font-18);

  font-weight: var(--weight-800);
  text-transform: capitalize;
  align-items: center;
  @media (max-width: 530px) {
    gap: var(--gap-10);
  }
}

.headermenudelete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--color-ffffff30);
  width: fit-content;
  padding-inline: var(--padding-8);
  color: var(--color-ffffff);
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  height: 40px;
  border-radius: var(--br10);
  align-items: center;
  cursor: pointer;
  transition: var(--transition3);
  @media (max-width: 530px) {
    font-size: var(--font-12);
    font-weight: var(--weight-400);
  }
}
.headermenudelete:hover {
  background-color: var(--color-dark-blue60);
  box-shadow: 0 0 0 4px var(--color-ffffff30);
}

.headermenucancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--color-ffffff30);
  width: fit-content;
  padding-inline: var(--padding-18);
  color: var(--color-ffffff);
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  height: 40px;
  border-radius: var(--br10);
  align-items: center;
  cursor: pointer;
  transition: var(--transition3);
  @media (max-width: 530px) {
    font-size: var(--font-12);
    font-weight: var(--weight-400);
  }
}
.headermenucancel:hover {
  background-color: var(--color-dark-blue60);
  box-shadow: 0 0 0 4px var(--color-ffffff30);
}
/* ___content___ */
.productedit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 200px;
  padding: var(--padding-20);
  position: relative;
  gap: var(--gap-20);
  transition: var(--transition3);
  border-radius: var(--br30) var(--br30) 0px 0px;
  background-color: var(--background-root);
  width: calc(100% - 12px);
  height: calc(100% - 70px);
  animation: slide-in-bottom 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: var(--transition3);
  animation: var(--slide-in);
}
@media (max-width: 1024px) {
  .productedit {
    flex-direction: column !important;
  }
}
@media (max-width: 768px) {
  .productedit {
    border-radius: var(--br30) var(--br30) 0px 0px !important;
    padding: var(--padding-8) !important;
    width: 100% !important;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
