.all {
  padding-left: 5px;
  overflow-y: scroll;
  gap: var(--gap-30);
  display: flex;
  flex-direction: column;
}

.section {
  position: relative;
  display: flex;
  width: 99%;
  column-gap: var(--gap-10);
  row-gap: var(--gap-20);
  flex-direction: column;
}
.left {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-inline-start: 4px;
  gap: var(--gap-10);
  justify-content: space-between;
}
.day {
  position: relative;
  color: var(--color-dark-green);
  background-color: var(--color-dark-green30);
  border-radius: var(--br8);
  padding: var(--paddingtag);
  min-width: 100px;
  display: flex;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.setting {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-20);
  justify-content: flex-start;
}

.right {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text-h2);
  gap: var(--gap-15);
  align-items: center;
  justify-content: space-evenly;
  transition: var(--transition3);
}

@media (min-width: 700px) {
  .section {
    flex-direction: row !important;
    gap: var(--gap-30) !important;
  }
  .left {
    flex-direction: column !important;
  }
}
@media (max-width: 700px) {
  .setting {
    justify-content: flex-end !important;
  }
}
