.all {
  height: 100%;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  gap: var(--gap-20);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content {
  padding-inline-end: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--gap-10);
  justify-content: space-between;
}

.type {
  position: relative;
  color: var(--text-h1);
  text-align: center;
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: normal;
}
.input {
  position: relative;
  min-width: 60px !important;
  width: 100% !important;
  max-width: 110px !important;
}

.halfday {
  height: 35px;
  text-align: center;
  font-weight: var(--weight-400);
  font-size: var(--font-14);
  align-content: center;
  justify-content: center;
  text-transform: capitalize;
  color: var(--color-light-blue);
  position: relative;
  display: flex;
  align-items: center;
}

.fullday {
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-content: center;
  justify-content: center;
  text-transform: capitalize;
  color: var(--color-purple);
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  justify-content: center;
}
@media (max-width: 700px) {
  .input > input {
    position: relative;
    max-height: 30px;
    min-width: 60px !important;
    width: 100% !important;
    max-width: 110px !important;
    padding: var(--padding-5);
  }

  .fullday,
  .halfday {
    font-size: var(--font-12) !important;
  }
  .type {
    font-size: var(--font-14) !important;
  }
}
