.outer {
  display: flex;
  align-items: center;
  height: 14px;
  width: 100% !important;
  border-radius: var(--br50);
  background: var(--color-dark-blue30);
}

.inner {
  height: 14px;
  background: var(--color-dark-blue);
  border-radius: var(--br25);
  transition: width 100ms ease-out;
  background-image: linear-gradient(
    135deg,
    #ffffff33 30%,
    #0000001a 30%,
    #0000001a 34%,
    transparent 34%,
    transparent 46%,
    #0000001a 46%,
    #0000001a 50%,
    #ffffff33 50%,
    #ffffff33 80%,
    #0000001a 80%,
    #0000001a 84%,
    transparent 84%,
    transparent 96%,
    #0000001a 96%,
    #0000001a
  );
  background-size: 15px 15px;
  animation: progress-bar-animate 1s linear infinite;
}

/* Default blue color */
.inner.default {
  background: var(--color-dark-blue); /* iOS Blue */
}

@-webkit-keyframes progress-bar-animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 15px 0;
  }
}

@keyframes progress-bar-animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 15px 0;
  }
}

/* Color variants */
.orange {
  background: var(--color-dark-yellow);
}

.red {
  background: var(--color-light-red);
}
