.modal {
  position: relative;
  max-width: 400px;
  width: calc(100% - 40px);
  max-height: 400px;
  aspect-ratio: 1/1;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  padding: var(--paddingbox);
  justify-content: space-between;
  z-index: 117;
  animation: var(--fadeIn3);
  align-items: center;

  @media (max-width: 480px) {
    padding: var(--padding-30);
    border-radius: var(--br35);
  }
}
.modal > div,
.modal > div > div {
  align-items: center !important;
  text-align: center !important;
}

.modalsvg {
  width: 100px;
  height: 100px;
  fill: var(--color-gray);
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
  justify-content: flex-start;
}
