.followerAndNonFollowersContainer {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
}

.comment {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-20);
  margin-bottom: 15px;
}
.profilepicture {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.commentdetail {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-5);
  flex-direction: column;
}
.username {
  max-width: 200px;
  width: 100%;
  color: var(--text-h1);
  text-align: left;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  @media (max-width: 800px) {
    font-size: var(--font-12) !important;
  }
}
.commenttext {
  position: relative;
  text-align: left;
  color: var(--text-h2);
  font-size: var(--font-12);

  font-weight: var(--weight-400);
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  width: 100%;
  max-height: 60px;
  -webkit-box-orient: vertical;
  @media (max-width: 800px) {
    font-size: var(--font-10) !important;
  }
}
.swiperContent {
  position: relative;
  width: 100%;
  height: 100%;
}
