.taskpopup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  transition: var(--transition3);
  border-radius: var(--br25);
  background: var(--color-white);

  padding: var(--paddingbox);
  max-width: 395px;
  width: calc(100% - 50px);
  max-height: 600px;
  height: calc(100% - 50px);
  min-width: 250px;
  gap: var(--gap-20);
  animation: var(--fadeIn3);
  box-shadow: var(--box-shadow);
}
.taskpopup2 {
  justify-content: space-between;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  transition: var(--transition3);
  border-radius: var(--br25);
  background: var(--color-white);

  padding: var(--paddingbox);
  max-width: 395px;
  width: calc(100% - 50px);
  max-height: 300px;
  height: calc(100% - 50px);
  min-width: 250px;
  gap: var(--gap-20);
  animation: var(--fadeIn3);
  box-shadow: var(--box-shadow);
}

.title {
  position: relative;
  width: 100%;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--text-h1);
  text-align: left;
  text-transform: capitalize;
}

.profile {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  padding: var(--padding-20) 0px var(--padding-20) 0px;
  border-top: 2px solid var(--color-gray30);
  border-bottom: 2px solid var(--color-gray30);
}
.picture {
  position: relative;
  min-width: 70px;
  width: 100%;
  max-width: 70px;
  min-height: 70px;
  height: 100%;
  max-height: 70px;

  border-radius: 70%;
}
.profiledetail {
  justify-content: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-800);
}
.username {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.userstatus {
  position: relative;
  text-align: left;
  color: var(--color-dark-green);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.option {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
}
.otheroption {
  margin-top: 30px;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
}
.optiondetail {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.optionbtn {
  position: relative;
  width: 100%;
  text-align: left;
  color: var(--text-h1);
  cursor: pointer;
  font-size: var(--font-14);
  font-weight: var(--weight-800);
  text-transform: capitalize;
}

.deletepopup {
  position: fixed;
  max-width: 400px;
  width: calc(100% - 40px);
  max-height: 400px;
  aspect-ratio: 1/1;
  gap: var(--gap-30);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  padding: var(--padding-50);

  justify-content: space-between;
  z-index: 117;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @media (max-width: 480px) {
    padding: var(--padding-30);
    border-radius: var(--br35);
  }
}
.closebtn {
  min-width: 25px;
  width: 25px;
  max-width: 25px;
  min-height: 25px;
  height: 25px;
  max-height: 25px;
  position: relative;

  padding: var(--padding-5);
  border-radius: var(--br5);
  border: 1px solid var(--color-gray60);
  transition: var(--transition3);
  cursor: pointer;
}
.closebtn:hover {
  box-shadow: 0 0 0 3px var(--color-gray30);
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
