.frameGroup {
  overflow-x: clip;
  position: relative;
  width: 100%;
  top: 0px;
  overflow: none;
  opacity: 1;
}
.frameGroupFade {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: var(--background-root);
  flex-direction: column;
}
.pageTools {
  position: relative;
  background-color: var(--background-root);
  width: 100%;
  height: 831px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-18);

  align-items: center;
  justify-content: center;
  gap: var(--gap-15);
  text-align: left;
  font-size: var(--font-12);
  color: var(--text-h1);
}

.inboxContainer {
  position: relative;
  width: calc(100% - 40px);
  margin-inline: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-15);
  flex-wrap: wrap;
  animation: var(--bottom08);
  margin-bottom: 20px;
}

.likesChartParent {
  top: 50px;
  color: var(--text-h1);
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-15);
  flex-wrap: wrap;
  margin-bottom: 30px;
  text-align: left;
  bottom: 50px;
  animation: var(--bottom14);
}

.headerTab {
  position: sticky;
  height: 80px;
  top: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: +100;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: var(--font-16);
  color: var(--text-h1);
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-20);
}
.schedulPostsParent {
  position: absolute;
  width: calc(100% - 150px);
  top: 85px;
  right: 32px;
  left: 118px;
  height: 652px;
  text-align: left;
  font-size: var(--font-12);
  color: var(--text-h1);
}

.frameParent {
  position: absolute;
  width: calc(100% - 112px);
  top: 2px;
  right: 0;
  left: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: var(--transition3);
}
.pagePost {
  position: relative;
  background-color: var(--background-root);
  width: 100%;
  height: 903px;
  overflow: hidden;
  text-align: center;
  color: var(--text-h1);
}
/*.custom > :nth-child(1) > :nth-child(2) > :last-child > :last-child  */
.custom > :nth-child(1) > :nth-child(2) > :first-child > :first-child > :first-child > :first-child > :last-child {
  filter: hue-rotate(122deg);
}

.custom > :nth-child(2) > :nth-child(2) > :first-child > :first-child > :first-child > :first-child > :last-child {
  filter: hue-rotate(287deg);
}
.custom > :nth-child(8) > :nth-child(2) > :first-child > :first-child > :first-child > :first-child > :last-child {
  filter: hue-rotate(-30deg);
}
.custom > :nth-child(11) > :nth-child(2) > :first-child > :first-child > :first-child > :first-child > :last-child {
  filter: hue-rotate(41deg);
}
.custom > :nth-child(14) > :nth-child(2) > :first-child > :first-child > :first-child > :first-child > :last-child {
  filter: grayscale(1);
}

.custom > :nth-child(5) > :nth-child(2) > :first-child > :first-child > :first-child > :first-child > :last-child {
  filter: hue-rotate(185deg);
}

.custom
  > :nth-child(3)
  > :first-child
  > :nth-child(2)
  > :first-child
  > :first-child
  > :first-child
  > :first-child
  > :nth-child(3)
  > :nth-child(5)
  > :first-child
  > path {
  fill: #4a3aff;
}
