.taskpopup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  transition: box-shadow 0.3s;
  border-radius: var(--br25);
  background: var(--color-white);
  border: 3px solid var(--box-border);
  box-sizing: border-box;
  padding: var(--paddingbox);
  max-width: 395px;
  width: calc(100% - 50px);
  max-height: 600px;
  height: calc(100% - 50px);
  min-width: 250px;
  gap: var(--gap-20);
  animation: fadeIn 0.3s ease-in-out;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.15);
}
.taskpopup2 {
  position: fixed;
  align-items: center;
  max-width: 400px;
  width: calc(100% - 40px);
  max-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  gap: 20px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 117;
  animation: fadeIn 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  position: relative;
  width: 100%;
  font-size: var(--font-16);
  font-weight: var(--weight-700);
  color: var(--text-h1);
  text-align: left;
  text-transform: capitalize;
}

.profile {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  padding: 20px 0px 20px 0px;
  border-top: 2px solid var(--color-gray30);
  border-bottom: 2px solid var(--color-gray30);
}
.picture {
  position: relative;
  min-width: 70px;
  width: 100%;
  max-width: 70px;
  min-height: 70px;
  height: 100%;
  max-height: 70px;
  box-sizing: border-box;
  border-radius: 70%;
}
.profiledetail {
  justify-content: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-800);
}
.username {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-500);
}
.userstatus {
  position: relative;
  text-align: left;
  color: var(--color-dark-green);
  font-size: var(--font-12);
  font-weight: var(--weight-500);
}
.option {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
}
.otheroption {
  margin-top: 30px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
}
.optiondetail {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.optionbtn {
  position: relative;
  width: 100%;
  text-align: left;
  color: var(--text-h1);
  cursor: pointer;
  font-size: var(--font-14);
  font-weight: var(--weight-800);
  text-transform: capitalize;
}
