@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.normalWinerpicker {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  transition: box-shadow 0.3s;
  border-radius: var(--br25);
  background: var(--color-white);
  border: 3px solid var(--box-border);
  box-sizing: border-box;
  padding: var(--paddingbox);
  justify-content: space-between;
  width: 395px;
  max-width: calc(100% - 50px);
  height: 700px;
  max-height: calc(100% - 50px);
  min-width: 250px;
  gap: var(--gap-20);
  overflow-y: auto;
  animation: fadeIn 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .normalWinerpicker {
    padding: var(--paddingboxmobile) !important;
  }
}
.explain,
.header {
  text-align: left;
  position: relative;
}

.header {
  color: var(--text-h1);
  font-size: var(--font-18);
  font-weight: var(--weight-800);
  text-transform: capitalize;
}

.calendarmodule {
  width: 100%;
  height: 100%;
  position: relative;
}
/* -----------------------------------------------------.calendarmodule------------------------------------------------------ */
/*.calendarmodule -start */
.calendarmodule > div {
  border: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  height: max-content !important;
  box-shadow: none !important;
}
.calendarmodule > div > div:nth-child(1) {
  border-bottom: 0px !important;
}
.calendarmodule > div > div:nth-child(2) {
  padding: 0px;
  border-top: 1px solid var(--color-gray30) !important;
}

.calendarmodule > div > div:nth-child(1) > div:nth-child(1) {
  width: 100% !important;
  padding: 0px !important;
}
/*.calendarmodule - end */
/* header -start */

.calendarmodule > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  padding: 0px !important;
  margin: 0 !important;
  font-size: var(--font-14) !important;
  font-weight: var(--weight-600);
}

.calendarmodule > div > div > div > div > div > div {
  width: 100%;
  margin: 0px !important;
  color: var(--color-light-blue) !important;
}

.calendarmodule
  > div
  > div
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > div:nth-child(1) {
  color: var(--color-light-blue) !important;
  width: 100%;
  margin: 0px !important;
}

/*  */
.calendarmodule > div > div > div > div > div > button:nth-child(3),
.calendarmodule > div > div > div > div > div > button:nth-child(1) {
  margin: 5px 0px !important;
  height: 17px !important;
  width: 20px !important;
  align-items: center !important;
  padding: 0px !important;
  box-sizing: border-box !important;
  margin: 0px !important;
  transition: all 0.1s ease-in-out !important;
}
.calendarmodule > div > div > div > div > div > button:nth-child(3) > i,
.calendarmodule > div > div > div > div > div > button:nth-child(1) > i {
  height: 7px !important;
  margin-top: 0px !important;
  padding: 0px !important;
  width: 7px !important;
  border-radius: 2px 3px 4px 2px !important;
  border-width: 0 3px 3px 0 !important;
  border: solid var(--color-light-blue);
}
.calendarmodule > div > div > div > div > div > button:nth-child(3):hover,
.calendarmodule > div > div > div > div > div > button:nth-child(1):hover {
  background-color: transparent !important;
  box-shadow: none !important;
  color: var(--color-light-blue) !important;
}
.calendarmodule > div > div > div > div > div > button:nth-child(1):active {
  background-color: transparent !important;
  box-shadow: none !important;
  transform: translatex(-3px) !important;
}
.calendarmodule > div > div > div > div > div > button:nth-child(3):active {
  background-color: transparent !important;
  box-shadow: none !important;
  transform: translatex(3px) !important;
}

/*  */
.calendarmodule > div > div > div > div > div > div > span {
  padding: 0 var(--padding-10) 0 var(--padding-10) !important;
}
/* header -end */
/* day - start */
.calendarmodule > div > div > div > div:nth-child(2) {
  box-sizing: border-box;
  padding: 0px 0px 10px 0px !important;
}

.calendarmodule > div > div > div > div:nth-child(2) > div:nth-child(1),
.calendarmodule > div > div > div > div:nth-child(2) > div:nth-child(2),
.calendarmodule > div > div > div > div:nth-child(2) > div:nth-child(3) {
  padding: 0px !important;

  background-color: var(--color-white) !important;
  border-radius: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;
}

.calendarmodule > div > div > div > div > div > div > div > div {
  text-transform: uppercase;
  width: 100% !important;
  max-width: 100% !important;
  aspect-ratio: 1/1 !important;
  height: 100% !important;
  font-size: var(--font-12);
  font-weight: var(--weight-700);
}

.calendarmodule
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(n + 2)
  > div {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-transform: uppercase !important;
  box-sizing: border-box !important;
  font-size: var(--font-12) !important;
  font-weight: var(--weight-600) !important;
  color: var(--text-h1) !important;
}
.calendarmodule
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(n + 2)
  > div
  > span {
  width: 70% !important;
  height: 70% !important;
  display: flex !important;
  font-size: var(--font-14);
  border-radius: var(--br10) !important;
  bottom: auto !important;
  left: auto !important;
  position: relative !important;
  right: auto !important;
  top: auto !important;
  align-items: center !important;
  justify-content: center !important;
}
.calendarmodule
  > div
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(n + 2)
  > div
  > span:hover {
  box-shadow: none !important;
  background-color: var(--color-dark-blue60) !important;
  border: 1px solid var(--color-dark-blue) !important;
  color: var(--text-h1) !important;
}
/* day - end */
/* time picker -start- */
.calendarmodule > div > div:nth-child(2) > div {
  justify-self: center;
  padding: 0px !important;
  min-width: 150px !important;
  width: 150px;
  margin-top: 5px !important;
  color: var(--text-h2) !important;
  font-weight: var(--weight-600) !important;
}
.calendarmodule
  > div
  > div:nth-child(2)
  > div
  > div:nth-child(n + 1)
  > button:nth-child(3) {
  margin: 5px 0px !important;
  height: 20px !important;
  width: 20px !important;
  align-items: center !important;
  padding: 3px !important;
  box-sizing: border-box !important;
  content: url("/down-arrow.svg");
  transition: all 0.1s ease-in-out !important;
}
.calendarmodule
  > div
  > div:nth-child(2)
  > div
  > div:nth-child(n + 1)
  > button:nth-child(1):hover,
.calendarmodule
  > div
  > div:nth-child(2)
  > div
  > div:nth-child(n + 1)
  > button:nth-child(3):hover {
  background-color: transparent !important;
  box-shadow: none !important;
}
.calendarmodule
  > div
  > div:nth-child(2)
  > div
  > div:nth-child(n + 1)
  > button:nth-child(1):active,
.calendarmodule
  > div
  > div:nth-child(2)
  > div
  > div:nth-child(n + 1)
  > button:nth-child(3):active {
  background-color: transparent !important;
  box-shadow: none !important;
  transform: translatey(-3px) !important;
}
.calendarmodule
  > div
  > div:nth-child(2)
  > div
  > div:nth-child(n + 1)
  > button:nth-child(3):active {
  background-color: transparent !important;
  box-shadow: none !important;
  transform: translatey(3px) !important;
}

.calendarmodule
  > div
  > div:nth-child(2)
  > div
  > div:nth-child(n + 1)
  > button:nth-child(1) {
  margin: 5px 0px !important;
  height: 20px !important;
  width: 20px !important;
  align-items: center !important;
  padding: 3px !important;
  box-sizing: border-box !important;
  content: url("/up-arrow.svg") !important;
  transition: all 0.1s ease-in-out !important;
}

.calendarmodule > div > div:nth-child(2) > div > div:nth-child(n + 1) > input,
.calendarmodule
  > div
  > div:nth-child(2)
  > div
  > div:nth-child(n + 1)
  > div:nth-child(2) {
  padding: var(--padding-10) !important;
  height: 45px !important;
  width: 40px !important;
  box-sizing: border-box !important;
  margin: 0px !important;
  border: 1px solid var(--color-gray60) !important;
  border-radius: var(--br8) !important;
  font-family: var(--Montserrat) !important;
  background-color: transparent !important;
  color: var(--text-h1) !important;
  font-weight: var(--weight-600) !important;
}
/* time picker -end- */

.calendarmodule > div > div:nth-child(2) > div > div:nth-child(n + 1) > input,
.calendarmodule
  > div
  > div:nth-child(2)
  > div
  > div:nth-child(n + 1)
  > div:nth-child(2) {
  padding: var(--padding-10) !important;
  height: 45px !important;
  width: 40px !important;
  box-sizing: border-box !important;
  margin: 0px !important;
  border: 1px solid var(--color-gray60) !important;
  border-radius: var(--br8) !important;
  font-family: var(--Montserrat) !important;
  background-color: transparent !important;
  color: var(--text-h1) !important;
  font-weight: var(--weight-600) !important;
}

/* .rmdp-wrapper {
  border: 0 !important;
  width: 100% !important;
  background: var(--color-white) !important;
  height: 100% !important;
}
.rmdp-header-values span {
  padding: 0 var(--padding-10) 0 var(--padding-10) !important;
}
.rmdp.calendar {
  height: max-content !important;
  padding: 0 !important;
}
.rmdp-border-bottom {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  border-bottom: 1px solid var(--content-box) !important;
}
.rmdp-header {
  font-size: var(--font-14) !important;
  padding: 0 0 var(--padding-10) 0 !important;
  margin-top: 0 !important;
}
.rmdp-header-values {
  margin: auto !important;
  color: var(--color-light-blue) !important;
  text-align: center !important;
  font-family: var(--Montserrat) !important;
  font-size: var(--font-16) !important;
  font-style: normal !important;
  font-weight: var(--weight-600) !important;
  line-height: normal !important;
}
.rmdp-arrow-container {
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  margin: 0 !important;
  padding: 0;
  width: 20px;
  transition: all 0.3s !important;
}
.rmdp-day-picker {
  width: 100% !important;
  padding: 0 !important;
  display: flex !important;
  flex-direction: column !important;
}
.rmdp-day {
  color: var(--text-h1) !important;
}
.rmdp-time-picker div .rmdp-am,
.rmdp-time-picker div input,
.rmdp-week,
.rmdp-ym {
  color: var(--text-h2) !important;
  text-align: center !important;
  font-style: normal !important;
}
.rmdp-week,
.rmdp-week-day,
.rmdp-ym {
  font-family: var(--Montserrat) !important;
  line-height: 15px !important;
  font-size: var(--font-12) !important;
}
.rmdp-week,
.rmdp-ym {
  padding-bottom: 10px !important;
  font-weight: var(--weight-600) !important;
}
.rmdp-week-day {
  text-align: center !important;
  font-style: normal !important;
  font-weight: var(--weight-700) !important;
  color: var(--color-dark-blue) !important;
  cursor: default !important;
  text-transform: uppercase !important;
}
.rmdp-time-picker {
  position: relative !important;
  top: 20px !important;
  display: flex !important;
  padding: 0 !important;
  justify-self: center !important;
  direction: ltr !important;
  min-width: 200px !important;
  width: min-content !important;
}
.rmdp-time-picker div .rmdp-am,
.rmdp-time-picker div input {
  background: var(--color-white) !important;
  font-family: Montserrat !important;
  font-size: var(--font-14) !important;
  font-weight: 500 !important;
  line-height: normal !important;
  border-radius: var(--br8) !important;
  border: 1px solid var(--content-box) !important;
  display: flex !important;
  width: 35px !important;
  height: 35px !important;
  padding: 5px !important;
  justify-content: center !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  transition: all 0.3s !important;
}
.rmdp-time-picker div input:focus-visible {
  border: 1px solid var(--color-dark-blue) !important;
}
.rmdp-time-picker div {
  align-items: center !important;
  flex: 1 !important;
  margin-top: 0 !important;
  row-gap: var(--gap-5) !important;
}
.rmdp-time-picker .dvdr {
  margin-top: 0 !important;
  color: var(--text-h1) !important;
  font-weight: var(--weight-700) !important;
}
.rmdp-day span,
.rmdp-time-picker .dvdr,
.rmdp-time-picker div,
.rmdp-week-day {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
.rmdp-day span {
  border: 1px solid transparent !important;
  border-radius: var(--br15) !important;
  bottom: 0 !important;
  font-size: var(--font-14) !important;
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  transition: all 0.3s;
}
.rmdp-day-hidden,
.rmdp-day.rmdp-disabled,
.rmdp-time-picker .dvdr {
  text-align: center !important;
  font-family: var(--Montserrat) !important;
  font-size: var(--font-14) !important;
  font-style: normal !important;
  line-height: normal !important;
}
.rmdp-day-hidden,
.rmdp-day.rmdp-disabled {
  cursor: no-drop !important;
  color: var(--text-h2) !important;
  font-weight: var(--weight-300) !important;
  opacity: 0.5;
}
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: transparent !important;
  border: 1px solid var(--color-dark-blue) !important;
  border-radius: var(--br10) !important;
  color: var(--color-dark-blue) !important;
}
.rmdp-arrow {
  border-width: 0 2px 2px 0 !important;
  display: inline-block !important;
  height: 4px !important;
  margin-top: 5px !important;
  padding: 2px !important;
  width: 4px !important;
  transition: all 0.3s !important;
}
.rmdp-arrow-container:hover {
  background-color: transparent !important;
  box-shadow: 0 0 0 var(--color-disable) !important;
  transform: scale(1.2);
}
.rmdp-arrow-container:hover .rmdp-arrow {
  border: solid var(--color-dark-blue) !important;
  border-width: 0 2px 2px 0 !important;
}
.rmdp-arrow-container.disabled .rmdp-arrow,
.rmdp-arrow-container.disabled:hover .rmdp-arrow {
  border: solid var(--text-h2) !important;
  border-width: 0 2px 2px 0 !important;
}
.rmdp-arrow-container:active {
  transform: scale(0.9) !important;
}
.rmdp-month-picker,
.rmdp-year-picker {
  background-color: var(--color-white) !important;
  border-radius: 0 0 var(--br5) var(--br5) !important;
  width: 100% !important;
  height: 290px !important;
  bottom: 0 !important;
  left: 1px !important;
  position: absolute !important;
  right: 2px !important;
  top: 0 !important;
}
.rmdp-ym {
  height: 25% !important;
  gap: 30px !important;
}
.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--color-dark-blue) !important;
  box-shadow: 0 0 0 var(--text-h1) !important;
  color: #fff !important;
  border-radius: var(--br10) !important;
}
.rmdp-day.rmdp-today span {
  border-radius: var(--br10) !important;
}
.hue-horizontal {
  border-radius: var(--br25) !important;
}
.hue-picker-thumb {
  width: 40px !important;
  height: 20px !important;
}
.hue-horizontal > div {
  z-index: 10;
  top: -1px !important;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  box-sizing: border-box !important;
  border: 3px solid #fff !important;
}
.hue-horizontal > div > div {
  top: -8px;
  left: 3px;
  position: absolute !important;
  width: 16px !important;
  height: 22px !important;
  cursor: grab !important;
  background: 0 0 !important;
  border-bottom: 8px solid #fff !important;
  border-right: 5px solid #fff !important;
  border-top: 8px solid #fff !important;
  border-left: 5px solid #fff !important;
  box-sizing: border-box !important;
  border-radius: var(--br8) !important;
  box-shadow: rgba(0, 0, 0, 0.37) 0 1px 4px 0 !important;
}
.hue-horizontal > div > div:active {
  cursor: grabbing !important;
}
.slider1,
.slider1 .thumb {
  transition: all 0.2 ease-in-out;
}
.slider1 {
  width: 100%;
  height: 2px;
  background: var(--color-gray60);
}
.slider1 .thumb {
  width: 17px;
  height: 17px;
  cursor: grab;
  background: var(--color-white);
  border-radius: 50%;
  border: 2px solid var(--color-silver);
  top: -7px;
  box-sizing: border-box;
}
.thumb:hover {
  border: 5px solid var(--color-silver);
}
.slider1 .thumb:active {
  cursor: grabbing;
  background: var(--color-silver);
}
.slider2 {
  left: 0;
  top: -13px;
  width: 170px;
  height: 2px;
  background-color: #cdd9ed;
  margin-top: 20px;
}
.slider2 .thumb {
  width: 15px;
  height: 15px;
  cursor: grab;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #275efe;
  top: -7px;
} */
