.shareWinnerPicker {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  transition: box-shadow 0.3s;
  border-radius: var(--br25);
  background: var(--color-white);
  border: 3px solid var(--box-border);
  box-sizing: border-box;
  padding: var(--paddingbox);
  justify-content: space-between;
  width: 395px;
  max-width: calc(100% - 50px);
  height: 700px;
  max-height: calc(100% - 50px);
  min-width: 250px;
  gap: var(--gap-20);
  overflow-y: auto;
  animation: fadeIn 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .shareWinnerPicker {
    padding: var(--paddingboxmobile) !important;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-18);
  font-weight: var(--weight-800);
  text-align: center;
  text-transform: capitalize;
}

.storyheader {
  padding: var(--padding-5) var(--padding-10);
  border-radius: var(--br8);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  background-color: #00000066;
  color: #fff;
  box-sizing: border-box;
}
.timerparent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-10);
}
.timer {
  position: relative;
  display: flex;
  gap: var(--gap-5);
  flex-direction: column;
  justify-content: center;
  width: 90px;
  height: 80px;
  border-radius: var(--br8);
  font-size: var(--font-30);
  font-weight: var(--weight-800);
  background-color: #00000066;
  box-sizing: border-box;
}
.timerchild {
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-600);
}
.storyfooter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  background-color: #00000066;
  padding: var(--padding-5) var(--padding-10);
  border-radius: var(--br8);
  color: #fff;
  box-sizing: border-box;
}
