.contentContainer {
  position: relative;
  -moz-column-gap: 30px;
  column-gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  min-width: 200px;
  height: 635px;
}
.termsAndConditionContainer {
  position: relative;
  display: flex;
  width: 395px;
  height: 100%;
  min-width: 250px;
  gap: var(--gap-20);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.termsAndConditionBannerContainer {
  display: flex;
  gap: var(--gap-30);
  position: relative;
  width: 395px;
  align-items: center;
  height: 100%;
  min-width: 250px;
  flex-direction: column;
  justify-content: flex-end;
}
.step {
  color: var(--color-light-blue);
  text-align: right;
  font-size: var(--font-14);
  font-style: normal;
  font-weight: var(--weight-700);
}
.storybox {
  position: relative;
  aspect-ratio: 1080 / 1920;
  height: 1920px;
  max-width: 281px;
  max-height: 530px;
  border-radius: var(--br15);
  /* left: 50%; */
  border: 1px solid var(--content-box);
  box-sizing: border-box;
  /* transform: translateX(-50%); */
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  justify-content: center;
  align-items: center;
}

.storytitle {
  border-radius: var(--br8);
  position: relative;
  width: 83%;
  font-size: var(--font-18);
  font-style: normal;
  font-weight: var(--weight-600);
  line-height: normal;
  background-color: #00000066;
  color: #fff;
  padding: var(--padding-5) var(--padding-10);
}

.storyinputText {
  position: relative;
  width: 90%;
  height: 80%;
}

.whitePlaceholder::placeholder {
  position: relative;
  font-size: var(--font-10);
  color: var(--color-white);
  top: 50%;
}

.whitePlaceholder:hover::placeholder {
  font-size: var(--font-10);
}

.whitePlaceholder:focus::placeholder {
  color: transparent;
}

.divTextfield {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--br10);
  border: 0px;
}

.inputTextField {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 95%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Montserrat";
  font-size: var(--font-16) !important;
  font-weight: var(--weight-400);
  resize: none;
  text-align: center;
  overflow: hidden;
}
/* ------------------- */

.colorpalleteContainer {
  position: relative;
  width: 100%;
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-10);
}
.colorpalleteslider {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  gap: var(--gap-10);
  height: 75px;
  scroll-behavior: smooth;
}
.currentcolor {
  position: relative;
  top: 0px;
  height: 100%;
  margin-inline: 10px;
  height: 75px;
}
.colorpalletesliderItem {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.colorpalletesliderItemInner {
  cursor: pointer;
  border-radius: var(--br8);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 35px;
  aspect-ratio: 9/14;
  transition: var(--transition3);
}
.colorpalletesliderItemInner:hover {
  transform: translateY(5px);
}
.notification {
  width: 6px;
  height: 6px;
  position: relative;
  animation: var(--fadeIn4);
  border-radius: 50%;
  background-color: var(--color-dark-blue);
}
/* ------------------------- */
.colorpallete {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: 20px;
  background-color: var(--color-gray60);
  border-radius: var(--br25);
}

/*custom slider1*/

.slider1,
.slider2 {
  width: 100% !important;
  height: 2px !important;
  background: var(--color-gray60) !important;
}

.slider1 > :nth-child(3) {
  width: 17px !important;
  height: 17px !important;
  cursor: grab !important;
  background: var(--color-white) !important;
  border-radius: 50% !important;
  border: 2px solid var(--color-silver) !important;
  top: -7px !important;
  box-sizing: border-box !important;
}

.slider1 > :nth-child(3):hover {
  border: 5px solid var(--color-silver) !important;
}

.slider1 > :nth-child(3):active {
  cursor: grabbing !important;
  background: var(--color-silver) !important;
}

.slider2 > div:nth-child(4),
.slider2 > div:nth-child(5) {
  width: 17px !important;
  height: 17px !important;
  cursor: grab !important;
  background: var(--color-white) !important;
  border-radius: 50% !important;
  border: 2px solid var(--color-silver) !important;
  top: -7px !important;
  box-sizing: border-box !important;
}

.slider2 > div:nth-child(2),
.slider1 > div:nth-child(1) {
  height: 1px;
  background-color: var(--color-gray);
}

/*custom slider2*/
.colorpallete > div > div > div > div {
  border-radius: var(--br25) !important;
}

.colorpallete > div > div > div > div > div:nth-child(2) {
  z-index: 10;
  top: -1px !important;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  box-sizing: border-box !important;
  border: 3px solid #fff !important;
}

.colorpallete > div > div > div > div > div:nth-child(2) > div {
  top: -8px;
  left: 3px;
  position: absolute !important;
  width: 16px !important;
  height: 22px !important;
  cursor: grab !important;
  background: 0 0 !important;
  border-bottom: 8px solid #fff !important;
  border-right: 5px solid #fff !important;
  border-top: 8px solid #fff !important;
  border-left: 5px solid #fff !important;
  box-sizing: border-box !important;
  border-radius: var(--br8) !important;
  box-shadow: rgba(0, 0, 0, 0.37) 0 1px 4px 0 !important;
}

.colorpallete > div > div > div > div > div:nth-child(2) > div:active {
  cursor: grabbing !important;
}

.Position {
  gap: var(--gap-10);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
  height: 20px;
  border-radius: var(--br25);
  position: relative;
  align-items: center;
  align-content: center;
}

.option1 {
  width: 50px;
  text-align: left;
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  color: var(--text-h1);
  text-align: center;
}
/* --------------------------- */

.typeRight {
  width: 100%;
  max-width: 250px;
  position: relative;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-10);
  width: 100%;
}

.buttonType {
  transition: var(--transition3);
  width: 100%;
  border-radius: var(--br8);
  border: 1px solid var(--content-box);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-dark-blue);
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.buttonType:hover {
  border: 1px solid var(--color-dark-blue);
}

.activeButtonType {
  transition: var(--transition3);
  width: 100%;
  height: 24px;
  border-radius: var(--br8);
  border: 1px solid var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  word-wrap: break-word;
  background-color: var(--color-dark-blue);
  cursor: pointer;
  box-sizing: border-box;
}

.blackRotation {
  position: absolute;
  left: 10px;
  top: 6px;
  z-index: 100;
  cursor: pointer;
}

.whiteRotation {
  position: absolute;
  right: 10px;
  top: 6px;
  z-index: 100;
  cursor: pointer;
}
.deactiveStorybox {
  position: relative;
  width: 1080px;
  height: 1920px;
  max-width: 281px;
  max-height: 530px;
  border-radius: var(--br15);
  border: 1px solid var(--content-box);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  pointer-events: none;
}

/* ----------------------------------------- */
