@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.winnerList {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  transition: box-shadow 0.3s;
  border-radius: var(--br25);
  background: var(--color-white);
  border: 3px solid var(--box-border);
  box-sizing: border-box;
  padding: var(--paddingbox);
  justify-content: space-between;
  width: 395px;
  max-width: calc(100% - 50px);
  height: 700px;
  max-height: calc(100% - 50px);
  min-width: 250px;
  gap: var(--gap-20);
  overflow-y: auto;
  animation: fadeIn 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .winnerList {
    padding: var(--paddingboxmobile) !important;
  }

  .winnerId {
    font-size: var(--font-16) !important;
  }
  .date {
    font-size: var(--font-14) !important;
  }
}
.header,
.winnerId {
  color: var(--text-h1);
  font-size: var(--font-18);
  font-weight: var(--weight-800);
}

.header {
  position: relative;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}

.winnerId {
  gap: 5px;
  padding: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--br15);
  border: 1px solid var(--background-root);
  background-color: var(--background-root);
  transition: all 0.2s;
  box-sizing: border-box;
}

.winner,
.winnerId,
.winnersContainer {
  display: flex;
  position: relative;
  width: 100%;
}

.winnersContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  gap: var(--gap-20);
  flex-direction: column;
  align-items: flex-start;
}

.winner {
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  gap: var(--gap-10);
}

.winnerCount {
  position: relative;
  width: 60px;
  color: var(--color-light-blue);
  font-size: 40px;
  font-weight: var(--weight-800);
}

.winnerInfo {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

.profileImage {
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.fullName,
.username {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-16);
  font-weight: var(--weight-700);
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  text-align: left;
}

.username {
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-500);
}

.type {
  color: var(--color-dark-blue);
}

.date {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-16);
  font-weight: var(--weight-500);
}
