/* InlineBarChart styles */
.chartContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.chartSvg {
  display: block;
  min-height: 300px;
}

.grid-line {
  stroke: var(--color-gray30);
  stroke-width: 1;
  stroke-dasharray: 2;
}
.axis-text {
  font-size: 12px;
  fill: var(--text-h2);
  font-weight: 400;
}

.bar-gray.bar-blue {
  transition: var(--transition3);
  animation: var(--fadeIn3);
}

.bar-blue:hover {
  opacity: 0.8;
}

/* HTML overlay for average line */
.avg-line-wrapper {
  position: absolute;
  pointer-events: none;
  left: 0;
  height: 0;
}
.avg-line {
  position: absolute;
  height: 2px;
  background: linear-gradient(-90deg, var(--color-dark-blue10) 0%, var(--color-dark-blue) 100%);
  transform: translateY(-50%);
  border-radius: 2px;
}
.avg-text {
  min-width: 32px;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  background-color: var(--color-dark-blue);
  color: #fff;
  font-weight: 500;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 6px;
  pointer-events: auto;
  transition: var(--transition2);
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.avg-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-dark-blue);
  transition: var(--transition2);
}

/* Selected bar line styles */
.selected-line-wrapper {
  position: absolute;
  pointer-events: none;
  left: 0;
  height: 0;
  z-index: 10;
}
.selected-line {
  position: absolute;
  height: 2px;
  background: linear-gradient(-90deg, var(--color-gray10) 0%, var(--color-gray60) 100%);
  transform: translateY(-50%);
  border-radius: 2px;
}
.selected-text {
  min-width: 32px;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  background-color: var(--color-gray);
  color: #fff;
  font-weight: var(--weight-400);
  font-size: var(--font-10);
  padding: 2px 5px;
  border-radius: 6px;
  pointer-events: auto;
  transition: var(--transition2);
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  animation: var(--fadeIn3);
}
.selected-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent var(--color-gray);
  transition: var(--transition2);
}

.tooltip {
  position: absolute;
  background: var(--color-white);
  color: var(--text-h1);
  border-radius: var(--br10);
  padding: 10px;
  font-size: 12px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  white-space: nowrap;
  z-index: 50;
  animation: var(--fadeIn3);
  border: 1px solid var(--color-gray30);
}
