.all {
  gap: var(--gap-20);
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.1s ease;
}

.show {
  max-height: 100%;
  opacity: 1;
}
.addnewlink {
  position: relative;
  width: 100%;
  height: 70px;
  border: 1px solid var(--content-box);
  border-radius: var(--br15);
  gap: var(--gap-10);
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: var(--padding-10);
  transition: var(--transition2);
  cursor: pointer;
}
.addnewlink:hover {
  border: 1px solid var(--color-dark-blue);
}
.addnewicon {
  position: relative;
  width: 100%;
  max-width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.addnewcontent {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-5);
  flex-direction: column;
  align-items: flex-start;
}
.addnewheader {
  position: relative;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--color-dark-blue);
}
.myhashtagList {
  display: flex;
  gap: var(--gap-5);
  padding: var(--padding-10);
  position: relative;
  border-radius: 0 var(--br15) var(--br15) var(--br15);
  border: 1px solid var(--content-box);
  background-color: var(--color-disable);
  width: 100%;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  @media (max-width: 400px) {
    height: 260px !important;
  }
}
html[dir="rtl"] .myhashtagList {
  border-radius: var(--br15) 0 var(--br15) var(--br15);
}
.tagHashtag {
  height: 23px;
  float: left;
  padding: var(--paddingtag);
  position: relative;
  border-radius: var(--br8);
  flex-direction: row;
  gap: var(--gap-5);
  justify-content: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-blue30);
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.rtlTag {
  flex-direction: row-reverse;
}
.hashtagicon {
  position: relative;
  width: 15px;
}
