.reviewslist {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  gap: var(--gap-30);
  padding-bottom: 10px;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
  align-items: center;
}
.reviewslist::-webkit-scrollbar {
  display: block;
}
.reviewscontent {
  position: relative;
  min-width: 395px;
  max-width: 400px;
  height: 165px;
  gap: var(--gap-10);
  padding: var(--padding-20);
  border-radius: var(--br25);
  background-color: var(--background-root);

  display: flex;
  flex-direction: column;
  @media (max-width: 720px) {
    min-width: 295px !important;
  }
}
.reviewscontenttop {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}
.reviewerprofile {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
}
.reviewsprofileimage {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reviewer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.reviewdate {
  color: var(--text-h2);
  font-size: var(--font-10);
  font-weight: var(--weight-400);
}

.reviewscontenttext {
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  width: 100%;
  min-height: 80px;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-self: center;
  text-align: left;
  color: var(--text-h1);
  border-left: 2px solid var(--box-border);
  overflow-y: scroll;
  margin-left: 15px;
  padding-left: 15px;
  @media (max-width: 720px) {
    font-size: var(--font-12) !important;

    -webkit-line-clamp: 6 !important;
    line-clamp: 6 !important;
  }
}
