.notification {
  top: 73px;
  right: 55px;
  z-index: 999;
  display: flex;
  min-width: 350px;
  width: 100%;
  max-width: 350px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;

  justify-content: space-between;
  padding: var(--padding-8);
  box-shadow: var(--box-shadow);
  background: var(--color-white);
  border-radius: var(--br15) 0px var(--br15) var(--br15);
  animation: scale-in-tr 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* .notification::before {
  z-index: 1000;
  position: absolute;
  content: " ";
  top: -10px;
  right: 53px;
  width: 25px;
  height: 25px;
  border-radius: var(--br5);
  transform: rotate(45deg);
  background: var(--color-white);
} */
@keyframes scale-in-tr {
  0% {
    transform: scale(0);
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
}

.notificationchild {
  padding: var(--padding-10);
  position: relative;
  display: flex;
  gap: var(--gap-10);
  transition: var(--transition1);
  border-bottom: 1px solid var(--color-gray30);
  cursor: pointer;
}
.notificationchild:hover {
  border-bottom: 1px solid transparent;
  background-color: var(--color-gray30);
  border-radius: var(--br5);
}
.notificationchild:hover .iconok,
.iconnormal,
.iconwarning,
.iconfailed {
  border: 1px solid var(--color-gray30);
}
.iconok,
.iconnormal,
.iconwarning,
.iconfailed {
  border: 1px solid transparent;
  position: relative;
  min-height: 40px;
  height: 40px;
  padding: var(--padding-10);

  border-radius: var(--br10);
  width: 40px;
  min-width: 40px;
  transition: var(--transition1);
}
.notifbody {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  height: 100%;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.title {
  position: relative;
  text-transform: uppercase;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);

  text-align: left;
}
.time {
  position: relative;
  text-transform: lowercase;
  font-size: var(--font-10);
  font-weight: var(--weight-400);
  color: var(--text-h2);
}
.message {
  position: relative;
  text-transform: capitalize;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  color: var(--text-h1);
  width: 100%;
  text-align: left;
}
