.aiWorkspace {
  width: 100%;
  display: flex;
  gap: 30px;
  min-height: 100%;
  padding: var(--paddingbox);
  color: var(--text-h1);
  flex-direction: column;
  justify-content: flex-start;
  @media (max-width: 600px) {
    padding: var(--paddingboxmobile);
  }
}
