.all {
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
  overflow-y: auto;
  padding: 5px;
  height: 100%;
}

.calendar {
  width: 100%;
  transition: var(--transition3);
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: center;
  justify-content: space-evenly;
}
.input {
  padding-inline: var(--padding-10);
  width: fit-content;
  display: flex;
  position: relative;
  border-radius: var(--br10);
  font-size: var(--font-12);
  border: 1px solid var(--content-box);
  background-color: var(--color-disable);
  color: var(--text-h1);
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: var(--transition3);
}
