.pictureIcon {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 48px;
  height: 48px;
}
.onlinering {
  justify-content: center;

  align-items: center;
  display: flex;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: var(--second-44cb8c);
}

.profile {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.username {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-800);
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 100px;
  width: 100%;

  line-height: normal;
  white-space: nowrap;
}
/* ___left___ */
.header {
  top: 0px;
  left: 0px;
  padding: var(--padding-10) var(--padding-20);
  z-index: 10;
  position: absolute;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  width: 100%;
  background-color: var(--color-gray10);
  border-bottom: 1px solid var(--box-border);
  display: flex;
  border-radius: var(--br20) var(--br20) 0px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-30);
  height: auto;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.headerExpanded {
  height: auto;
  max-height: 300px;
}

.headerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
}
.headerMainRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-10);
}
.subjectContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-10);
  overflow: hidden;
}
.subjectContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-10);
  overflow: hidden;
}
.subjectText {
  flex: 1;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--text-h1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.expandButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: var(--br10);
  background-color: var(--color-gray30);
  transition: var(--transition3);
  border: 1px solid transparent;
}
.expandButton:hover {
  background-color: var(--color-dark-blue30);
  border: 1px solid var(--color-dark-blue);
}
.expandIcon {
  transition: var(--transition3);
}
.expandIconRotated {
  transform: rotate(180deg);
}
.headerDetails {
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
  padding-top: var(--padding-10);
  border-top: 1px solid var(--box-border);
  animation: var(--fadeIn4);
}
.detailRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-10);
  justify-content: flex-start;
}
.detailLabel {
  font-size: var(--font-12);
  font-weight: var(--weight-600);
  color: var(--text-h2);
  min-width: 80px;
  display: flex;
  justify-content: flex-start;
}
.detailValue {
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h1);
}
html[dir="rtl"] .header {
  flex-direction: row-reverse;
  justify-content: space-between !important;
}
.unread {
  margin-top: var(--gap-10);
  margin-bottom: var(--gap-10);
  display: flex;
  width: 100%;
  left: calc(60% + 40%);
  justify-content: center;
  gap: var(--gap-30);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  align-items: center;
  text-wrap: nowrap;
}
.rightrow,
.leftrow {
  position: relative;
  display: flex;
  gap: var(--gap-20);
  align-items: center;
}
.backicon {
  background-color: var(--color-dark-blue30);
  width: 40px;
  padding: var(--padding-10);
  height: 40px;
  border-radius: var(--br10);
  cursor: pointer;
  transition: var(--transition3);
  border: 1px solid transparent;
}
.backicon:hover {
  border: 1px solid var(--color-dark-blue);
}
html[dir="rtl"] .backicon {
  rotate: 180deg;
}
.userstatus {
  position: relative;
  color: var(--color-light-green);
  text-align: center;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
  width: 100%;

  line-height: normal;
  white-space: nowrap;
}
.userchat {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  height: 50px;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition2);
  cursor: pointer;
}

.moreIcon {
  width: 40px;
  padding: var(--padding-5);
  height: 40px;
  border-radius: var(--br10);
  cursor: pointer;
  transition: var(--transition3);
  border: 1px solid transparent;
}
.moreIcon:hover {
  border: 1px solid var(--color-gray30);
}
/* ___chat___ */

.chat {
  gap: var(--gap-5);
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.leftchatrow {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  align-items: flex-start;
  width: fit-content;
  max-width: 60%;
}
.leftchat {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-10);
}
.resendbox {
  background-color: var(--color-dark-blue30);
  padding: var(--paddingboxmobile);
  border-radius: var(--br20);
  display: flex;
  gap: var(--gap-10);
  flex-direction: column;
  transition: var(--transition3);
}
.leftchatMSG {
  text-align: left;
  border-radius: 0px var(--br8) var(--br8) var(--br8);
  background-color: var(--color-light-blue30);
  display: flex;
  /* width: 80%; */
  color: var(--text-h1);
  position: relative;
  padding: var(--padding-5) var(--padding-10);
  position: relative;
  line-height: 18px;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  letter-spacing: 0.5px;
  white-space-collapse: preserve;
  text-wrap: wrap;
  overflow-wrap: anywhere;
}
.leftchatwithreply {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: var(--gap-5);
}
.leftrepliedmsg {
  border-left: 3px solid var(--color-light-blue30);
  text-align: left;
  height: 46px;
  border-radius: 0px var(--br10) var(--br10) 0px;
  background: var(--color-light-blue30);
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  overflow: hidden;
  color: var(--text-h1);
  position: relative;

  padding: var(--padding-5) var(--padding-10) 0px var(--padding-10);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.leftrepliedmsgdiscription {
  text-align: left;
  height: 31px;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  overflow: hidden;
  color: var(--text-h1);
  position: relative;

  font-size: var(--font-14);
  font-weight: var(--weight-400);
  bottom: 3px;
}
.msgdetail {
  display: flex;
  gap: var(--gap-5);
}
.chatdate {
  position: relative;
  color: var(--text-h2);
  font-size: var(--font-10);
  font-weight: var(--weight-400);
  cursor: pointer;
}
.chaticon {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: var(--gap-5);
  cursor: pointer;
  padding: var(--padding-3) var(--padding-4) var(--padding-3) var(--padding-4);
  border-radius: 0 var(--br5) var(--br5) var(--br5);
  transition: var(--transition2);
}
.chaticon:hover {
  background-color: var(--color-light-blue);
}
.chaticon:hover .circle {
  background-color: var(--color-white);
}

.circle {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transition: var(--transition2);
  background-color: var(--color-gray);
}
.imagebackground {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;

  transition: var(--transition2);
  gap: var(--gap-10);
}

/* ___ */
.rightchatrow {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  align-items: flex-start;
  width: fit-content;
  max-width: 60%;
  margin-left: auto;
}
.rightchat {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;

  gap: var(--gap-10);
}
.rightchatvoice {
  max-height: 35px;
}
.leftchatvoice {
  max-height: 35px;
}
.rightchatMSG {
  text-align: left;
  border-radius: var(--br8) 0px var(--br8) var(--br8);
  background: var(--color-dark-blue);
  display: flex;
  color: var(--color-ffffff);
  padding: var(--padding-5) var(--padding-10);
  line-height: 18px;
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space-collapse: preserve;
}
.rightchatwithreply {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: var(--gap-5);
}

.rightrepliedmsg {
  border-right: 3px solid var(--color-dark-blue);
  text-align: left;
  height: 46px;
  border-radius: var(--br10) 0px 0px var(--br10);
  background: var(--color-dark-blue30);
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  overflow: hidden;
  color: var(--text-h1);
  position: relative;

  padding: var(--padding-5) var(--padding-10) 0px var(--padding-10);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.rightrepliedmsgdiscription {
  text-align: left;
  height: 31px;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  overflow: hidden;
  color: var(--text-h1);
  position: relative;

  font-size: var(--font-14);
  font-weight: var(--weight-400);
  bottom: 3px;
}

.chatstatus {
  position: relative;
  display: flex;
  gap: var(--gap-5);
}
.sent {
  display: flex;
  position: relative;
}
/* ___detail___ */
.blockeduser {
  position: relative;
  width: 100%;
  background-color: var(--color-dark-red30);
  display: flex;
  margin-top: var(--gap-10);
  gap: var(--gap-10);
  padding: var(--padding-5);
  justify-content: center;
  align-items: center;
  border-radius: var(--br10);
}
.blockeduserbtn {
  color: var(--text-h1);
  font-weight: var(--weight-400);
  font-size: var(--font-12);
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--br10);
  transition: var(--transition3);
  text-align: center;
  cursor: pointer;
}
.notactiveexplain {
  height: 25px;
  position: relative;
  cursor: pointer;
}
.notactiveexplain > svg {
  animation: heartbeat 3s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.tooltip {
  position: absolute;
  bottom: 100%;
  right: -10%;
  background-color: var(--background-root);
  color: var(--text-h1);
  padding: var(--padding-8) var(--padding-12);
  max-width: 310px;
  display: flex;
  text-align: center;
  width: max-content;
  border-radius: var(--br10);
  font-size: var(--font-12);
  margin-bottom: 10px;
  z-index: 100;
  box-shadow: var(--box-shadow);
  animation: var(--fadeIn4);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 8px;

  border-width: 8px;
  border-style: solid;
  border-color: var(--background-root) transparent transparent transparent;
}

.replymsgcontainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.replymsgperson {
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  white-space: normal;
  text-align: left;
}
.replymsgbox {
  position: relative;
  display: flex;
  bottom: 10px;
  /* max-width: 80%;
  min-width: 20%;
  width: fit-content; */
  transition: var(--transition3);
  width: 100%;
  gap: var(--gap-10);
  height: 50px;
  justify-content: space-between;

  align-items: center;
  background: var(--color-gray30);
  padding: var(--padding-5) var(--padding-10) var(--padding-5) var(--padding-14);
  border-radius: var(--br15) var(--br15) var(--br15) 0px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.replymsg {
  position: relative;
  display: flex;
  justify-content: flex-start;

  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--gap-10);
}

.replymsgsvg {
  cursor: pointer;
  position: relative;
  min-width: 15px;
  min-height: 15px;
  width: 15px;
  height: 15px;
}
.replymsgkind {
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  padding-right: var(--padding-10);
  border-right: 1px solid var(--text-h2);
}
.replymsgdiscription {
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h1);
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  white-space: normal;
  text-align: left;
}
.chatdetail {
  position: relative;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
}
.istyping {
  gap: var(--gap-10);
  padding: var(--padding-5);

  position: relative;
  display: flex;
  border-radius: 0px var(--br10) var(--br10) var(--br10);
  background-color: var(--color-gray30);
  transition: var(--transition3);
}
@keyframes typingAnimation {
  0% {
    transform: scale(0.99);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.99);
  }
}
.istyping > img {
  animation: typingAnimation 1s infinite;
}
.goend {
  position: absolute;
  display: flex;
  transition: var(--transition2);
  border: 1px solid transparent;

  cursor: pointer;
  align-content: center;
  justify-content: center;
  align-items: center;
  bottom: 130px;
  right: 20px;
  border-radius: 50%;
  background-color: var(--color-light-blue60);
  box-shadow: var(--box-shadow);
  width: 30px;
  height: 30px;
}

.goend:hover {
  border: 1px solid var(--color-dark-blue);
  fill: var(--color-dark-blue);
}
.goend:active {
  border: 1px solid var(--color-dark-blue);
  transform: scale(0.95);
}

/* ___answer___ */
.answer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sendbtn {
  right: 5px;
  border-radius: 50%;
  background-color: var(--color-dark-blue);
  position: absolute;
  width: 32px;
  height: 32px;
  padding: var(--padding-8);
  fill: var(--color-gray);
  transition: var(--transition2);
  cursor: pointer;
  z-index: 10 !important;
}

.voicebtn {
  left: calc(100% - 75px);
  position: absolute;
  width: 30px;
  height: 30px;
  padding: var(--padding-5);

  fill: var(--color-gray);
  transition: var(--transition2);
  cursor: pointer;
  z-index: 10 !important;
}

.voicebtn:hover {
  fill: var(--color-dark-blue);
}

.answer > div > button {
  position: absolute !important;
  right: 50px !important;
  z-index: 10 !important;
  width: 21px !important;
  height: 21px !important;
  padding: var(--padding-5) !important;
  background-image: url("/emoji.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.answer > div > button > svg {
  display: none !important;
}

.uploadbtn {
  left: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: var(--padding-5);
  fill: var(--color-gray);
  transition: var(--transition2);
  cursor: pointer;
  z-index: 10 !important;
}
.uploadbtn:hover {
  fill: var(--color-dark-blue);
}
.imagevideopreview {
  display: flex;
  place-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.videopreviewicon {
  position: absolute;
  background-color: var(--color-gray60);
  padding: var(--padding-20);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
/* ___end___ */
.answer > div > div {
  margin: 0px !important;
  background-color: var(--color-white) !important;
  color: var(--text-h1) !important;
  border-color: var(--color-gray60) !important;
  transition: var(--transition2);
}

.answer > div > div:hover {
  border-color: var(--color-dark-blue) !important;
}
.answer > div > div:focus-within {
  border-color: var(--color-dark-blue) !important;
}
.answer > div > div > div > div {
  left: 35px;
  color: var(--text-h1) !important;
  width: calc(100% - 120px);
  padding: var(--padding-10) 0px var(--padding-10) 0px !important;
  font-size: var(--font-12);
}
@media (max-width: 500px) {
  .answer > div > button {
    display: none !important;
  }
  .answer > div > div > div > div {
    left: 35px;
    width: calc(100% - 90px);
  }
}

.popupContent {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: var(--padding-5);
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 116;
  transition: var(--transition3);
  border-radius: var(--br25);
  background-color: var(--color-white);

  justify-content: space-between;
  width: 500px;
  max-width: calc(100% - 50px);
  aspect-ratio: 1/1;
  max-height: calc(100% - 50px);
  min-width: 250px;
  animation: var(--fadeIn4);
}
.closebtn {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;

  border-radius: var(--br5);
  background-color: var(--color-gray30);
  border: 2px solid var(--color-gray);
  top: 15px;
  right: 15px;
  padding: var(--padding-5);
  transition: var(--transition2);
}
.closebtn:hover {
  border: 2px solid var(--color-gray);
  background-color: var(--color-gray);
}
.profileimagebig {
  position: relative;

  border-radius: var(--br15);
  width: 100%;
  aspect-ratio: 1/1;
}
