.deleteSessionPopup {
  position: fixed;
  max-width: 400px;
  width: calc(100% - 40px);
  max-height: 400px;
  aspect-ratio: 1/1;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  padding: var(--paddingbox);
  justify-content: space-between;
  z-index: 117;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @media (max-width: 480px) {
    padding: var(--padding-30);
    border-radius: var(--br35);
  }
}
