.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
}
.containeraddress {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  padding: var(--padding-3);
}
.loadingContainer > div > svg > circle {
  stroke: #ffffff !important;
}
.addnewlink {
  position: relative;
  width: 100%;
  min-height: 80px;
  border: 1px solid var(--content-box);
  border-radius: var(--br15);
  gap: var(--gap-10);
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: var(--padding-10);
  transition: var(--transition2);
  cursor: pointer;
}
.addnewlink:hover {
  border: 1px solid var(--color-dark-blue);
}
.addnewicon {
  transition: var(--transition2);
  position: relative;
  width: 100%;
  max-width: 50px;
  aspect-ratio: 1/1;
  background-color: var(--background-root);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.addnewcontent {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-5);
  flex-direction: column;
  align-items: flex-start;
}
.addnewheader {
  text-align: start;

  display: flex;
  gap: var(--gap-5);

  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--color-dark-blue);
}
.addnewheader > div:nth-child(1) {
  color: var(--color-dark-blue) !important;
}
.addressContent {
  background-color: var(--color-gray30);

  border-radius: 0 var(--br15) var(--br15) var(--br15);
  gap: var(--gap-10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  padding: var(--padding-10);
}
html[dir="rtl"] .addressContent {
  border-radius: var(--br15) 0 var(--br15) var(--br15);
}
.addressRow {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-10);
}
.addressText {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-align: start;
  line-height: 1.5;
  width: 100%;
}
