.all {
  gap: var(--gap-20);
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.1s ease;
}

.all.show {
  max-height: 100%;
  opacity: 1;
}
.partnercard {
  display: flex;
  padding: var(--padding-10);
  background-color: var(--background-root);
  border-radius: 0 var(--br15) var(--br15) var(--br15);
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  transition: var(--transition2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  gap: var(--gap-10);
  color: var(--text-h2);
  justify-content: flex-start;
}

.subadmindata {
  gap: var(--gap-10);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  flex-wrap: nowrap;
  min-height: 25px;
  max-height: 25px;
}
.subadmindata > span:nth-child(1) {
  display: flex;
  align-items: center;
  min-width: 120px;
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  color: var(--text-h2);
  height: 100%;
}
.subadmindata > span:nth-child(2) {
  display: flex;
  gap: var(--gap-5);
  width: 100%;
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  color: var(--text-h1);
  background-color: var(--color-gray10);
  border-radius: var(--br8);
  padding: var(--padding-5) var(--padding-8);
  height: 100%;
  align-items: center;
}

.subadmindateparent {
  border-block: 1px solid var(--color-gray30);
  margin-block: var(--padding-10);
  padding-block: var(--padding-10);
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-5);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  flex-wrap: nowrap;
}

.subadmindate {
  position: relative;
  gap: var(--gap-5);
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.subadmindatedata {
  position: relative;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  background-color: var(--color-gray10);
  border-radius: var(--br8);
  padding: var(--padding-5) var(--padding-8);
  flex-direction: column;
  align-items: center;
}
