/* chat date */
.chatdate {
  position: relative;
  color: var(--text-h2);
  font-size: var(--font-10);
  font-weight: var(--weight-400);
  cursor: pointer;
  width: fit-content;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
}
.chatdate:focus-visible {
  outline: 2px solid var(--color-light-blue);
  outline-offset: 2px;
  border-radius: var(--br5);
}
/* chatdate and seen */
.msgdetail {
  display: flex;
  gap: var(--gap-5);
  justify-content: flex-end;
}
.seenCheckmark {
  position: relative;
  right: 5px;
}
.sent {
  display: flex;
  position: relative;
}
/* emoji reaction */
.emojireactionParent {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  align-items: center;
  align-content: center;
}
.emojireaction {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  align-items: center;
  align-content: center;
  background-color: var(--background-root);
  transition: var(--transition3);
  animation: var(--top04);
  padding: 1px;
  border-radius: var(--br10);
  font-size: var(--font-10);
}
.profilereactionpicture {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
/* replied msg */
.replymsgperson {
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  width: 100%;
  word-wrap: break-word;
  display: flex;
  gap: var(--gap-8);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  margin-bottom: 3px;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  white-space: normal;
  justify-content: flex-start;
  text-align: left;
  flex-direction: row;
  align-items: center;
}
.leftrepliedmsg,
.rightrepliedmsg {
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  max-width: 180px;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  color: var(--text-h1);
  position: relative;
  padding: var(--padding-5) var(--padding-10) 0px var(--padding-10);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.leftrepliedmsg {
  border-left: 3px solid var(--color-light-blue30);
  text-align: left;
  border-radius: 0px var(--br10) var(--br10) 0px;
  background: var(--color-light-blue30);
}
.rightrepliedmsg {
  border-right: 3px solid var(--color-dark-blue);
  text-align: right;
  border-radius: var(--br10) 0px 0px var(--br10);
  background: var(--color-dark-blue30);
}
.rightrepliedmsgdiscription,
.leftrepliedmsgdiscription {
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  color: var(--text-h1);
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  bottom: 3px;
}
.rightrepliedmsgdiscription {
  text-align: right;
}
.leftrepliedmsgdiscription {
  text-align: left;
}
.replymsgsvg {
  cursor: pointer;
  position: relative;
  min-width: 15px;
  min-height: 15px;
  width: 15px;
  height: 15px;
}
.shake {
  animation: shakeMessage 1s ease-in-out;
}
@keyframes shakeMessage {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-8px);
    background-color: var(--color-light-blue60);
    padding: var(--padding-10);
    border-radius: var(--br15);
  }
  20% {
    transform: translateX(8px);
  }
  30% {
    transform: translateX(-6px);
  }
  40% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
    background-color: var(--color-light-blue60);
    padding: var(--padding-10);
    border-radius: var(--br15);
  }
  100% {
    transform: translateX(0);
  }
}
/* unread new msg */
.unread {
  margin-top: var(--gap-10);
  margin-bottom: var(--gap-10);
  display: flex;
  width: 100%;
  left: calc(60% + 40%);
  justify-content: center;
  gap: var(--gap-30);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  align-items: center;
  text-wrap: nowrap;
}
.unreadline {
  width: 100%;
  border: 1px solid var(--color-gray30);
  height: 1px;
  box-sizing: border-box;
}

/* left and right */
.leftchatrow {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  width: fit-content;
  max-width: 60%;
  align-items: flex-start;
}
.rightchatrow {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
  align-items: flex-end;
  width: fit-content;
  max-width: 60%;
  margin-left: auto;
}

/* general */
.header {
  top: 10px;
  left: 10px;
  padding: var(--padding-10) var(--padding-20);
  z-index: 10;
  position: absolute;
  backdrop-filter: blur(30px);
  width: calc(100% - 20px);
  height: 60px;
  background-color: var(--color-gray10);
  display: flex;
  border-radius: var(--br20);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-30);
}
html[dir="rtl"] .header {
  flex-direction: row-reverse;
  justify-content: space-between !important;
}
.backicon {
  background-color: var(--color-dark-blue30);
  width: 40px;
  padding: var(--padding-10);
  height: 40px;
  border-radius: var(--br10);
  cursor: pointer;
  transition: var(--transition3);
  border: 1px solid transparent;
}
.backicon:hover {
  border: 1px solid var(--color-dark-blue);
}
html[dir="rtl"] .backicon {
  rotate: 180deg;
}
.chat {
  margin-top: 60px;
  padding-block: 30px;
  gap: var(--gap-20);
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}
.goend {
  position: absolute;
  animation: var(--fadeIn4);
  display: flex;
  transition: var(--transition2);
  border: 1px solid transparent;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  align-items: center;
  bottom: 130px;
  right: 20px;
  border-radius: 50%;
  background-color: var(--color-light-blue60);
  box-shadow: var(--box-shadow);
  width: 30px;
  height: 30px;
}
.goend:hover {
  border: 1px solid var(--color-dark-blue);
  fill: var(--color-dark-blue);
}
.goend:active {
  border: 1px solid var(--color-dark-blue);
  transform: scale(0.95);
}

.blockeduser {
  position: relative;
  width: 100%;
  background-color: var(--color-dark-red30);
  display: flex;
  padding: var(--padding-10);
  gap: var(--gap-5);
  justify-content: center;
  align-items: center;
  border-radius: var(--br10);
}
.blockeduserbtn {
  color: var(--text-h1);
  font-weight: var(--weight-400);
  font-size: var(--font-12);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: var(--br10);
  transition: var(--transition3);
  text-align: center;
  cursor: pointer;
}

.notactiveexplain {
  height: 25px;
  position: relative;
  cursor: pointer;
}
.notactiveexplain > svg {
  animation: heartbeat 3s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.answer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* جلوگیری از زوم خودکار در موبایل */
.answer input,
.answer textarea,
.answer [contenteditable="true"] {
  font-size: 16px !important;
}
.sendbtn {
  left: calc(100% - 38px);
  border-radius: 50%;
  background-color: var(--color-dark-blue);
  position: absolute;
  width: 32px;
  height: 32px;
  padding: var(--padding-8);

  fill: var(--color-gray);
  transition: var(--transition2);
  cursor: pointer;
  z-index: 10 !important;
}

.voicebtn {
  left: calc(100% - 75px);
  position: absolute;
  width: 30px;
  height: 30px;
  padding: var(--padding-5);

  fill: var(--color-gray);
  transition: var(--transition2);
  cursor: pointer;
  z-index: 10 !important;
}

.voicebtn:hover {
  fill: var(--color-dark-blue);
}
.answer > div > div > div > div > :first-child {
  position: relative;
  top: -11px;
  right: 35px;
}
.answer > div > button {
  position: absolute !important;
  left: calc(100% - 100px) !important;
  z-index: 10 !important;
  width: 21px !important;
  height: 21px !important;
  padding: var(--padding-5) !important;

  background-image: url("/emoji.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.answer > div > button > svg {
  display: none !important;
}
.uploadbtn {
  left: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: var(--padding-5);
  fill: var(--color-gray);
  transition: var(--transition2);
  cursor: pointer;
  z-index: 10 !important;
}
.uploadbtn:hover {
  fill: var(--color-dark-blue);
}
.answer > div > div {
  margin: 0px !important;
  background-color: var(--color-white) !important;
  color: var(--text-h1) !important;
  border-color: var(--color-gray60) !important;
  transition: var(--transition2);
}

.answer > div > div:hover {
  border-color: var(--color-dark-blue) !important;
}
.answer > div > div:focus-within {
  border-color: var(--color-dark-blue) !important;
}
.answer > div > div > div > div {
  left: 35px;
  color: var(--text-h1) !important;
  width: calc(100% - 140px);
  padding: var(--padding-10) 0px 10px 0px !important;
  font-size: var(--font-12);
}
@media (max-width: 500px) {
  .answer > div > button {
    display: none !important;
  }

  .answer > div > div > div > div {
    left: 35px;
    width: calc(100% - 110px);
    font-size: 16px !important;
  }
}
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

/* ___end___ */

/*
.rightchat {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--gap-10);
}
/* @media (max-width: 500px) {
  .leftchat > audio {
    max-width: 210px;
  }
  .rightchat > audio {
    max-width: 210px;
  }
}
.rightchatMSG {
  text-align: left;
  border-radius: var(--br8) 0px var(--br8) var(--br8);
  background: var(--color-dark-blue);
  display: flex;
  color: var(--color-ffffff);
  flex-direction: column;
  min-width: 50px;
  padding: var(--padding-5) var(--padding-10);
  line-height: 18px;
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space-collapse: preserve;
} */

/* تنظیمات خودکار direction برای rightchatMSG */
/* .rightchatMSG.rtl {
  direction: rtl;
  text-align: right;
}

.rightchatMSG.ltr {
  direction: ltr;
  text-align: left;
}
.taskpopup {
  border-radius: var(--br5);
  max-width: 100%;
}
.leftchatvoice {
  max-height: 35px;
} */
