.tableContainer {
  width: calc(100% - 130px);
  height: calc(100% - 100px);
  top: 80px;
  border-radius: var(--br25);
  margin-inline: 20px;
  margin-bottom: 20px;
  display: flex;
  -moz-column-gap: var(--gap-20);
  column-gap: var(--gap-20);
  position: fixed;
  justify-content: center;
  justify-items: center;
  transition: var(--transition3);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  @media (max-width: 720px) {
    width: calc(100% - 20px);
    height: calc(100% - 90px);
    top: 80px;
    margin-inline: 10px;
    margin-bottom: 10px;
  }
}
.tableContainer:hover {
  box-shadow: var(--box-shadow);
}
.tableContainer:active {
  cursor: grabbing;
}
.table {
  border-radius: var(--br25);
  overflow: auto;
  height: 100%;
  display: flex;
  position: relative;
  background-color: var(--color-white);
  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  width: calc(100% - 40px);
  min-width: 250px;
  max-width: 1920px;
  flex-direction: column;
  justify-content: flex-start;
  animation: var(--bottom14);
}
.headertable {
  background-color: var(--color-white);
  transition: var(--transition6);
  color: var(--text-h2);
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
/* _head_ */

.row {
  padding-inline: 20px;
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--box-border);
  display: flex;
  gap: var(--gap-10);
  justify-content: space-between;
  align-items: center;
  transition: var(--transition2);
  animation: var(--bottom08);
  cursor: pointer;
}
.row:hover {
  background-color: var(--color-gray30);
}
.selectedRow {
  background-color: var(--color-gray30) !important;
}
.table tr {
  text-transform: uppercase;
  padding-inline: 20px;
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--box-border);
  display: flex;
  gap: var(--gap-10);
  justify-content: space-between;
  align-items: center;
  transition: var(--transition2);
}
.headertable > tr {
  height: 50px;
}
.headertable > tr > th {
  word-break: keep-all;
  width: min-content;
}

/* _detail_ */
.ordernumber {
  cursor: pointer;
  color: var(--color-light-blue);
  border-radius: var(--br8);
  position: relative;
  text-align: center;
  padding: var(--paddingtag);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: uppercase;
  transition: var(--transition3);
}
.ordernumberviewed {
  border: 1.5px dashed var(--color-light-blue);
  border-radius: var(--br8);
  cursor: pointer;
  padding: var(--paddingtag);
  color: var(--color-light-blue);
  position: relative;
  text-align: center;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: uppercase;
  transition: var(--transition3);
}
.status {
  position: relative;
  display: flex;
  padding-inline: 5px;
  min-height: 30px;
  max-height: 30px;
  gap: var(--gap-5);
  border-radius: var(--br8);
  font-size: var(--font-12);
  font-weight: var(--weight-600);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: var(--transition3);
  text-wrap: nowrap;
}
.pickupRequest {
  border: 1px solid var(--color-purple60);
  color: var(--color-purple);
  background-color: var(--color-purple10);
}
.pickedup {
  border: 1px solid var(--color-firoze60);
  color: var(--color-firoze);
  background-color: var(--color-firoze10);
}
.status > svg {
  height: 20px;
  max-width: 20px;
  width: 20px;
  min-width: 20px;
}
.status > span {
  width: 100%;
}
.customer {
  transition: var(--transition3);
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: center;
}
.items {
  color: var(--text-h2);
  position: relative;
  text-align: center;
  font-size: var(--font-14);

  font-weight: var(--weight-400);

  text-transform: uppercase;
  transition: var(--transition3);
}
.date {
  color: var(--text-h2);
  font-weight: var(--weight-400);
  position: relative;
  text-align: center;
  transition: var(--transition3);
  @media (max-width: 800px) {
    min-width: 75px !important;
  }
}
.delivery {
  position: relative;
  display: flex;
  padding: var(--padding-5);
  border-radius: var(--br8);
  font-size: var(--font-12);
  font-weight: var(--weight-600);
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  text-transform: uppercase;
  transition: var(--transition3);
  text-wrap: nowrap;
}

.post {
  color: var(--color-light-yellow);
}
.tipax {
  color: var(--color-light-green);
}
.pishtaz {
  color: var(--color-purple);
}
.destination {
  word-break: break-word;
  max-width: 90px;
  color: var(--text-h2);
  position: relative;
  text-align: center;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  transition: var(--transition3);
}
.status.confirmed {
  position: relative;
  display: flex;
  padding: var(--padding-5);
  border-radius: var(--br8);
  font-size: var(--font-12);
  font-weight: var(--weight-600);
  justify-content: center;
  width: fit-content;
  align-items: center;
  text-transform: uppercase;
  transition: var(--transition3);
  text-wrap: nowrap;
  color: var(--color-dark-blue);
  background-color: var(--color-dark-blue30);
}

.status.shipped {
  position: relative;
  display: flex;
  padding: var(--padding-5);
  border-radius: var(--br8);
  font-size: var(--font-12);
  font-weight: var(--weight-600);
  justify-content: center;
  width: fit-content;
  align-items: center;
  text-transform: uppercase;
  transition: var(--transition3);
  text-wrap: nowrap;
  color: var(--color-dark-green);
  background-color: var(--color-dark-green30);
}

.selectedmenu {
  position: absolute;
  top: 5px;

  border-radius: var(--br10);
  background-color: var(--color-disable);
  border: 1px solid var(--color-gray);
  padding: 0px var(--padding-10);
  z-index: 100;
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  animation: var(--bottom08);
  align-items: center;
  justify-content: center;
}
.status {
  position: relative;
  display: flex;
  padding-inline: 5px;
  min-height: 30px;
  max-height: 30px;
  gap: var(--gap-5);
  border-radius: var(--br8);
  font-size: var(--font-12);
  font-weight: var(--weight-600);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: var(--transition3);
  text-wrap: nowrap;
}
.returned {
  border: 1px solid var(--color-purple60);
  color: var(--color-purple);
  background-color: var(--color-purple10);
  font-weight: var(--weight-400);
}
.canceled {
  border: 1px solid var(--color-dark-yellow60);
  color: var(--color-dark-yellow);
  background-color: var(--color-dark-yellow10);
  font-weight: var(--weight-400);
}
.usercanceled {
  border: 1px solid var(--color-dark-green60);
  color: var(--color-dark-green);
  background-color: var(--color-dark-green10);
  font-weight: var(--weight-400);
}
.failed {
  border: 1px solid var(--color-dark-red60);
  color: var(--color-dark-red);
  background-color: var(--color-dark-red10);
  font-weight: var(--weight-400);
}
.expired {
  border: 1px solid var(--color-dark-blue60);
  color: var(--color-dark-blue);
  background-color: var(--color-dark-blue10);
  font-weight: var(--weight-400);
}
.status > svg {
  height: 20px;
  max-width: 20px;
  width: 20px;
  min-width: 20px;
}
.status > span {
  width: 100%;
}
