/* Overlay and Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: var(--background-root);
  border-radius: var(--br25);
  padding: var(--paddingbox);
  width: 100vw;
  height: 100vh;
  max-width: 950px;
  max-height: 95%;
  position: fixed;
  animation: slideIn 0.3s ease-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 860px) {
    padding: 130px 10px 40px 10px !important;
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
    bottom: 0 !important;
    top: 0 !important;
    left: 0px !important;
    border-radius: 0 !important;
    animation: var(--slide-in);
  }
}

.animatingOut {
  animation: slideOut 0.6s cubic-bezier(0.23, 1, 0.32, 1) both !important;
}

@keyframes slideIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0) scaleY(1);
    transform-origin: 50%;

    opacity: 0.6;
  }
  to {
    transform: translateY(1000px) scaleY(2.5);
    transform-origin: 50%;

    opacity: 0;
  }
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 10;
  transition: all 0.2s ease;
}

.closeButton:hover {
  transform: scale(1.1);
}

.closeButton:active {
  transform: scale(0.95);
}

/* Main Container */
.container {
  width: 100%;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(90vh - 40px);
  overflow: hidden;
}

/* Header with Plans */
.header {
  display: flex;
  gap: var(--gap-8);
  z-index: 1;
}
.planCarddesktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  padding: 15px;
  border-radius: var(--br15) var(--br15) 5px 5px;
  min-height: 100px;
  position: relative;
  @media (max-width: 860px) {
    display: none;
  }
}
.planCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100px;
  justify-content: space-around;
  padding: var(--padding-8);
  border-radius: var(--br15) var(--br15) 5px 5px;
  min-height: 100px;
  position: relative;
  @media (max-width: 860px) {
    max-width: 100%;
    min-height: 50px;
    border-radius: var(--br10) var(--br10) var(--br5) var(--br5);
  }
}
.planLevel {
  font-size: var(--font-18);
  font-weight: var(--weight-700);
  @media (max-width: 768px) {
    position: absolute;
    font-size: var(--font-14);
    font-weight: var(--weight-800);
  }
}
.planInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  @media (max-width: 860px) {
    display: none;
  }
}
.planName {
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  color: #000;
  text-wrap: nowrap;
}
.planPrice {
  font-size: var(--font-12);
  color: #000;
  font-weight: var(--weight-700);
  text-wrap: nowrap;
}
.planInfomobile {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: -70px;
  gap: 3px;
  max-width: 90px;
  min-width: 90px;
  transform: rotate(90deg);
  @media (min-width: 860px) {
    display: none;
  }
}
html[dir="rtl"] .planInfomobile {
  align-items: flex-start;
}

.planNamemobile {
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  color: var(--text-h1);
  text-wrap: nowrap;
}
.planPricemobile {
  font-size: var(--font-12);
  font-weight: var(--weight-700);
  color: var(--text-h1);
  text-wrap: nowrap;
}

.background {
  width: calc(100% - 64px);
  height: 100%;
  position: absolute;
  top: 30px;
  left: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-8);
  z-index: 0;
  @media (max-width: 860px) {
    top: 130px;
    width: calc(100% - 20px);
    left: 10px;
  }
}

.background > div {
  width: 100%;
  max-width: 100px;
  height: 100%;
  border-radius: var(--br15) var(--br15) 0 0;
  @media (max-width: 860px) {
    max-width: 100%;
  }
}
.backgroundfade {
  background: var(--color-white);
  max-width: 250px !important;
  @media (max-width: 860px) {
    display: none;
  }
}
.backgroundfade6 {
  background: linear-gradient(to bottom, #ffb08a40, #ffb08a00);
}
.backgroundfade5 {
  background: linear-gradient(to bottom, #ffb3d640, #ffb3d600);
}
.backgroundfade4 {
  background: linear-gradient(to bottom, #ddb3ff40, #ddb3ff00);
}
.backgroundfade3 {
  background: linear-gradient(to bottom, #c3b3ff40, #c3b3ff00);
}
.backgroundfade2 {
  background: linear-gradient(to bottom, #b3e5ff40, #b3e5ff00);
}
.backgroundfade1 {
  background: linear-gradient(to bottom, #b3ffd640, #b3ffd600);
}

/* Features Container */
.featuresContainer {
  z-index: 1;
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  @media (max-width: 860px) {
    height: calc(100vh - 150px);
  }
}
.featuresContainer::-webkit-scrollbar {
  display: none;
}

/* Category Styles */
.categoryContainer {
  width: calc(100% - 2px);
  margin-top: 20px;
  transition: var(--transition3);
  max-height: 10000px;
  border-radius: var(--br15);
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--color-gray10);
  backdrop-filter: blur(5px);
}

.categoryHeader {
  backdrop-filter: blur(5px);
  padding: var(--padding-10) var(--padding-12);
  background: var(--color-gray10);
  transition: var(--transition3);
  cursor: pointer;
  /* border-bottom: 1px solid var(--color-gray30); */
  transition: background-color 0.2s ease;
}

.categoryTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8);
  font-size: var(--font-16);
  font-weight: var(--weight-700);
  color: var(--text-h1);
}

.chevron {
  transition: transform 0.3s ease;
  color: var(--text-h1);
  transform: rotate(-90deg);
}

.chevronOpen {
  transform: rotate(90deg);
}

.categoryFeatures {
  animation: slideDown 0.3s ease-out;
  transform-origin: top;
  display: flex;
  flex-direction: column;

  padding-block: var(--padding-10);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
    max-height: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    max-height: 1000px;
  }
}
.featureName {
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  color: var(--text-h1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid var(--color-gray30);
  max-width: 240px;
  width: 100%;
  margin: 0;
  @media (max-width: 768px) {
    max-width: 100%;
    padding: var(--padding-5) var(--padding-10) var(--padding-5) var(--padding-5);
  }
}

.categoryFeatures .featureName:first-child {
  border-top: none;
}
.featureflex {
  padding-block: 10px;
  border-bottom: 1px solid var(--color-gray30);
  gap: var(--gap-8);
  align-items: center;
  display: flex;
  flex-direction: row;
  @media (max-width: 860px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }
}
.featureNameContent {
  text-align: start;
  text-wrap: nowrap;
  min-width: 200px;
  /* max-width: 100px; */
  padding-inline-start: 10px;
  display: flex;
  text-wrap: wrap;
  align-items: center;
  gap: var(--gap-10);
  width: 100%;
  justify-content: space-between;
  @media (max-width: 860px) {
    text-wrap: nowrap;
    justify-content: flex-start;
  }
}

.tooltip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.2s ease;
}

.tooltip:hover {
  transform: scale(1.1);
}

.tooltip:active {
  transform: scale(0.95);
}

.tooltipActive {
  color: white;
}

.tooltipActive:hover {
  transform: scale(1.1);
}

.tooltipContent {
  width: 100%;
  display: flex;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h1);
  text-align: start;
  line-height: 16px;
  text-rendering: optimizeSpeed;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: var(--transition3);
  transform: translateY(-10px);
}

.tooltipVisible {
  opacity: 1;
  max-height: 200px;
  padding: var(--padding-10);
  transform: translateY(0);
  @media (max-width: 860px) {
    padding: var(--padding-5) var(--padding-16) 0 var(--padding-5);
  }
}

/* Adjust the featureName container to accommodate tooltip */
.featureRow .featureName {
  overflow: visible;
}

.featureChecks {
  gap: var(--gap-8);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.checkCell {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  width: 100%;
  font-size: 20px;
}
.checkmark {
  width: 24px;
}
.cross {
  width: 24px;
}
.checkmark > path:nth-child(1) {
  fill: var(--color-light-green30);
  @media (max-width: 860px) {
    fill: none;
  }
}
.cross > path:nth-child(1) {
  fill: var(--color-light-red30);
  @media (max-width: 860px) {
    fill: none;
  }
}
.checkmark > path:nth-child(2) {
  stroke: var(--color-light-green);
}
.cross > path:nth-child(2) {
  stroke: var(--color-light-red);
}
