.titlesection {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  align-items: center;
  justify-content: center;
}
.titlecenter {
  color: var(--text-h1);
  font-weight: var(--weight-800);
  font-size: 36px;
  text-transform: capitalize;
}

.explaincenter {
  color: var(--text-h1);
  font-weight: var(--weight-400);
  font-size: 18px;
  text-transform: capitalize;
  max-width: 1200px;
}

.titleleft {
  color: var(--text-h1);
  font-weight: var(--weight-800);
  font-size: 36px;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.titleleft::before {
  position: relative;
  content: " ";
  height: 30px;
  width: 30px;
  border-radius: var(--br10);
  background-color: var(--color-dark-blue);
}
.titleleft::after {
  position: relative;
  content: " ";
  height: 15px;
  width: 15px;
  border-radius: var(--br10);
  background-color: var(--color-light-blue);
  top: 8px;
}

.titleleft span {
  background: linear-gradient(to right, var(--color-dark-blue), var(--color-light-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--weight-800);
  font-size: 40px;
}

.button {
  text-wrap: nowrap;
  display: flex;
  color: var(--color-ffffff);
  height: 40px;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  border: var(--color-dark-blue) 2px solid;
  background-color: var(--color-dark-blue);
  border-radius: var(--br15);
  transition: var(--transition6);

  align-items: center;
  justify-content: center;
  gap: var(--gap-5);
  padding: var(--padding-14);
}

.button:hover {
  color: var(--color-dark-blue);
  border: var(--color-dark-blue) 2px solid;
  background-color: transparent;
  cursor: pointer;
}

.button svg {
  width: 20px;
  position: relative;
  display: flex;
  transition: var(--transition6);
}

.button:hover svg {
  transform: translateX(5px);
  fill: var(--color-dark-blue);
}
/* ___page7___ */

.page7 {
  line-height: normal;
  color: var(--text-h1);
  scroll-snap-align: start;
  position: relative;
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: var(--gap-50);
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
