.all {
  gap: var(--gap-20);
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.1s ease;
}

.all.show {
  max-height: 100%;
  opacity: 1;
}
.yourdevice{
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  color: var(--text-h1);
  padding: var(--padding-5);
  border-radius: var(--br8);
  background-color: var(--color-light-green30);
          width: 100%;
      position: relative;
    display: flex;
gap: var(--gap-8);
    justify-content: space-between;
    align-items: center;

}
.otherdevice{
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  color: var(--text-h1);
  padding: var(--padding-5);
  border-radius: var(--br8);
  background-color: var(--color-gray30);
          width: 100%;
          align-items: center;
      position: relative;
    display: flex
}
.yourdeviceparent{
        width: 100%;
      position: relative;
    display: flex
;gap: var(--gap-8);
    justify-content: flex-start;
    align-items: center;

}
.swiperContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: var(--gap-20);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.swiperContent > div:first-child {
  height: calc(100% - 50px) !important;
}
html[dir="rtl"] .swiperContent > div:first-child {
  flex-direction: row-reverse;
}
.swiperContent > div:last-child {
  top: 0px !important;
  left: auto !important;
  transform: none !important;
}
html[dir="rtl"] .swiperContent > div:last-child {
  flex-direction: row-reverse;
}
.sessioncardparent {
  gap: var(--gap-20);
}

.sessioncard {

    padding: var(--padding-10);
  transition: var(--transition3);
      position: relative;
    width: 100%;
    display: flex;
    row-gap: var(--gap-10);
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.datarow{
    display: flex;
    width: 45%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.options {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.data {
  gap: var(--gap-5);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  flex-wrap: nowrap;
}
.data > span:nth-child(1) {
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  color: var(--text-h2);
}
.data > span:nth-child(2) {
  max-height: 15px;
  display: flex;
  gap: var(--gap-5);
  width: 100%;
  font-size: var(--font-10);
  font-weight: var(--weight-500);
  color: var(--text-h1);
  align-items: center;
}
.data > span:nth-child(2) > li {
  width: 15px;
}
/*-------------- session --------------*/

.sessionIdContainer {
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;
  width: 110px !important;
  flex-direction: row !important;
  align-content: center !important;
  justify-content: center !important;
}

.sessionId {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  flex: 1 !important;
  min-width: 0 !important;
}
