.section {
  position: relative;
  width: 100%;
  height: 100%;
  gap: var(--gap-20);
  display: flex;
  flex-direction: column;
  transition: var(--transition3);
  justify-content: flex-start;
}
.all {
  gap: var(--gap-20);
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.section1 {
  background-color: var(--color-gray30);
  padding: var(--padding-10);
  border-radius: var(--br15);
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  transition: var(--transition3);
  justify-content: flex-start;
}
.link {
  padding-block: 10px;
  border-bottom: 1px solid var(--color-gray30);
}
.headerparent {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-10);
  position: relative;
  display: flex;
  width: 100%;
}
.headertitle {
  text-align: left;
  color: var(--text-h1);
  max-width: 250px;
  text-transform: capitalize;
  position: relative;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
}
.option {
  position: relative;
  width: 100%;
  gap: var(--gap-10);
  display: flex;
  flex-direction: column;
}
.input {
  color: var(--text-h1);
  gap: var(--gap-10);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--font-12);
}
.counter {
  width: -moz-fit-content;
  font-size: var(--font-12);
  text-align: center;

  font-weight: var(--weight-400);
  line-height: normal;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--text-h2);
  align-self: flex-end;
}

.defaultaddress {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.defaultdomain {
  position: relative;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--color-light-blue);
  display: flex;
}
