.Features {
  position: relative;
  width: 100%;
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  touch-action: none;
}
.Features > div:nth-child(1) {
  margin-block: auto !important;
  margin-bottom: 0px !important;
}
.Features > div:nth-child(2) {
  margin-block: auto !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.banner,
.featuresbox,
.featurebox,
.reviews,
.announcements,
.onlinestream,
.lastvideo,
.products,
.adstimeline,
.qandabox,
.linkshortcut,
.contactandmap {
  height: 50px;
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-10);
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  left: auto !important;
  margin-bottom: 15px;
  top: auto !important;
}
.reviews,
.products,
.adstimeline {
  opacity: 0.3;
  pointer-events: none;
}

.lock {
  cursor: not-allowed;
  position: relative;
  min-width: 20px;
  padding: 1px;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.boxcontent {
  position: relative;
  width: 100%;
  min-height: 50px;
  height: 100%;
  border: 1px solid var(--content-box);
  border-radius: var(--br15);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: var(--transition2);
}
.boxcontent:hover {
  border: 1px solid var(--color-dark-blue);
  box-shadow: var(--box-shadow);
}
.move {
  width: 20px;
  min-width: 20px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}
.move svg {
  transition: var(--transition2);
  pointer-events: none;
}
@media (hover: hover) {
  .move:hover svg {
    scale: 1.3;
  }

  .move:hover {
    cursor: grab;
  }

  .move:active {
    cursor: grabbing;
    scale: 1.1;
  }
}
@media (hover: none) {
  .move:active svg {
    scale: 1.3;
  }
}
.more {
  background-color: transparent;
  position: relative;
  width: 100%;
  min-width: 50px;
  max-width: 50px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
