.lableToggle {
  position: relative;
  display: inline-block;
  width: 51px;
  min-width: 51px;
  height: 24px;
}

.inputToggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.spanToggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray);
  transition: var(--transition3);
  border-radius: 31px;
}

.spanToggle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 27px;
  left: 2px;
  top: 2px;
  background-color: var(--color-white);
  border-radius: 10px;
  transition: var(--transition3);
  /* box-shadow:
    0 3px 1px 0 rgba(0, 0, 0, 0.04),
    0 3px 8px 0 rgba(0, 0, 0, 0.12); */
}

.inputToggle:checked + .spanToggle {
  background-color: #34c759;
}

.inputToggle:checked + .spanToggle:before {
  transform: translateX(20px);
}

/* .spanToggle:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}

.inputToggle:checked + .spanToggle:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
} */
