.headerTab {
  align-items: center;
  position: sticky;
  height: 80px;
  top: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: +100;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: var(--font-16);
  color: var(--text-h1);
  justify-content: space-between;
  width: calc(100% - 60px);
  left: 30px;
  gap: var(--gap-20);
}
.pageheaders {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-20);
  justify-content: space-between;
}
.iconbox {
  cursor: pointer;
  position: relative;
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-blue30);
  border-radius: var(--br8);
  border: 1px solid transparent;
  align-content: center;
}
.icon {
  transition: var(--transition2);
  width: 40px;
  padding: var(--padding-10);
  height: 40px;
}

.iconbox:hover .icon {
  transform: scale(1.2);
}
.iconbox:active .icon {
  transform: scale(0.95);
}
.ProfileIcon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition3);
}
.ProfileIcon:hover {
  box-shadow: var(--box-shadow);
}
.ProfileIcon:active {
  transform: scale(0.93);
  box-shadow: var(--box-shadow);
}
.reddot {
  width: 15px;
  height: 15px;
  background-color: var(--color-light-red);
  position: absolute;
  border-radius: 50%;
  top: 30px;
  left: -5px;
}
.pinContainer {
  justify-content: flex-start;
  height: 100%;
  max-height: calc(100% - 120px);
  width: calc(100% - 40px);
  left: 20px;
  min-width: 250px;
  overflow-y: scroll;
  top: 80px;
  display: flex;
  gap: var(--gap-20);
  position: fixed;
  animation: var(--bottom08);
  transition: var(--transition3);
}
@media (max-width: 900px) {
  .pinContainer {
    flex-direction: column;
  }
  .left {
    min-height: 400px;
  }
  .right {
    max-width: 100% !important;
  }
}

.left:hover,
.right:hover {
  box-shadow: var(--box-shadow);
}

.left {
  display: flex;
  position: relative;
  gap: var(--gap-30);
  padding: var(--paddingbox);
  grid-row-end: span 82;
  border-radius: var(--br25);
  background-color: var(--color-white);
  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  min-height: 400px;
  width: 100%;
  min-width: 250px;
  flex-direction: column;
}
.right {
  display: flex;
  gap: var(--gap-30);
  position: relative;
  padding: var(--paddingbox);
  grid-row-end: span 82;
  border-radius: var(--br25);
  background-color: var(--color-white);
  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  min-width: 250px;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  width: 100%;
  position: relative;
  display: flex;
  gap: var(--gap-10);
  align-items: center;
}
.headertitle {
  position: relative;
  width: 150px;
  color: var(--text-h1);
  font-size: var(--font-16);
  font-weight: var(--weight-800);
  text-transform: capitalize;
}
.headercounter {
  position: relative;
  color: var(--color-light-red);
  font-size: var(--font-16);
  font-weight: var(--weight-800);
}
.headerline {
  position: relative;
  width: -webkit-fill-available;
  height: 2px;
  border-top: 1px solid var(--color-gray30);
}

.selectedlist {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: flex-start;
}
.selectedpage {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-50);
  justify-content: space-between;
  align-items: center;
}
.profile {
  position: relative;
  display: flex;
  gap: var(--gap-20);
}
.profileimage {
  position: relative;
  border-radius: 50%;

  width: 60px;
  height: 60px;
}
.profiledetail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.name {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-800);
}
.username {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.hourkind {
  position: relative;
  display: flex;
  gap: var(--gap-20);
}
.halfday,
.fulday {
  fill: var(--color-gray);
  cursor: pointer;
  transition: var(--transition2);
}
.halfday:hover,
.fulday:hover {
  fill: var(--color-dark-blue);
}
.halfday:active,
.fulday:active {
  fill: var(--color-dark-blue);
}

.price {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-800);
  color: var(--color-dark-blue);
}
.delete {
  position: relative;
  width: 40px;
  height: 40px;
  padding: var(--padding-10);
  background-color: var(--color-gray30);
  border-radius: var(--br10);
  fill: var(--color-gray);
  cursor: pointer;
  transition: var(--transition2);
}
.delete:hover {
  background-color: var(--color-light-red30);
  fill: var(--color-light-red);
}

.coupon {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-5);
  flex-direction: column;
}
.coupontitle {
  position: relative;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  width: fit-content;
  left: 10px;
  display: flex;
  color: var(--color-gray);
  text-transform: uppercase;
}
.couponbox {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-15);
  flex-direction: row;
  align-items: center;
}
.summary {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-h1);
  text-transform: capitalize;
}
.summarydiscription {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.summarycounter,
.summaryprice {
  font-weight: var(--weight-400);
  font-size: var(--font-14);
}
.content,
.bottom {
  display: flex;
  gap: var(--gap-30);
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
}
.alert {
  position: relative;
  width: 100%;
  border-radius: var(--br15);
  background-color: var(--color-dark-yellow30);
  padding: var(--padding-10);
  display: flex;
  gap: var(--gap-10);
  color: var(--color-dark-yellow);
  fill: var(--color-dark-yellow);
  font-weight: var(--weight-400);
  font-size: var(--font-14);
  align-items: center;
  text-align: left;
}
.alertsvg {
  min-width: 20px;
  min-height: 20px;
}
