.taskpopup {
  position: fixed;
  align-items: center;
  max-width: 400px;
  width: calc(100% - 40px);
  max-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  gap: var(--gap-20);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  padding: var(--padding-40);

  justify-content: space-between;
  z-index: 117;
  animation: var(--fadeIn3);
}

.title {
  position: relative;
  width: 100%;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--text-h1);
  text-align: left;
  text-transform: capitalize;
}
