.popupContent {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 116;
  border-radius: var(--br25);
  background: var(--color-white);

  padding: var(--paddingbox);
  justify-content: space-between;
  width: 395px;
  max-width: calc(100% - 40px);
  height: 650px;
  max-height: calc(100% - 40px);
  gap: var(--gap-20);
  min-width: 250px;
  align-items: center;
  animation: var(--fadeIn3);
  @media (max-width: 480px) {
    padding: var(--paddingboxmobile);
  }
}

.all {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: var(--gap-20);
}

.all > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  display: none;
}
.subinput {
  position: absolute;
  color: var(--text-h2);
  font-weight: var(--weight-400);
  font-size: var(--font-16);
  z-index: 2;
  border-left: 1px solid var(--color-gray60);
  padding-inline: var(--padding-20) !important;
  top: 12px;
  left: 65%;
}
html[dir="rtl"] .subinput {
  border-left: 1px solid var(--color-gray60) !important;

  top: 12px !important;
  left: auto !important;
  right: 0% !important;
}
.dateTime {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: var(--gap-10);
  height: 40px;
  transition: var(--transition2);
}
.input {
  display: flex;
  position: relative;
  border-radius: var(--br10);
  border: 1px solid var(--content-box);
  background-color: var(--color-disable);

  color: var(--text-h1);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: var(--transition3);
}
.instagramer {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  width: 100%;
  font-weight: var(--weight-400);
  letter-spacing: 1px;
}
.Calendaricon {
  width: 20px;
  height: 20px;
}
.CalendariconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-dark-blue);
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: var(--br5);
  align-items: center;
  position: relative;
}

/* Add shake animation for IncrementStepper */
.shakeAnimation {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
