.pinContainer {
  width: calc(100% - 40px);
  margin-inline: 20px;
  display: grid;
  column-gap: var(--gap-20);
  grid-template-columns: minmax(510px, 1150px) minmax(350px, 600px);
  grid-auto-rows: 10px;
  position: relative;
  justify-content: left;
  justify-items: center;
  animation: var(--bottom08);
  transition: var(--transition3);
}

@media (max-width: 1024px) {
  .pinContainer {
    grid-template-columns: minmax(300px, 1fr);
  }
}

.pinContainer1 {
  width: calc(100% - 40px);
  margin-inline: 20px;

  display: grid;
  column-gap: var(--gap-20);
  grid-template-columns: minmax(300px, 1770px);
  grid-auto-rows: 10px;
  position: relative;
  justify-content: left;
  justify-items: center;
  animation: var(--bottom14);
  transition: var(--transition3);
}

.twomonth {
  gap: var(--gap-30);
  margin: 10px 0;
  padding: var(--paddingbox);
  grid-row-end: span 47;
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  min-width: 510px;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.adsreport,
.part,
.statistics,
.twomonth {
  position: relative;
  display: flex;
  width: 100%;
}

.statistics {
  gap: var(--gap-30);
  margin: 10px 0;
  padding: var(--paddingbox);
  grid-row-end: span 47;
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  min-width: 350px;
  flex-direction: column;
  justify-content: space-between;
}

.adsreport,
.part {
  gap: var(--gap-20);
}

.adsreport {
  margin: 5px 0 10px;
  padding: var(--paddingbox);
  grid-row-end: span 72;
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.part {
  flex-direction: row;
  height: 100%;
}

@media (max-width: 1120px) {
  .detail {
    flex-direction: column !important;
    align-items: center !important;
  }
}

@media (max-width: 1024px) {
  .statistics {
    max-width: 100% !important;
    min-width: 200px !important;
  }

  .part {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--gap-20);
  }

  .twomonth {
    grid-row-end: span 64;
    min-width: 200px;
  }

  .section1,
  .section2 {
    width: 100% !important;
  }

  .section2 {
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: var(--gap-10) !important;
  }
  .summery {
    height: 35px !important;
  }
}

@media (max-width: 480px) {
  .detail {
    flex-direction: column !important;
    max-height: 150px !important;

    align-items: center !important;
  }

  .headericon {
    height: 30px !important;
  }
}

.section1 {
  position: relative;
  width: 60%;
  height: 100%;
  flex-direction: column;
}

.header,
.section1,
.totalmonth {
  display: flex;
  gap: var(--gap-20);
}

.totalmonth {
  position: relative;
}

.header {
  flex-direction: row;
  justify-content: space-between;
}

.header,
.icon,
.month {
  position: relative;
}

.month {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: var(--gap-5);
}

.icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.monthlabel {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-transform: capitalize;
}

.chart {
  position: relative;
  width: 100%;
  height: 290px;
}

.section2 {
  width: 40%;
  height: 100%;
  flex-direction: column;
  gap: var(--gap-20);
  justify-content: space-between;
}

.detail,
.headericon,
.section2 {
  position: relative;
  display: flex;
}

.detail {
  width: 100%;
  flex-direction: row;
  height: 150px;
  gap: var(--gap-10);
}

.headericon {
  width: 35px;
  height: 85%;
}

.headercontent,
.summery {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-10);
  justify-content: center;
}

.headercontent {
  flex-direction: column;
}

.summery {
  padding: var(--padding-10);

  height: 30%;
  border-radius: var(--br10);
  align-content: center;
  align-items: center;
}

.summerycounter {
  position: relative;
  text-align: center;

  font-size: var(--font-20);
  font-weight: var(--weight-600);
}

.summerytype {
  position: relative;
  font-size: var(--font-16);
  font-weight: var(--weight-400);
}

.percentage {
  font-size: var(--font-12);

  font-weight: var(--weight-400);
  line-height: normal;
}

.section3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);

  justify-content: space-between;
}

.section3,
.totalchart,
.totalsummery {
  position: relative;
  width: 100%;
}

.totalchart {
  height: 260px;
  border: 1px solid red;
}

.totalsummery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.totalsummerychild {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}

.totalabel,
.totalcounter {
  position: relative;
  text-align: center;

  line-height: normal;
}

.totalcounter {
  color: var(--text-h1);
  font-size: var(--font-16);
  font-weight: var(--weight-600);
}

.totalabel {
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}

.section4,
.section5,
.sorting {
  gap: var(--gap-20);
}

.section4 {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.section5,
.sorting {
  height: 100%;
}

.sorting {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section5 {
  flex-direction: column;
  overflow-x: scroll;
}

.section5,
.table,
.tableheader {
  position: relative;
  width: 100%;
  display: flex;
}

.table {
  flex-direction: column;
  overflow-x: scroll;
}

.tableheader {
  height: 30px;
  min-width: 800px;
  border-bottom: 2px solid var(--box-border);
  gap: var(--gap-10);
  justify-content: space-between;
  align-items: center;
}

.header1,
.header2,
.header3,
.header4,
.header5,
.header6,
.header7,
.header8,
.header9 {
  position: relative;
  color: var(--text-h2);
  text-align: center;
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: normal;
  text-transform: uppercase;
}

.header1 {
  min-width: 30px;
}

.header2 {
  min-width: 90px;
}

.header3 {
  min-width: 140px;
}

.header4 {
  min-width: 80px;
}

.header5 {
  min-width: 85px;
}

.header6 {
  min-width: 48px;
}

.header7 {
  min-width: 90px;
}

.header8 {
  min-width: 85px;
}

.header9 {
  min-width: 70px;
}

.tableheader1 {
  position: relative;
  min-width: 800px;
  height: 90px;
  border-bottom: 1px solid var(--box-border);
  display: flex;
  gap: var(--gap-10);
  justify-content: space-between;
  align-items: center;
}

.adnumber,
.tablecounter {
  position: relative;
  text-align: center;
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: normal;
  text-transform: uppercase;
}

.tablecounter {
  min-width: 30px;
  color: var(--text-h2);
}

.adnumber {
  cursor: pointer;
  min-width: 90px;
  color: var(--color-light-blue);
}

.advertiser {
  display: flex;
  flex-direction: row;
  min-width: 140px;
  gap: var(--gap-5);
}

.advertiser,
.image,
.profile {
  position: relative;
}

.image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instaid,
.username {
  position: relative;
  text-align: left;
  overflow: hidden;
  min-width: 50px;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.username {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: capitalize;
}

.instaid {
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}

.activestatus,
.adtype,
.finishedstatus {
  font-size: var(--font-14);
  text-transform: capitalize;
}

.adtype {
  position: relative;
  text-align: center;
  color: var(--text-h1);
  font-weight: var(--weight-400);
  overflow: hidden;
  min-width: 80px;
}

.activestatus,
.finishedstatus {
  display: flex;
  font-weight: var(--weight-400);
  min-width: 90px;
  height: 30px;
  border-radius: var(--br10);
  align-content: center;
  justify-content: center;
  align-items: center;
}

.activestatus {
  position: relative;
  text-align: center;
  color: var(--color-light-blue);
  background-color: var(--color-light-blue30);
}

.finishedstatus {
  color: var(--color-dark-green);
  background-color: var(--color-dark-green30);
}

.canceledstatus,
.fee,
.finishedstatus,
.viwes {
  position: relative;
  text-align: center;
}

.canceledstatus {
  display: flex;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  min-width: 90px;
  height: 30px;
  border-radius: var(--br10);
  align-content: center;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: var(--color-dark-red);
  background-color: var(--color-dark-red30);
}

.fee,
.viwes {
  overflow: hidden;
}

.viwes {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  min-width: 48px;
}

.fee {
  min-width: 90px;
}

.feenumber,
.sign {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}

.sign {
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}

.date {
  position: relative;
  min-width: 85px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.day,
.hour {
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--text-h1);
}

.hour {
  font-weight: var(--weight-400);
}

.share {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 70px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10);
}

.sharetype {
  position: relative;
  height: 30px;
  cursor: pointer;
}

/* ___caledar___*/
.calendar {
  position: relative;
  display: flex;
  height: 39px;
  gap: var(--gap-15);
  color: var(--text-link);
  width: 150px !important;
  align-content: center;
  align-items: flex-start;
}
.calendar > div {
  width: 150px;
}
.textWrapper {
  width: 114px;
  color: var(--color-light-blue);
  text-align: center;
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: normal;
}
.textWrapper:hover {
  cursor: grab;
}
.textWrapper:active {
  cursor: grabbing;
}
.backForwardIcon {
  left: 6px;
  top: 2px;
  position: relative;
  width: 8px;
  height: 13px;
  transition: var(--transition3);
  cursor: pointer;
}

.backForwardIcon:hover {
  transform: scale(1.5);
}

.backForwardIcon:active {
  transform: scale(0.9);
}

.forwardIcon {
  top: 2px;
  position: relative;
  width: 8px;
  height: 13px;
  transition: var(--transition3);
  cursor: pointer;
}

.forwardIcon:hover {
  transform: scale(1.5);
}

.forwardIcon:active {
  transform: scale(0.9);
}
