.hashtagListItem {
  width: 100%;
  display: flex;
  gap: var(--gap-5);
  width: 100%;
  height: 100%;
  max-height: 320px;
  overflow-x: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  transition: var(--transition2);
}

.inputHashtag {
  background-color: transparent;
  float: left;
  position: relative;
  border: 0;
  height: 20px;
  outline: none;
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  line-height: 18px !important;
  transition: var(--transition3);
}

.inputHashtag::placeholder {
  color: var(--text-h2);
}

.inputHashtag:focus::placeholder {
  color: var(--text-h1);
  transition: var(--transition3);
}

.tagHashtag {
  float: left;
  padding: var(--paddingtag);
  position: relative;
  border-radius: var(--br8);
  flex-direction: row;
  gap: var(--gap-5);
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-light-blue30);
  color: var(--text-h1);
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: 15px;
}
.deletebtn {
  position: relative;
  width: 15px;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
  transition: var(--transition3);
  cursor: pointer;
}
.instagramer {
  position: relative;
  font-weight: var(--weight-400);
  color: var(--text-h1);
  font-size: var(--font-14);
}

.hashtagicon {
  position: relative;
  width: 15px;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(1px);
  }
}
