.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10);
}
.title {
  color: var(--text-h1);
  font-size: var(--font-18);

  font-weight: var(--weight-800);
  line-height: normal;
  text-align: left;
  width: 100%;
}

.explainNewHashtag {
  text-align: left;
  font-size: var(--font-12);
  color: var(--text-h2);

  font-weight: var(--weight-400);
  line-height: normal;
}
.listNameTitle {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  left: 10px;
  display: flex;
  color: var(--text-h2);
  text-transform: uppercase;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
}
.headerlist {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10);
}
.viewLikeFlex {
  display: flex;
  align-items: center;
}

.viewLike {
  position: relative;
  width: 144px;
  height: 76px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.viewLikeChild {
  position: absolute;
  height: 100%;
  width: 52.78%;
  top: 0;
  right: 47.22%;
  bottom: 0;
  left: 0;
  border-radius: var(--br15);
  background-color: var(--color-white);
  box-shadow: var(--medium-dshadow);
}

.iconView {
  position: absolute;
  height: 15.12%;
  width: 11.47%;
  top: 15%;
  right: 28.53%;
  bottom: 69.88%;
  left: 60%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.iconCounter {
  position: absolute;
  height: 19.42%;
  width: 10.08%;
  top: 46.58%;
  bottom: 34%;
  left: 61.39%;
}

.layer1Icon {
  position: absolute;
  height: 16.5%;
  width: 9.98%;
  top: 14.47%;
  right: 28.91%;
  bottom: 69.03%;
  left: 61.11%;
}

.div57,
.div58 {
  position: absolute;
  top: 10.53%;
  left: 77.08%;
  line-height: 20px;
}

.div58 {
  top: 43.42%;
}

.hashtaglistheader {
  position: relative;
  display: flex;
  gap: var(--gap-20);
}
.hashtagListItem {
  display: flex;
  gap: var(--gap-5);
  padding: var(--padding-10);
  position: relative;
  height: 330px;
  border: 1px solid var(--content-box);

  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  @media (max-height: 730px) {
    height: 270px !important;
  }
}
.tagHashtag {
  height: 23px;
  float: left;
  padding: var(--paddingtag);
  position: relative;
  border-radius: var(--br8);
  flex-direction: row;
  gap: var(--gap-5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-blue30);
  color: var(--text-h1);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.component9431 {
  position: relative;
  width: 15px;
}

.div1 {
  position: relative;
  font-size: var(--font-12);
  color: var(--text-h2);
  text-align: center;

  font-weight: var(--weight-400);
  line-height: normal;
}

.pictureHashtagRightContainer {
  display: flex;
  gap: var(--gap-20);
  position: relative;
  width: 395px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.pictureHashtagLeftContainer {
  position: relative;
  display: flex;
  width: 395px;
  height: 100%;
  gap: var(--gap-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.newHashtagListContainer {
  position: relative;
  -moz-column-gap: var(--gap-30);
  column-gap: var(--gap-30);
  row-gap: var(--gap-10);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 200px;
}

.newPicture {
  gap: var(--gap-10);
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: 150px;
  max-width: 100%;
  min-height: 180px;
  border: 1px solid var(--color-gray60);
  border-radius: var(--br15);
  background-color: var(--color-disable);
  transition: var(--transition3);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.newPicture:hover {
  border-radius: var(--br15);
  box-shadow: 0 0 0 5px var(--color-gray30);
  background-color: transparent;
}
.uploadsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10);
}
.iconPlusContainer {
  width: 50px;
  position: relative;
}
.newPictureTitleContainer {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);

  font-weight: var(--weight-400);
}
.newPictureTitleContainer1 {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-h2);
  font-size: var(--font-12);

  font-weight: var(--weight-400);
  line-height: 20px;
}
.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--br10);
  -o-object-fit: cover;
  object-fit: contain;
}
