/* قسمت اول title*/
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10);
}

.title {
  color: var(--text-h1);
  font-size: var(--font-18);

  font-weight: var(--weight-800);
  line-height: normal;
  text-align: left;
  width: 100%;
}

.explainNewHashtag {
  text-align: left;
  font-size: var(--font-12);
  color: var(--text-h2);

  font-weight: var(--weight-400);
  line-height: normal;
}

/* قسمت دوم  name list*/

.listName {
  gap: var(--gap-10);
  position: relative;
  display: flex;
  flex-direction: column;
}

.listNameTitle {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  left: 10px;
  display: flex;
  color: var(--text-h2);
  text-transform: uppercase;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
}

.listNameInput {
  display: flex;
  height: 45px;
}

/* فرزند سوم: hashtagList */
.hashtagbox {
  display: flex;
  gap: var(--gap-10);
  position: relative;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.hashtagList1 {
  position: absolute;
  top: 176px;
  width: 382px;
  height: 241px;
}

.hashtagTitle {
  display: flex;
  position: relative;
  gap: var(--gap-30);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.div1 {
  position: relative;
  width: fit-content;
  font-size: var(--font-12);
  color: var(--text-h2);
  text-align: center;

  font-weight: var(--weight-400);
  line-height: normal;
}

.hashtagListItem {
  display: flex;
  gap: var(--gap-5);
  padding: var(--padding-10);
  position: relative;
  background-color: var(--color-disable);
  border: 1px solid var(--content-box);
  border-radius: 0 var(--br15) var(--br15) var(--br15);

  width: 100%;
  min-height: 150px;
  height: 100%;
  overflow-x: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  transition: var(--transition2);
}

.hashtagListItem:hover {
  border-color: var(--color-dark-blue);
}

.hashtagListItem:active {
  transform: scale(0.99);
  box-shadow: 0 0 0 5px var(--color-dark-blue30);
}

.inputHashtag {
  float: left;
  width: auto;
  position: relative;
  border-radius: var(--br8);
  height: 23px;
  border: 0;
  outline: none;
  color: var(--text-h1);
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: normal;
  transition: var(--transition3);
}

.inputHashtag:hover {
  color: var(--text-h1);
  transition: var(--transition3);
}

.inputHashtag:focus {
  color: var(--color-black);
  transition: var(--transition3);
}

.tagHashtag {
  float: left;
  padding: var(--paddingtag);
  position: relative;
  border-radius: var(--br8);
  flex-direction: row;
  gap: var(--gap-5);
  height: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-blue30);
  color: var(--text-h1);
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  line-height: normal;
}

.component9431 {
  position: relative;
  width: 15px;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
  transition: var(--transition3);
  cursor: pointer;
}

.instagramer {
  position: relative;
  font-weight: var(--weight-400);
  color: var(--text-h1);
  font-size: var(--font-14);
}

.resultSearchmention {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-20);
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  top: 0px;
  position: relative;
  padding: var(--padding-10) var(--padding-10) 0px var(--padding-10);
  height: 120px;
  border: 1px solid var(--content-box);
  border-radius: 0 0 var(--br15) var(--br15);
  background-color: var(--color-white);
  z-index: 120;
  transition: var(--transition3);

  flex-wrap: nowrap;
  animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.resultSearchmention:hover {
  border-color: var(--color-dark-blue);
}

.searchContent {
  position: relative;
  display: flex;
  gap: var(--gap-10);
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.searchContent:hover .userProfile {
  box-shadow: 0 0 0 3px var(--color-dark-blue60);
}

.userProfile {
  top: 3px;
  position: relative;
  width: 65px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 3px solid transparent;
  transition: var(--transition3);
  box-shadow: none;
}

.userProfileSelected {
  top: 3px;
  position: relative;
  width: 65px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 3px solid transparent;
  transition: var(--transition3);
  box-shadow: none;

  box-shadow: 0 0 0 3px var(--color-dark-blue);
}

.username {
  position: relative;
  color: var(--text-h1);
  text-align: center;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  width: 100px;
  overflow: hidden;
  transition: var(--transition2);
}
.usernameSelected {
  position: relative;
  color: var(--color-dark-blue);
  text-align: center;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  width: 100px;
  overflow: hidden;
  transition: var(--transition2);
}
