@media (min-width: 720px) {
  .all {
    display: none !important;
  }
}
.all {
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  display: flex;
  gap: var(--gap-10);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  background-color: var(--color-black80);
  animation: var(--fadeIn3);
  z-index: -1;
}
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

/* ___left___ */

.menucontainer {
  display: flex;
  justify-content: flex-start;
  padding: 90px var(--padding-20) var(--padding-30) var(--padding-20);
  position: relative;
  width: calc(100% - 16px);
  border-radius: 35px;
  min-height: fit-content;
  max-height: 350px;
  background-color: var(--background-root);
  z-index: 117;
  margin-top: 0px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  animation: slide-in-blurred-top 0.4s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.menuparentleft {
  row-gap: var(--gap-30);
  overflow-y: scroll;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.menuleft {
  text-decoration: none !important;
  cursor: pointer;
  gap: var(--gap-10);
  display: flex;
  position: relative;
  width: 25%;
  background-color: transparent;
  align-items: center;
  transition: var(--transition2);
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

html[dir="rtl"] .menuleft:hover {
  border-radius: var(--br50) 100px 100px var(--br50);
}
.menuleft:hover .iconleft {
  fill: var(--color-dark-blue);
}
.menuleft:hover .menutextleft {
  color: var(--color-dark-blue);
}

.usermenuleft {
  text-decoration: none !important;
  cursor: pointer;
  gap: var(--gap-10);
  display: flex;
  position: relative;
  width: 33%;
  background-color: transparent;
  align-items: center;
  transition: var(--transition2);
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

html[dir="rtl"] .usermenuleft:hover {
  border-radius: var(--br50) 100px 100px var(--br50);
}
.usermenuleft:hover .iconleft {
  fill: var(--color-dark-blue);
}
.usermenuleft:hover .menutextleft {
  color: var(--color-dark-blue);
}

.menutextleft {
  position: relative;
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  color: var(--text-h2);
  line-height: normal;
}
.menutext {
  position: relative;
  font-size: var(--font-16);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  color: var(--color-white);
}
.iconleft {
  display: flex;
  position: relative;
  fill: var(--text-h2);
  transition: var(--transition2);
}
/* ----------notification---------- */
.notification {
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-16) var(--padding-18);
  position: relative;
  width: calc(100% - 16px);
  border-radius: 25px;
  min-height: fit-content;
  max-height: 350px;
  z-index: 116;
  background-color: var(--background-root);
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.notificationcounter {
  color: var(--color-dark-red);
  background-color: var(--color-dark-red30);
  border-radius: var(--br5);
  padding: var(--paddingtag);
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  width: fit-content;
}

.notificationcontainer {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 0;
  overflow-y: auto;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  padding-top: 0;
}
.notificationOpen {
  max-height: 500px;
  opacity: 1;
  padding: var(--padding-10);
}

/* ----------user---------- */
.usermenu {
  z-index: 116;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-16) var(--padding-18);
  position: relative;
  width: calc(100% - 16px);
  border-radius: 25px;
  min-height: fit-content;
  max-height: 350px;
  background-color: var(--background-root);
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  animation: slide-in-blurred-top 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.gap {
  height: 3px;
  width: 100%;
  border-bottom: 1px solid var(--color-gray10);
}
.usermenucontainer {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
  padding-top: 0;
}

.usermenuOpen {
  max-height: 250px;
  opacity: 1;
  padding-top: var(--gap-20);
}

.icon {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  padding: var(--padding-8);
  background-color: var(--color-gray10);
  border-radius: var(--br8);
}

.menuchild {
  gap: var(--gap-10);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: var(--transition3);
}

.remainingTime {
  font-size: 12px;
  color: var(--color-gray);
}

.blinkRed {
  color: var(--color-dark-red);
  animation: blink 1s infinite;
}

.blinkYellow {
  color: var(--color-light-yellow);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-in-right {
  0% {
    transform: scale(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    transform: scale(0);
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
}

.notificationchild {
  padding: var(--padding-10);
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-10);
  transition: var(--transition1);
  cursor: pointer;
}
.noNotification {
  text-transform: uppercase;
  font-size: var(--font-16);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  height: 300px;
  padding: var(--padding-10);
  position: relative;
  display: flex;
  gap: var(--gap-10);
  transition: var(--transition2);
  align-items: center;
  justify-content: center;
}
.notificationchild:hover {
  border-bottom: 1px solid transparent;
  background-color: var(--color-gray30);
  border-radius: var(--br5);
}
.notificationchild:hover .iconok,
.iconnormal,
.iconwarning,
.iconfailed {
  border: 1px solid var(--color-gray30);
}
.iconok,
.iconnormal,
.iconwarning,
.iconfailed {
  border: 1px solid transparent;
  position: relative;
  min-height: 40px;
  height: 40px;
  padding: var(--padding-10);

  border-radius: var(--br10);
  width: 40px;
  min-width: 40px;
  transition: var(--transition1);
}
.notifbody {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  height: 100%;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.title {
  position: relative;
  text-transform: uppercase;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);

  text-align: left;
}
.time {
  position: relative;
  text-transform: lowercase;
  font-size: var(--font-10);
  font-weight: var(--weight-400);
  color: var(--text-h2);
}
.message {
  position: relative;
  text-transform: capitalize;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  color: var(--text-h1);
  width: 100%;
  text-align: left;
}
