.loader {
  margin: 40px;
  --size: 300px;
  --duration: 9s;
  --logo-color: #44cb8c;
  --background: linear-gradient(0deg, rgba(68, 203, 140, 0.2) 0%, rgba(68, 203, 140, 0.4) 100%);
  --ripple-shadow-small: var(--box-shadow);
  --ripple-shadow-large: 0px 30px 20px 0px rgba(0, 0, 0, 0.1);
  height: var(--size);
  aspect-ratio: 1;
  position: relative;
  @media (max-width: 600px) {
    --size: 200px;
  }
}

.loader .box {
  position: absolute;
  background: rgba(68, 203, 140, 0.15);
  background: var(--background);
  border-top: 1px solid rgba(68, 203, 140, 1);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(5px);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 10;
  border-radius: 50%;
}

.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 9;
  border-color: rgba(68, 203, 140, 0.8);
  animation-delay: 0.3s;
  border-radius: 45%;
}

.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 8;
  border-color: rgba(68, 203, 140, 0.6);
  animation-delay: 0.4s;
  border-radius: 40%;
}

.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 7;
  border-color: rgba(68, 203, 140, 0.4);
  animation-delay: 0.7s;
  border-radius: 35%;
}

.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 6;
  border-color: rgba(68, 203, 140, 0.2);
  animation-delay: 0.9s;
  border-radius: 30%;
}

.loader .logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo svg {
  fill: var(--logo-color);
  width: 100%;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow: var(--ripple-shadow-small);
  }
  33% {
    transform: scale(1.3);
    box-shadow: var(--ripple-shadow-large);
  }
  66% {
    transform: scale(1);
    box-shadow: var(--ripple-shadow-small);
  }
  100% {
    transform: scale(1);
    box-shadow: var(--ripple-shadow-small);
  }
}

.paymentsuccess {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  gap: var(--gap-30);
  @media (max-width: 600px) {
    min-height: auto;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-10);
}
.paymentsuccesstext {
  font-size: var(--font-30);
  font-weight: var(--weight-800);
  color: #44cb8c;
}
.paymentsuccesstitle {
  font-size: var(--font-24);
  font-weight: var(--weight-500);
  color: var(--text-h1);
}

[data-theme="dark"] .loader {
  --ripple-shadow-large: 0px 30px 20px 0px rgba(0, 0, 0, 0.4);
}
