.rowheader {
  position: relative;
  display: flex;
  gap: var(--gap-10);
  color: var(--text-h1);
  font-size: var(--font-18);
  font-weight: var(--weight-800);
  transition: var(--transition2);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}
.rowheader:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color: var(--color-light-blue);
}

.graph {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
}
.graph > div {
  height: 240px;
}
.graph > div > div > div > svg {
  height: 270px;
}

.pagination {
  display: flex;
  width: 45%;
}

.textWrapper {
  max-width: 180px !important;
  width: 100%;
  color: var(--color-light-blue);
  text-align: center;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.textWrapper:hover {
  cursor: grab;
}
.textWrapper:active {
  cursor: grabbing;
}

.backForwardIcon,
.forwardIcon {
  top: 2px;
  position: relative;
  height: 12px;
  transition: var(--transition3);
  cursor: pointer;
}

.backForwardIcon:hover {
  transform: scale(1.2);
}

.backForwardIcon:active {
  transform: translateX(-5px);
}

.forwardIcon:hover {
  transform: scale(1.2);
}

.forwardIcon:active {
  transform: translateX(5px);
}
