.pincontainer {
  justify-content: center;
  height: 100%;
  max-height: calc(100% - 100px);
  width: calc(100% - 130px);
  left: 110px;
  min-width: 250px;
  top: 80px;
  display: flex;
  -moz-column-gap: var(--gap-20);
  column-gap: var(--gap-20);
  position: fixed;
  animation: var(--bottom14);
  transition: var(--transition3);
}
@media (max-width: 720px) {
  .pincontainer {
    width: calc(100% - 20px) !important;
    left: 10px !important;
    top: 100px !important;
  }
}
.all {
  display: flex;
  position: relative;
  grid-row-end: span 82;
  border-radius: var(--br25);
  background-color: var(--color-white);
  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: var(--bottom08);
  transition: var(--transition3);
}

.swiper {
  position: relative;
  row-gap: var(--gap-50);
  column-gap: var(--gap-20);
  width: 100%;
  height: 100%;
  padding: var(--paddingbox);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  transition: var(--transition3);
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  animation: var(--bottom08);
  @media (max-width: 720px) {
    padding: var(--paddingboxmobile);
  }
}

.page {
  position: relative;
  min-width: 190px;
  width: 100%;
  max-width: 270px;
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  gap: var(--gap-15);
  padding: var(--padding-10);
  align-items: center;

  cursor: pointer;
}
.page::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: var(--br50);
  padding: var(--padding-2);
  background: linear-gradient(to left, var(--color-dark-blue30), var(--color-dark-blue), var(--color-dark-blue30));
  -webkit-mask: linear-gradient(var(--color-ffffff) 0 0) content-box, linear-gradient(var(--color-ffffff) 0 0);
  mask: linear-gradient(var(--color-ffffff) 0 0) content-box, linear-gradient(var(--color-ffffff) 0 0);
  mask-composite: exclude;
}

.background {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 42px 42px 24px 24px;
}
.backgroundImage {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 42px 42px 24px 24px;
  background-color: var(--color-gray60);
}
.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px) brightness(0.5);
  border-radius: 42px 42px 24px 24px;
  z-index: 1;
  transition: var(--transition3);
}

.page:hover .background::after {
  backdrop-filter: blur(0) brightness(1);
}

.instagramprofiledetail {
  max-width: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  align-items: center;
  justify-content: space-evenly;
  opacity: 1;
  transition: var(--transition1);
  animation: fadeIn 0.1s forwards;
}

.page:hover .instagramprofiledetail {
  animation: fadeOut 0.1s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0.75;
    transform: scale(1.2);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.3);
  }
  75% {
    opacity: 0.25;
    transform: scale(1.4);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  25% {
    opacity: 0.25;
    transform: scale(1.4);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.3);
  }
  75% {
    opacity: 0.75;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.profile {
  position: absolute;
  width: 100%;
  top: -30px;
  z-index: 3 !important;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--gap-15);
}

.instagramimage {
  background-color: var(--background-root);
  box-shadow: var(--box-shadow);
  position: relative;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1 / 1;
  height: 90px;
  -o-object-fit: cover;
  object-fit: cover;
}

.instagramusername {
  position: relative;
  text-align: center;
  color: var(--color-ffffff);
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 100%;
}
.instagramid {
  position: relative;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 100%;
  color: var(--color-ffffff);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.summary {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.summarydata {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  text-transform: uppercase;
  gap: var(--gap-8);
  align-items: center;
  width: 30%;
}
.rating {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--color-light-yellow);
}
.follower {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--color-dark-blue);
}
.post {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--color-light-green);
}

.categorysection {
  border-top: 1px solid var(--color-gray30);
  padding-top: 10px;
  height: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.category {
  position: relative;
  padding: var(--paddingtag);
  border-radius: var(--br5);
  background-color: var(--color-gray30);
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}

.newfilter {
  width: 100%;
  padding: var(--padding-12) var(--padding-10);
  background: var(--background-root);
  border-radius: var(--br25);
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: flex-start;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: var(--transition3);
  box-shadow: var(--box-shadow);
  animation: var(--top08);
}

/* دکمه فیلتر موبایل */
.mobileFilterToggleparent {
  display: none !important;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-10);
  transition: var(--transition3);
  @media (max-width: 768px) {
    display: flex !important;
  }
}
.mobileFilterToggle {
  display: none;
  width: 100%;
  background: var(--background-root);
  color: var(--text-h1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10);
  gap: var(--gap-10);
  font-size: var(--font-14);
  font-weight: var(--weight-500);
  cursor: pointer;
  transition: var(--transition3);
}

.mobileFilterToggle:hover {
  background: var(--color-primary-dark);
}

/* فیلترهای دسکتاپ */
.desktopFilters {
  display: flex;
  flex-direction: row;
  gap: var(--gap-20);
  width: 100%;
  overflow-x: auto;
  align-items: flex-start;
  justify-content: flex-start;
}

/* فیلترهای موبایل */
.mobileFilters {
  display: none;
  flex-direction: column;
  gap: var(--gap-15);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.mobileFiltersOpen {
  max-height: 1000px;
  opacity: 1;

  padding: var(--padding-5) !important;
}

/* رسپانسیو برای موبایل */
@media (max-width: 768px) {
  .newfilter {
    flex-direction: column;
    padding: var(--padding-10);
  }

  .mobileFilterToggle {
    display: flex;
  }

  .desktopFilters {
    display: none;
  }

  .mobileFilters {
    display: flex;
    padding: 0px;
  }
}

/* رسپانسیو برای تبلت و بالاتر */
@media (min-width: 769px) {
  .mobileFilterToggle {
    display: none;
  }

  .mobileFilters {
    display: none;
  }

  .desktopFilters {
    display: flex;
  }
}
.filter {
  max-width: 25%;
  width: 100%;
  min-width: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
  transition: var(--transition3);
}

/* رسپانسیو برای موبایل */
@media (max-width: 768px) {
  .filter {
    max-width: 100%;
    min-width: unset;
  }
}

/* کلاس‌های اضافی */
.stopButton {
  background-color: var(--color-dark-red10);
  color: var(--color-dark-red);
  border: none;
  border-radius: var(--br15);
  padding: var(--padding-8) var(--padding-12);
  cursor: pointer;
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  transition: var(--transition3);
  animation: var(--fadeIn3);
  text-wrap: nowrap;
}

.stopButton:hover {
  background: var(--color-danger-dark);
}

.translate {
  direction: ltr;
}
