.bg,
.bg1 {
  position: absolute;
}
.bg {
  top: 0;
  left: 0;
  border-radius: var(--br15);
  background-color: var(--color-ffffff);

  width: 236px;
  height: 402px;
}
.bg1 {
  top: 13px;
  left: 14px;
  border-radius: var(--br15);
  background-color: var(--text-h3);
  width: 209px;
  height: 376px;
}
.iconPlus {
  top: 169px;
  left: 91px;
  width: 56px;
  height: 56px;
  overflow: hidden;
}
.bg2,
.iconPlus,
.number {
  position: absolute;
}
.bg2 {
  top: 382px;
  left: 79px;
  border-radius: var(--br8);
  background-color: var(--color-ffffff);

  width: 78px;
  height: 30px;
}
.number {
  top: 388px;
  left: 106px;
  font-weight: var(--weight-400);
}
.cardNew {
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
  height: 412px;

  color: var(--elements-boxtitle-num);
}
.groupChild,
.image313Icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.groupChild {
  height: 97.32%;
  bottom: 2.68%;
  border-radius: var(--br15);
  background-color: var(--color-ffffff);
}
.image313Icon {
  height: 100%;
  bottom: 0;
  border-radius: var(--br15);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupItem,
.pictureContentStorys2 {
  position: absolute;
  height: 91.73%;
  width: 89.83%;
  top: 2.68%;
  right: 5.08%;
  bottom: 5.6%;
  left: 5.08%;
}
.groupItem {
  border-radius: var(--br15);
  background: linear-gradient(0deg, #00000099, #d9d9d900);
}
.frameIcon,
.frameIcon1,
.frameIcon2 {
  position: absolute;
  height: 5.45%;
  width: 12.21%;
  top: 79.08%;
  right: 16.61%;
  bottom: 15.47%;
  left: 71.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameIcon1,
.frameIcon2 {
  height: 4.46%;
  width: 11.03%;
  top: 79.56%;
  right: 44.48%;
  bottom: 15.97%;
  left: 44.49%;
}
.frameIcon2 {
  height: 5.56%;
  width: 9.94%;
  top: 79.08%;
  right: 72.26%;
  bottom: 15.37%;
  left: 17.8%;
}
.groupInner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br8);
  background-color: var(--color-ffffff);
}
.div {
  position: absolute;
  height: 50%;
  width: 39.74%;
  top: 23.33%;
  left: 30.77%;
  font-weight: var(--weight-400);
  display: inline-block;
}
.rectangleGroup {
  position: absolute;
  height: 7.3%;
  width: 33.05%;
  top: 92.7%;
  right: 33.47%;
  bottom: 0;
  left: 33.47%;

  color: var(--elements-boxtitle-num);
}
.div1,
.div2,
.div3 {
  position: absolute;
  top: 86.62%;
  left: 17.37%;
  font-weight: var(--weight-400);
}
.div2,
.div3 {
  left: 47.03%;
}
.div3 {
  left: 74.15%;
}
.optionIcon {
  position: absolute;
  height: 1.22%;
  width: 9.75%;
  top: 7.3%;
  right: 77.12%;
  bottom: 91.48%;
  left: 13.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleParent {
  position: absolute;
  height: 100.74%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -0.74%;
  left: 0;
}
.cardStoryS2 {
  position: absolute;
  top: 2px;
  left: 260px;
  width: 236px;
  height: 408px;
}
.div5 {
  position: absolute;
  top: 86.62%;
  left: 21.61%;
  font-weight: var(--weight-400);
}
.cardStoryS21,
.cardStoryS22,
.groupChild6 {
  position: absolute;
  top: 2px;
  left: 520px;
  width: 236px;
  height: 408px;
}
.cardStoryS22,
.groupChild6 {
  left: 780px;
}
.groupChild6 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br15);
  background-color: var(--color-ffffff);
}
.pictureContentStorys23 {
  position: absolute;
  height: 94.25%;
  width: 89.83%;
  top: 2.75%;
  right: 5.08%;
  bottom: 3%;
  left: 5.08%;
}
.rectangleParent3 {
  position: absolute;
  height: 98.04%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 1.96%;
  left: 0;
}
.cardStoryS2Child,
.groupChild7 {
  position: absolute;
  height: 92.4%;
  width: 89.83%;
  top: 2.7%;
  right: 5.08%;
  bottom: 4.9%;
  left: 5.08%;
  border-radius: var(--br15);
  background-color: var(--color-gray);
}
.groupChild7 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br8);
  background-color: var(--color-ffffff);
}
.rectangleParent4 {
  position: absolute;
  height: 7.35%;
  width: 33.05%;
  top: 93.63%;
  right: 33.47%;
  bottom: -0.98%;
  left: 33.47%;

  color: var(--elements-boxtitle-num);
}
.frameIcon9 {
  position: absolute;
  height: 5.48%;
  width: 10.84%;
  top: 79.66%;
  right: 54.84%;
  bottom: 14.87%;
  left: 34.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.autoDeleteInNext {
  position: absolute;
  height: 12.75%;
  width: 42.37%;
  top: 46.08%;
  left: 28.81%;
  font-weight: var(--weight-400);
  display: inline-block;
}
.div13,
.div14,
.div15,
.k {
  position: absolute;
  top: 86.03%;
  left: 77.54%;
  font-weight: var(--weight-400);
}
.div14,
.div15,
.k {
  left: 14.83%;
}
.div15,
.k {
  left: 35.17%;
}
.div15 {
  left: 56.78%;
}
.frameIcon10,
.frameIcon11,
.frameIcon12,
.optionIcon3 {
  position: absolute;
  height: 5.6%;
  width: 9.94%;
  top: 79.66%;
  right: 75.23%;
  bottom: 14.75%;
  left: 14.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameIcon11,
.frameIcon12,
.optionIcon3 {
  height: 4.5%;
  width: 11.03%;
  top: 80.15%;
  right: 34.73%;
  bottom: 15.36%;
  left: 54.24%;
}
.frameIcon12,
.optionIcon3 {
  height: 5.5%;
  width: 12.21%;
  top: 79.66%;
  right: 13.22%;
  bottom: 14.85%;
  left: 74.58%;
}
.optionIcon3 {
  height: 1.3%;
  width: 9.74%;
  top: 7.36%;
  right: 77.1%;
  bottom: 91.33%;
  left: 13.15%;
}
.cardStoryS23,
.newStories {
  position: absolute;
  top: 2px;
  left: 1040px;
  width: 236px;
  height: 408px;
}
.newStories {
  top: 652px;
  left: 114px;
  width: 1276px;
  height: 412px;
  color: var(--color-ffffff);
}
.groupIcon {
  position: absolute;
  height: 80%;
  width: 7.19%;
  top: 13.33%;
  right: 92.81%;
  bottom: 6.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.title {
  position: absolute;
  top: 0;
  left: 11.98%;
  text-transform: uppercase;
  font-weight: var(--weight-400);
}
.groupParent {
  position: relative;
  width: 167px;
  height: 15px;
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br25);
  background-color: var(--color-ffffff);

  width: 1275px;
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.objectDirectionBlueChild {
  position: absolute;
  height: 103.7%;
  width: 107.69%;
  top: 0;
  right: -7.69%;
  bottom: -3.7%;
  left: 0;
  border-radius: var(--br8);
  background-color: var(--primary-2977ff);
}
.path517Icon {
  position: absolute;
  height: 48.04%;
  width: 26.15%;
  top: 29.63%;
  right: 35.39%;
  bottom: 22.33%;
  left: 38.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.objectDirectionBlue {
  position: absolute;
  top: 79px;
  left: 32px;
  box-shadow: 0 0 10px var(--color-dark-blue60);
  width: 28px;
  height: 28px;
}
.path517Icon1 {
  position: absolute;
  height: 48.04%;
  width: 26.15%;
  top: 29.63%;
  right: 31.82%;
  bottom: 22.33%;
  left: 42.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.objectDirectionBlue1 {
  position: absolute;
  top: 79px;
  left: 1211px;
  box-shadow: 0 0 10px var(--color-dark-blue60);
  width: 28px;
  height: 28px;
}
.highlight1Icon {
  position: absolute;
  top: 52px;
  left: 87px;
  width: 82px;
  height: 82px;
}
.highlight2Icon,
.highlight3Icon,
.highlight4Icon,
.highlight5Icon {
  position: absolute;
  top: 52px;
  left: 213px;
  width: 82px;
  height: 82px;
}
.highlight3Icon,
.highlight4Icon,
.highlight5Icon {
  left: 339px;
}
.highlight4Icon,
.highlight5Icon {
  left: 465px;
}
.highlight5Icon {
  left: 591px;
}
.highlight10Icon,
.highlight6Icon,
.highlight8Icon,
.highlight9Icon {
  position: absolute;
  top: 52px;
  left: 717px;
  width: 82px;
  height: 82px;
}
.highlight10Icon,
.highlight8Icon,
.highlight9Icon {
  left: 843px;
}
.highlight10Icon,
.highlight9Icon {
  left: 969px;
}
.highlight10Icon {
  left: 1095px;
}
.name,
.name1 {
  position: absolute;
  top: 148px;
  left: 109px;
  font-weight: var(--weight-400);
}
.name1 {
  left: 236px;
}
.highlights {
  position: absolute;
  top: 440px;
  left: 114px;
  width: 1275px;
  height: 194px;
  text-align: right;
}

.path517Icon2 {
  position: absolute;
  height: 48.04%;
  width: 26.15%;
  top: 29.63%;
  right: 142.03%;
  bottom: 22.33%;
  left: -68.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.objectDirectionBlue2,
.objectDirectionBlue3 {
  position: absolute;
  top: 164px;
  box-shadow: 0 0 10px var(--color-dark-blue60);
  width: 28px;
  height: 28px;
}
.objectDirectionBlue2 {
  left: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.objectDirectionBlue3 {
  left: 1211px;
}
.cardStoryS1Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br15);
  background-color: var(--color-ffffff);
  box-shadow: var(--box-shadow);
}
.cardStoryS1Item,
.pictureContentStorys1 {
  position: absolute;
  height: 97.18%;
  width: 94.41%;
  top: 1.21%;
  right: 2.8%;
  bottom: 1.61%;
  left: 2.8%;
}
.cardStoryS1Item {
  border-radius: var(--br15);
  background-color: var(--color-gray);
}
.div16 {
  position: absolute;
  top: 7.74%;
  left: 33.53%;
  line-height: 32px;
  font-weight: var(--weight-400);
}
.timeRemChild,
.timeRemItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}
.timeRemItem {
  height: 105.16%;
  width: 105.16%;
  top: -2.58%;
  right: -2.58%;
  bottom: -2.58%;
  left: -2.58%;
}
.days,
.timeRem {
  position: relative;
}
.timeRem {
  width: 38.77px;
  height: 38.77px;
}
.days {
  line-height: 16px;
  font-weight: var(--weight-400);
}
.div17,
.div18 {
  position: absolute;
  top: 7.74%;
  left: 30.95%;
  line-height: 32px;
  font-weight: var(--weight-400);
}
.div18 {
  left: 20.63%;
}
.scheduledRemain,
.timeRemParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.scheduledRemain {
  position: absolute;
  height: 86.42%;
  width: 57.34%;
  top: 7.66%;
  right: 21.68%;
  bottom: 5.92%;
  left: 20.98%;
}
.cardStoryS1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 143px;
  height: 248px;
}
.div20 {
  position: absolute;
  top: 7.74%;
  left: 38.69%;
  line-height: 32px;
  font-weight: var(--weight-400);
}
.timeRemChild4 {
  position: absolute;
  height: 105.16%;
  width: 105.16%;
  top: -1.99%;
  right: -2.58%;
  bottom: -3.17%;
  left: -2.58%;
  border-radius: 50%;
}
.div21 {
  position: absolute;
  top: 7.74%;
  left: 36.11%;
  line-height: 32px;
  font-weight: var(--weight-400);
}
.cardStoryS11 {
  position: absolute;
  top: 0;
  left: 159px;
  width: 143px;
  height: 248px;
}
.vectorIcon {
  position: relative;
  width: 22.17px;
  height: 21.53px;
}
.scheduledRemain2 {
  position: absolute;
  height: 87.44%;
  width: 57.34%;
  top: 7.15%;
  right: 21.68%;
  bottom: 5.41%;
  left: 20.98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cardStoryS12,
.cardStoryS13,
.cardStoryS14,
.cardStoryS15 {
  position: absolute;
  top: 0;
  left: 318px;
  width: 143px;
  height: 248px;
}
.cardStoryS13,
.cardStoryS14,
.cardStoryS15 {
  left: 477px;
}
.cardStoryS14,
.cardStoryS15 {
  left: 636px;
}
.cardStoryS15 {
  left: 795px;
}
.cardStoryS16,
.cardStoryS17,
.cardStoryS18,
.stories {
  position: absolute;
  top: 0;
  left: 954px;
  width: 143px;
  height: 248px;
}
.cardStoryS17,
.cardStoryS18,
.stories {
  left: 1113px;
}
.cardStoryS18,
.stories {
  left: 1272px;
}
.stories {
  top: 57px;
  left: 92px;
  width: 1104px;
  overflow: hidden;
  text-align: center;

  color: var(--color-ffffff);
}

.pageStory {
  position: relative;
  background-color: var(--background-edf4ff);
  width: 100%;
  height: 1087px;
  overflow: hidden;
  text-align: center;

  color: var(--elements-boxtitle-num);
}
