.selectbox {
  line-height: 19px;
  background-color: var(--color-white);
  padding: var(--padding-10);
  border: 1px solid var(--content-box);
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--text-h1);
  border-radius: var(--br15);
  cursor: pointer;
  transition: var(--transition3);
  justify-content: space-evenly;
  align-items: center;
}
.dangerselectbox {
  line-height: 19px;
  background-color: var(--color-white);
  padding: var(--padding-10);
  border: 1px solid var(--color-dark-red);
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--text-h1);
  border-radius: var(--br8);
  cursor: pointer;
  transition: var(--transition6);
  justify-content: space-evenly;
  align-items: center;
}
.selectbox:hover {
  border: 1px solid var(--color-dark-blue);
  border-radius: var(--br10);
}
.activeSelectbox {
  padding: var(--padding-10);
  color: var(--color-ffffff) !important;
  border: 1px solid transparent;
  border-radius: var(--br10);
  background-color: var(--color-light-blue);
}
.selectoption {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  gap: var(--gap-10);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titleheader {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-size: var(--font-14);
  width: 100%;
  font-weight: var(--weight-400);
  text-wrap: pretty;
  text-align: start;
}
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-size: var(--font-14);
  width: calc(100% - 15px);
  transition: var(--transition2);
  text-wrap: pretty;
  text-align: start;
}
.title > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-5);
}
.titleheader > div {
  fill: var(--text-h1);
  stroke: var(--text-h1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-5);
}
.arrowIcon {
  transition: var(--transition3);
  fill: var(--color-light-blue);
}
.rotateArrow {
  transform: rotatex(180deg);
  fill: var(--color-ffffff);
}

.selectedBoxLogo {
  position: absolute;
  left: 80px;
}

.dropDownMenu {
  position: relative;
  width: 30%;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
.dropdown::-webkit-scrollbar {
  display: block;
}
.dropdown {
  max-height: 205px;
  margin-top: 10px;
  overflow-y: auto;
  height: max-content;
  /* background-color: var(--color-white); */
  background-color: var(--background-root);
  border-radius: var(--br5) var(--br5) var(--br15) var(--br15);
  z-index: 200;
  box-shadow: var(--dropdown-shadow);
  animation: scale-in-ver-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @media (max-width: 720px) {
    padding-inline-end: 10px;
  }
}
.dropdown > div:last-child {
  border-bottom: 0px;
  margin-bottom: 5px;
}

.dropup::-webkit-scrollbar {
  display: block;
}
.dropup {
  margin-bottom: 10px;
  max-height: 300px;
  overflow-y: auto;
  height: max-content;
  background-color: var(--color-white);
  border-radius: var(--br15) var(--br15) var(--br5) var(--br5);
  z-index: 2;
  box-shadow: var(--dropdown-shadow);
  animation: scale-in-ver-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.dropup > div:last-child {
  border-bottom: 0px;
}

.option {
  fill: var(--text-h1);
  stroke: var(--text-h1);
  line-height: 19px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  width: 100%;
  border-bottom: 1px solid var(--color-gray30);
  gap: var(--gap-8);
  display: flex;
  height: 40px;
  padding-inline-end: var(--padding-10);
  padding-inline-start: var(--padding-10);
  padding-block: var(--padding-10);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  cursor: pointer;
  transition: var(--transition3);
  text-align: start;
  justify-content: space-between;
  align-items: center;
}
.option:hover .title {
  color: var(--color-light-blue);
  fill: var(--color-light-blue);
  stroke: var(--color-light-blue);
}
.selectedOption {
  fill: var(--color-light-blue);
  stroke: var(--color-light-blue);
  color: var(--color-light-blue);
  font-weight: var(--weight-600) !important;
}
.dropdownClosing {
  max-height: 205px;
  overflow-y: scroll;
  height: max-content;
  background-color: var(--background-root);
  border-radius: var(--br5) var(--br5) var(--br15) var(--br15);
  z-index: 200;
  box-shadow: var(--dropdown-shadow);
  animation: scale-out-ver-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
  }
}
.dropupClosing {
  margin-bottom: 10px;
  max-height: 300px;
  overflow-y: auto;
  height: max-content;
  background-color: var(--color-white);
  border-radius: var(--br15) var(--br15) var(--br5) var(--br5);
  z-index: 2;
  box-shadow: var(--dropdown-shadow);
  animation: scale-out-ver-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 0;
  }
}
