.section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}

.all {
  height: 100%;
  gap: var(--gap-20);
  justify-content: space-between;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.terms {
  flex-direction: column;
  gap: var(--gap-5);
}
.inactiveTextarea {
  opacity: 0.3;
  pointer-events: none;
}
.headerparent,
.section1,
.terms {
  position: relative;
  display: flex;
  width: 100%;
}

.section1 {
  height: 100%;
  gap: var(--gap-20);
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: hidden;
}

.headerparent {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-10);
}

.headertitle {
  position: relative;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}

.headertitle2 {
  color: var(--text-h1);
  max-width: 250px;
  text-transform: capitalize;
  position: relative;
  font-size: var(--font-14);
  line-height: var(--font-16);
  font-weight: var(--weight-400);
}
.headertitle1 {
  text-align: left;
  color: var(--text-h1);
  max-width: 250px;
  text-transform: capitalize;
  position: relative;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}

.headertitle {
  width: -moz-fit-content;
  width: fit-content;
  left: 10px;
  display: flex;
  color: var(--color-gray);
  text-transform: uppercase;
}

.explain {
  text-align: left;
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
}

.selectbox {
  border: 1px solid red;
}

.selectbox {
  position: relative;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
}

.section2 {
  padding-top: 10px;
  padding-bottom: 15px;

  border: 1px solid var(--content-box);
  border-radius: var(--br15);
  flex-direction: column;
  gap: var(--gap-20);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition: var(--transition2);
}
.section2:hover {
  border: 1px solid var(--color-dark-blue);
}

.content {
  display: flex;
}

.content,
.explain1,
.price {
  position: relative;
  width: 100%;
  height: 100%;
}

.explain1 {
  line-height: var(--font-14);
  text-align: center;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
}

.price {
  height: 100%;
  display: flex;
  gap: var(--gap-20);

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.priceheader {
  line-height: var(--font-18);
  position: relative;
  color: var(--text-h1);
  text-align: center;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
}

.post,
.story {
  position: relative;
  gap: var(--gap-5);
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.line {
  width: 1px;
  height: 100%;
  background-color: var(--content-box);
}
.postprice {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-20);
  text-align: center;
  font-weight: var(--weight-400);
}

.storyprice {
  text-align: center;
  font-weight: var(--weight-400);
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-20);
}

@media (max-width: 400px) {
  .postprice,
  .storyprice {
    font-size: var(--font-16) !important;
  }
  .fullday,
  .halfday {
    font-size: var(--font-12) !important;
  }
  .section2 {
    gap: var(--gap-30) !important;
  }
}

.halfday {
  text-align: center;
  line-height: var(--font-14);
  font-weight: var(--weight-400);
  font-size: var(--font-14);
  align-content: center;
  justify-content: center;
  text-transform: capitalize;
  color: var(--color-light-blue);
  position: relative;
  display: flex;
  align-items: center;
}

.fullday {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-content: center;
  justify-content: center;
  text-transform: capitalize;
  color: var(--color-purple);
}

.currency {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.symbol {
  position: relative;
  text-align: center;
  color: var(--color-gray);
  font-size: var(--font-16);
  font-weight: var(--weight-200);
}

.active,
.activehour {
  position: relative;
  display: flex;
}

.close {
  position: relative;
  display: flex;
  width: 150px;
  border-radius: var(--br5);
  background-color: var(--color-light-yellow30);
  color: var(--color-light-yellow);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}
.open {
  position: relative;
  display: flex;
  width: 150px;
  border-radius: var(--br5);
  background-color: var(--color-dark-green30);
  color: var(--color-dark-green);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5);
  font-size: var(--font-12);
  font-weight: var(--weight-600);
}

.active,
.activehour {
  gap: var(--gap-5);
}

.active {
  width: 150px;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  flex-direction: column;
  align-items: center;
}

.activehour {
  width: 100%;
  justify-content: space-between;
}

.amhour,
.pmhour {
  position: relative;
  font-weight: var(--weight-400);
  font-size: var(--font-12);
  color: var(--color-dark-green);
}
