.all {
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  gap: 30px;
  margin-top: 60px;
  padding: 30px 30px;
  @media (max-width: 720px) {
    gap: 20px !important;
    padding: 20px 0px;
  }
}

.content {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.6s ease-in-out !important;
  opacity: 0;
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 20px;
  max-width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 720px) {
    padding: 30px 0px;
  }
}
.contentShow {
  max-height: 600px;
  opacity: 1;
  @media (max-width: 720px) {
    max-height: 500px;
  }
}
.header {
  padding: 0px 30px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  @media (max-width: 720px) {
    padding: 0px 20px !important;
    top: 15px;
  }
}

.header button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  outline: none;
  @media (max-width: 720px) {
    gap: 10px;
  }
}

.header button:hover {
  transform: scale(1.02);
}

.headerimg {
  position: relative;
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  @media (max-width: 720px) {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
  }
}
.headertext {
  display: flex;
  gap: 5px;
  position: relative;
  color: var(--text-h1);
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  flex-direction: row;
  align-items: center;
}
.headertextblue {
  font-weight: 700;
  background: linear-gradient(
    to right,
    var(--color-dark-blue),
    var(--color-light-blue)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contactlist {
  min-height: 200px;
  box-shadow: var(--box-shadow);
  padding: 30px;
  max-width: 900px;
  position: relative;
  border-radius: 50px;
  width: calc(100% - 50px);
  display: flex;
  z-index: 1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: var(--color-white30);
  column-gap: 50px;
  row-gap: 20px;
  justify-content: center;
  transition: all 0.3s ease-in-out !important;
  align-items: center;
  flex-direction: column;
  @media (max-width: 720px) {
    min-height: 100px;
    border-radius: 30px;
    padding: 20px;
    column-gap: 10px;
    row-gap: 10px;
  }
}

.map {
  top: -120px;
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 100%;
  height: 450px;
  min-height: 450px;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--color-gray10);
  @media (max-width: 720px) {
    height: 400px !important;
    min-height: 400px !important;
    border-radius: 30px !important;
    height: 300px !important;
    min-height: 300px !important;
    top: -80px;
  }
}
:global(.dark) .map {
  filter: invert(1);
}
.map {
  filter: hue-rotate(180deg);
}
[data-theme="dark"] .map > div {
  filter: invert(1);
}
.map > div {
  height: 100% !important;
}

.map > div > div:nth-child(2) > div:nth-child(4) {
  display: none;
}
.map > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  border: none !important;
  margin-left: 25px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.map > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > a {
  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--text-h1);
}
.contactboxtop {
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 720px) {
    column-gap: 10px;
    row-gap: 10px;
  }
}
.contactbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contacticon {
  position: relative;
  stroke: var(--text-h1);
  stroke-width: 2;
  width: 25px;
  @media (max-width: 720px) {
    width: 20px !important;
  }
}
.contactdetail {
  position: relative;
  display: flex;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-h1);
  text-transform: capitalize;
  width: 100%;
  text-align: start;
  @media (max-width: 720px) {
    font-size: 12px !important;
    font-weight: 500;
  }
}

/* ring loader */
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.svg {
  width: 35px;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

.svg > circle {
  fill: none;
  stroke: var(--color-dark-blue);
  stroke-width: 7;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 3s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -124px;
  }
}
