@media (max-width: 768px) {
  .all {
    gap: 20px !important;
    padding: 0px 20px 20px 20px !important;
  }
  .header {
    padding: 0px !important;
    height: 120px !important;
    flex-direction: column !important;
  }
  .headertext {
    margin-top: 10px !important;
    font-size: var(--font-fluid-md);
    font-weight: 400 !important;
  }
  .headertextblue {
    font-size: var(--font-fluid-lg);
  }

  .radioinput {
    position: absolute;
    margin-inline-start: auto !important;
    font-size: var(--font-fluid-sm);
    top: -60px !important;
    max-width: 150px !important;
    width: max-content !important;
  }
  .headerimg {
    width: 100px !important;
    height: 100px !important;
  }
  .videodetail {
    gap: 10px !important;
    padding: 0px !important;
    font-size: var(--font-fluid-xl);
    font-weight: 600 !important;
  }
  .contentttext {
    -webkit-line-clamp: 20 !important;
    line-clamp: 20 !important;
    font-size: var(--font-fluid-sm);
    font-weight: 400 !important;
  }
}

.embedvideofromtumbparent {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.all {
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  gap: 30px;
  padding: 0 30px 80px 30px;
}
.header {
  text-wrap: nowrap;
  padding: 0px 50px;
  position: relative;
  width: 100%;
  height: 150px;
  top: 70px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}
.headerparent {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
}
.headertext {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-fluid-2xl);
  font-weight: 400;
  text-transform: capitalize;
  flex-direction: row;
  align-items: center;
}
.headertextblue {
  font-weight: 800;
  font-size: var(--font-fluid-2xl);
  background: linear-gradient(to right, var(--color-dark-blue), var(--color-light-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerimg {
  width: 200px;
  height: 200px;
  z-index: 1;
}
.content {
  max-height: 0px;
  overflow: hidden;
  transition: var(--transoition3) !important;
  opacity: 0;
}
.content.show {
  max-height: 1000px;
  opacity: 1;
}
.content {
  position: relative;
  display: flex;
  width: 100%;
  gap: 20px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.radioinput input {
  display: none;
}
.radioinput {
  top: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  min-height: 50px;
  padding: 5px;
  gap: 10px;
  background-color: var(--background-root);
  color: var(--text-h1);
  max-width: 330px;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  z-index: 10;
}
.option {
  padding: 5px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 1;
  font-weight: 400;
  font-size: var(--font-fluid-xs);
  height: 50px;
  justify-content: space-between;
  transition: var(--transoition3) !important;
  @media (max-width: 768px) {
    justify-content: center;
    width: 35px;
    height: 35px;
  }
}
.option > span {
  @media (max-width: 768px) {
    display: none;
  }
}
.option svg {
  width: 25px;
}
.option:has(input:checked) {
  border-radius: 10px;
  padding: 5px;
  transition: var(--transoition3) !important;
  background-color: var(--color-white);
}
.embedvide {
  background: var(--color-gray10);
  padding-block-end: 10px;
  border-radius: var(--br30);
  gap: 20px;
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.embedvideofromtumb {
  border: none;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 30px;
  background-color: var(--color-gray10);
}
.embedvideofromtumbimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  cursor: pointer;
  animation: var(--fadeIn3);
}
.videodetail {
  padding-inline: 30px;
  gap: var(--gap-5);
  width: 100%;
  position: relative;
  display: flex;
  font-weight: 800;
  font-size: var(--font-fluid-md);
  color: var(--text-h1);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.videodetail h3 {
  white-space: pre-line;
}
.contentttext {
  text-align: start;
  overflow: hidden;
  -webkit-line-clamp: 14;
  line-clamp: 14;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  line-height: 1.5;
  display: -webkit-box;
  color: var(--text-h1);
  font-size: var(--font-fluid-sm);
  font-weight: 400;
  white-space: pre-line;
  overflow-y: auto;
}
.streamlogo {
  width: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.show {
  max-height: 1000px !important;
  opacity: 1 !important;
}
