/* ___ banner and profile___*/
.banner {
  margin-top: 30px;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  border-radius: var(--br30);
  align-items: center;
  justify-content: center;
  max-height: 500px;
}

.banner > div > div:nth-child(2) {
  background-color: transparent !important;
}

.banner > div > div:nth-child(2) > span {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--color-dark-blue) !important;
}

.bannerimage {
  position: relative;

  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 500px;
  border-radius: var(--br30);
}
.mask {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffffff00 30%, #000000b5 100%);
  border-radius: var(--br30);
}
.maskdetail {
  position: absolute;
  top: 40px;
  width: calc(100% - 10%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  @media (max-width: 720px) {
    top: 20px !important;
  }
}
.brancylogo {
  width: 100px;
  position: relative;
  cursor: pointer;
  transition: var(--transition3);
  @media (max-width: 720px) {
    width: 70px !important;
  }
}

.sharelogo {
  background-color: var(--color-dark-blue);
  padding: var(--padding-5);
  width: 30px;
  height: 30px;
  border-radius: var(--br8);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  @media (max-width: 720px) {
    width: 30px !important;
    height: 30px !important;
    padding: var(--padding-8) !important;
    border-radius: var(--br10) !important;
  }
}
.instagramprofile {
  position: absolute;
  bottom: 70px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: var(--gap-5);
  align-self: center;
  z-index: 1;
  max-width: 70%;
  @media (max-width: 720px) {
    gap: 0px !important;
  }
}

.instaid {
  position: relative;
  color: var(--color-ffffff);
  font-size: var(--font-16);
  font-weight: var(--weight-800);
  align-items: center;
  text-shadow: var(--box-shadow);
  @media (max-width: 720px) {
    font-size: var(--font-12) !important;
  }
}
.instausername {
  position: relative;
  color: var(--color-ffffff);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-items: center;
  @media (max-width: 720px) {
    font-size: var(--font-10) !important;
  }
}
.instabio {
  position: relative;
  color: var(--color-ffffff);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-items: center;
  @media (max-width: 720px) {
    font-size: var(--font-10) !important;
  }
}

/* ___header___ */
.header {
  text-wrap: nowrap;
  padding: 0px var(--padding-30);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-20);
  align-items: center;
  justify-content: center;

  cursor: pointer;
  @media (max-width: 720px) {
    padding: 0px var(--padding-20) !important;
  }
}
.squre {
  aspect-ratio: 1/1;
  height: 20px;
  background-color: var(--color-dark-blue);
  border-radius: var(--br5);
  transition: var(--transition6);
  @media (max-width: 720px) {
    border-radius: var(--br5) !important;
    height: 16px !important;
  }
}

.squre.closed {
  transition: var(--transition6);
  height: 20px;
  box-shadow: 0 0 0 4px var(--color-dark-blue30);
  border-radius: var(--br10) !important;
  @media (max-width: 720px) {
    height: 16px !important;
  }
}

.line {
  position: relative;
  width: 100%;
  border-top: 2px solid var(--color-dark-blue30);
  border-radius: var(--br5);
}
.headertext {
  display: flex;
  gap: var(--gap-5);
  left: -10px;
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-24);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  flex-direction: row;
  align-items: center;
  @media (max-width: 720px) {
    font-size: var(--font-14) !important;
    font-weight: var(--weight-400) !important;
  }
}
.headertextblue {
  font-weight: var(--weight-800);
  font-size: var(--font-28);
  background: linear-gradient(to right, var(--color-dark-blue), var(--color-light-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 720px) {
    font-size: var(--font-16) !important;
  }
}

.all {
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 1980px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  gap: var(--gap-30);
  padding: var(--padding-30) 0px;
  @media (max-width: 720px) {
    gap: var(--gap-20) !important;
    padding: var(--padding-20) 0px;
  }
}
.content {
  max-height: 0px;
  overflow: hidden;
  transition: var(--transition6);
  opacity: 0;
}
.content.show {
  max-height: 1000px;
  opacity: 1;
}
.content {
  position: relative;
  display: flex;
  width: 100%;

  gap: var(--gap-20);
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* header end      */
.profileimage {
  position: relative;
  border-radius: 50%;
  width: 90px;
  aspect-ratio: 1/1;
  border: 2px solid var(--color-ffffff);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  object-fit: cover;
  margin-bottom: 5px;
  @media (max-width: 720px) {
    border: 1px solid var(--color-ffffff) !important;
    width: 40px !important;
  }
}
.contentttext {
  overflow: hidden;
  align-self: center;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  overflow-y: scroll;
  @media (max-width: 720px) {
    -webkit-line-clamp: 10 !important;
    line-clamp: 10 !important;
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
}
/* Announcement      */
.announcementcontent {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-20);
  padding: var(--padding-30);
  border-radius: var(--br50);
  background-color: var(--background-root);

  @media (max-width: 720px) {
    border-radius: var(--br25) !important;
    padding: var(--padding-20) !important;
    gap: var(--gap-5) !important;
    flex-direction: column !important;
  }
}
.announcementprofile {
  gap: var(--gap-5);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 40%;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: var(--color-light-blue);
  font-size: var(--font-20);
  font-weight: var(--weight-800);
  @media (max-width: 720px) {
    gap: var(--gap-20) !important;
    max-width: 100% !important;
    width: 100% !important;
    flex-direction: row !important;
    text-align: left;
    font-size: var(--font-12) !important;
    justify-content: flex-start !important;
  }
}

/* reviews    */
.reviewslist {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  gap: var(--gap-30);
  padding-bottom: 10px;
}
.reviewslist::-webkit-scrollbar {
  display: block;
}
.reviewscontent {
  position: relative;
  min-width: 400px;
  max-width: 400px;
  height: 165px;
  gap: var(--gap-10);
  padding: var(--padding-20);
  border-radius: var(--br25);
  background-color: var(--background-root);

  display: flex;
  flex-direction: column;
  @media (max-width: 720px) {
    min-width: 295px !important;
  }
}
.reviewscontenttop {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}
.reviewerprofile {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
}
.reviewsprofileimage {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reviewer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
}
.reviewdate {
  color: var(--text-h2);
  font-size: var(--font-10);
  font-weight: var(--weight-400);
}

.reviewscontenttext {
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;

  width: 100%;
  height: 81px;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-self: center;
  text-align: left;
  color: var(--text-h1);
  border-left: 2px solid var(--box-border);
  overflow-y: scroll;
  margin-left: 15px;
  padding-left: 15px;
  @media (max-width: 720px) {
    font-size: var(--font-12) !important;
    -webkit-line-clamp: 6 !important;
    line-clamp: 6 !important;
  }
}
/* Online Streaming    */
.streamvideo {
  position: relative;
  display: flex;
  column-gap: var(--gap-50);
  row-gap: var(--gap-30);
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.streamlogo {
  position: relative;
  width: calc(40% - 30px);
  border-radius: var(--br20);
  @media (max-width: 900px) {
    width: 100%;
  }
}

.videodetail {
  background-color: var(--background-root);
  padding: var(--padding-30);
  border-radius: var(--br50);
  max-width: calc(60% - 30px);
  width: 100%;
  min-height: 200px;
  position: relative;
  display: flex;
  font-weight: var(--weight-800);
  font-size: var(--font-30);
  gap: var(--gap-20);
  color: var(--text-h1);
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 900px) {
    border-radius: var(--br20) !important;
    padding: var(--padding-20) !important;
    max-width: 100% !important;
    font-size: var(--font-18) !important;
    font-weight: var(--weight-600) !important;
  }
}
/* ___ */
.radioinput input {
  display: none;
}

.radioinput {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--br15);

  padding: var(--padding-5);
  gap: var(--gap-10);
  background-color: var(--background-root);
  color: var(--text-h1);
  max-width: 330px;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  @media (max-width: 700px) {
    font-size: var(--font-12) !important;
    max-width: 260px !important;
  }
}

.option {
  padding: var(--padding-5);
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5);
  z-index: 1;
  font-weight: var(--weight-400);
  font-size: var(--font-12);
  height: 50px;
  justify-content: space-between;
  transition: var(--transition2);
}
.option svg {
  width: 25px;
}
.option:has(input:checked) {
  border-radius: var(--br10);
  padding: var(--padding-5);
  transition: var(--transition2);
  background-color: var(--color-white);
}
/* ___ */
.btn {
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-blue);
  border: 0;
  border-radius: var(--br15);

  padding: var(--padding-10);
  color: var(--color-ffffff);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  animation: ripple 0.8s linear infinite;
  @media (max-width: 700px) {
    font-size: var(--font-10) !important;
    padding: var(--padding-8) !important;
  }
}
/* embed video    */
.embedvide {
  gap: var(--gap-20);
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.embedvideofromtumb {
  position: relative;
  max-width: 900px;
  width: 100%;
  aspect-ratio: 16/9;

  object-fit: cover;
  border-radius: var(--br25);
}
/* ___product___*/
.product {
  position: relative;
  align-self: center;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-content: space-between;

  gap: var(--gap-30);
  @media (max-width: 720px) {
    gap: var(--gap-20) !important;
  }
}
.searchContainer {
  display: flex;
  position: relative;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchbtn {
  height: 40px;
  background-color: var(--color-dark-blue);
  min-width: 40px;
  border-radius: 0px var(--br8) var(--br8) 0px;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.productContainer::-webkit-scrollbar {
  display: block;
}
.productContainer {
  padding: var(--padding-5);
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-15);
  padding-bottom: 35px;
  @media (max-width: 720px) {
    gap: var(--gap-20) !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
  }
}
.productitem {
  position: relative;
  background-color: var(--color-white);
  width: 20%;
  min-width: 200px;
  aspect-ratio: 4/1;
  border-radius: var(--br25);
  padding: var(--padding-10);
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  cursor: pointer;
  transition: var(--transition2);
}
.productitem:hover {
  transform: translateY(-5px);
}
.productimage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--br10);
}
.productname {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  height: 100%;
}
.pricesection {
  padding: var(--padding-5);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  align-items: flex-start;
  width: 100%;
}
.price {
  display: flex;
  gap: var(--gap-5);
  flex-direction: row;
}
.priceold {
  display: flex;
  color: var(--text-h2);
  gap: var(--gap-5);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-decoration: line-through;
  flex-direction: row;
  align-items: center;
}
.discountprice {
  color: var(--color-ffffff);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  background-color: var(--color-light-red);
  padding-inline: 3px;
  border-radius: var(--br5);
  text-decoration: none !important;
}
.pricenew {
  display: flex;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  flex-direction: row;
  align-items: center;
}
.showallproduct {
  cursor: pointer;
  color: var(--color-dark-blue);
  font-size: var(--font-16);
  font-weight: var(--weight-800);
}
.couponsection {
  width: fit-content;
  position: relative;
  padding: var(--padding-26);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--background-root);
  border-radius: var(--br25);
  color: var(--text-h2);
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  gap: var(--gap-20);
  align-items: center;
  justify-content: space-between;
}
.couponcode {
  padding: var(--padding-5) var(--padding-10);
  border-radius: var(--br8);
  color: var(--color-light-blue);
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  background-color: var(--color-dark-blue60);
}
/* ___timeline___*/
.timeline {
  padding: var(--padding-30) 0px;
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 1600px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  gap: var(--gap-30);
  @media (max-width: 720px) {
    gap: var(--gap-20) !important;
    padding: var(--padding-20) 0px !important;
  }
}

/* FAQ    */
.faqlist {
  gap: var(--gap-30);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  align-items: flex-start;
  justify-content: space-evenly;
}
.faqbox {
  position: relative;
  min-height: fit-content;
  width: 100%;
  max-width: 500px;
  padding: var(--padding-16);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: var(--br15);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition6);
}
.faqbox.active .answer {
  margin-top: 10px;
  max-height: 500px;
}
/* shortcut link    */
.shortcuts {
  padding-top: 20px;
  column-gap: var(--gap-20);
  row-gap: 40px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
}

.linkcontent {
  min-width: 100px;
  max-width: 25%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  cursor: pointer;
  transition: var(--transition2);
  @media (max-width: 720px) {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
.linkcontent:hover .linkicon {
  transform: scale(1.03);
}
.linkcontent:active .linkicon {
  transform: scale(0.97);
}
.linkicon {
  box-shadow: var(--box-shadow);
  width: 80px;
  height: 80px;
  position: relative;

  padding: var(--padding-16);
  border-radius: var(--br15);
  display: flex;
  background-color: var(--color-white);
  transition: var(--transition2);
  @media (max-width: 720px) {
    width: 65px !important;
    height: 65px !important;
  }
}
.linkdetail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5);
  text-transform: capitalize;
  position: relative;
  color: var(--color-dark-blue);
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  @media (max-width: 720px) {
    font-size: var(--font-14);
  }
}
.linkexplain {
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--text-h1);
  @media (max-width: 720px) {
    font-size: var(--font-12);
  }
}
.expiredate {
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--color-ffffff);
  background-color: var(--color-dark-blue);
  padding: var(--padding-5) var(--padding-8) var(--padding-5) var(--padding-5);
  border-radius: var(--br15) var(--br10) var(--br10) var(--br15);
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  @media (max-width: 720px) {
    font-size: var(--font-10);
  }
}

.linkiconbold {
  width: 80px;
  height: 80px;
  position: relative;

  padding: var(--padding-16);
  border-radius: var(--br15);
  display: flex;
  background-color: var(--color-white);
  transition: var(--transition2);
  animation: ripple 1s linear infinite;
  @media (max-width: 720px) {
    width: 65px !important;
    height: 65px !important;
  }
}
.linkcontent:hover .linkiconbold {
  transform: scale(1.03);
}
.linkcontent:active .linkiconbold {
  transform: scale(0.97);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #2978ff21, 0 0 0 5px #2977ff1f, 0 0 0 10px #2977ff0c, 0 0 0 15px #2977ff0c;
  }

  100% {
    box-shadow: 0 0 0 5px #2977ff1f, 0 0 0 10px #2977ff0c, 0 0 0 15px #2977ff0c, 0 0 0 20px #2977ff00;
  }
}
/* contact and map    */
.contact {
  position: relative;
  align-self: center;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  gap: var(--gap-30);
  @media (max-width: 720px) {
    gap: var(--gap-30) !important;
  }
}
.contactlist {
  position: relative;
  width: calc(100% - 50px);
  display: flex;
  gap: var(--gap-30);
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.contactbox {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
}
.contactheader {
  position: relative;
  display: flex;
  gap: var(--gap-15);
  font-weight: var(--weight-400);
  font-size: var(--font-16);
  color: var(--color-gray);
  text-transform: capitalize;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 720px) {
    font-size: var(--font-14) !important;
  }
}
.contacticon {
  position: relative;

  width: 25px;
  @media (max-width: 720px) {
    width: 20px !important;
  }
}
.contactdetail {
  position: relative;
  display: flex;
  gap: var(--gap-5);
  font-weight: var(--weight-400);
  font-size: var(--font-14);
  color: var(--text-h1);
  text-transform: capitalize;
  width: calc(100% - 40px);
  left: 40px;
  text-align: left;
  @media (max-width: 720px) {
    font-size: var(--font-12) !important;
  }
}
.contactdetail > a {
  text-decoration: none;
  color: var(--color-light-blue);
}
.map {
  position: relative;
  align-self: center;
  width: 100%;
  max-width: 100%;
  height: 360px;
  min-height: 360px;

  @media (max-width: 720px) {
    height: 250px !important;
    min-height: 250px !important;
  }
}
.map > div {
  top: 25px;
  filter: hue-rotate(180deg);
}
/* about us    */
.aboutus {
  position: relative;
  align-self: center;
  width: 100%;
  height: 100px;
  min-height: 100px;
  background-color: var(--color-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  @media (max-width: 720px) {
    height: 70px !important;
    min-height: 70px !important;
  }
}
.aboutusbtn {
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--color-ffffff);
  cursor: pointer;
  text-decoration: none;
  transition: var(--transition1);
  @media (max-width: 720px) {
    font-size: var(--font-10) !important;
  }
}
.aboutusbtn:hover {
  font-weight: var(--weight-400);
}
.aboutustext {
  position: relative;
  gap: var(--gap-5);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--color-ffffff);
  display: flex;
  flex-direction: row;
  width: 345px;
  justify-content: center;
  @media (max-width: 720px) {
    font-size: var(--font-10) !important;
  }
}
