.pageheaders {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  width: 145px;
  margin-inline: 15px;
}
.gooli {
  position: absolute;
  top: 30px;
  margin-inline-end: 35px;
  min-width: 10px;
  min-height: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-light-red);
  animation: pulse-wave 1s infinite;
  box-shadow: 0 0 0 0 var(--color-light-red);
}

.gooli::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--color-light-red);
  animation: wave-border 2s infinite;
  opacity: 0.7;
}

@keyframes pulse-wave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--color-light-red);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 0 8px rgba(255, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
}

@keyframes wave-border {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@media (max-width: 720px) {
  .pageheaders {
    display: none;
  }
  .pageheadersmobile {
    background-color: var(--color-dark-blue);
    border: 1px solid var(--color-dark-blue10);
    animation: var(--bottom08);
    min-width: 56px;
    min-height: 56px;
    width: 56px;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--br50);
    box-shadow: 0px 0px 12px 0px var(--color-dark-blue60);
  }
  .rightmenuicon {
    width: 28px !important;
    height: 28px !important;
  }
}

@media (min-width: 721px) {
  .pageheadersmobile {
    display: none;
  }
}
.hamicon {
  fill: var(--color-ffffff);
  stroke: var(--color-ffffff);
}
.leftmenu {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 30px 10px 30px;
  border-radius: var(--br8);
  align-content: center;
  padding: var(--padding-5);
}
.rightmenu {
  display: flex;
  gap: var(--gap-10);
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--br8);
  align-content: center;
}
.rightmenuicon {
  position: relative;
  width: 20px;
  height: 20px;
}
.rightmenutext {
  position: relative;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  text-transform: capitalize;
  color: var(--color-ffffff);
}
.pageHeaderIcons {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: var(--gap-20);
  justify-content: space-between;
}
.icon {
  position: relative;
  width: 15px;
  height: 25px;
  transition: var(--transition2);
}
.fullscreen,
.notif {
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-blue30);
  border-radius: var(--br8);

  align-content: center;
  padding: var(--padding-5);
}

.refresh:hover .icon {
  transform: scale(1.2);
}
.search:hover .icon {
  transform: scale(1.2);
}
.notif:hover .icon {
  transform: scale(1.2);
}
.fullscreen:hover .icon {
  transform: scale(1.2);
}
.ProfileIcon {
  position: relative;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition3);
}
.ProfileIcon:hover {
  box-shadow: var(--box-shadow);
}
.ProfileIcon:active {
  transform: scale(0.93);
  box-shadow: var(--box-shadow);
}

div .parent {
  display: flex;
  width: 250px;
}

.fullscreen {
  transition: var(--transition3);
}

.fullscreen:hover {
  transform: scale(1.1);
}

.fullscreen svg {
  transition: var(--transition3);
}

.fullscreen:active svg {
  transform: scale(0.9);
}

.notif {
  transition: var(--transition3);
}
.notif:hover {
  transform: scale(1.1);
}

.notif svg {
  transition: var(--transition3);
}

.notif:active svg {
  transform: scale(0.9);
}
