.menu {
  top: 70px;
  right: 0px;
  z-index: 999;
  display: flex;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  justify-content: space-between;
  padding: var(--padding-10);
  box-shadow: var(--box-shadow);
  background: var(--color-white);
  border-radius: var(--br15) 0px var(--br15) var(--br15);
  animation: scale-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  flex-direction: column;
  flex-wrap: nowrap;
  white-space: nowrap;
}
html[dir="rtl"] .menu {
  animation: scale-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  border-radius: 0px var(--br15) var(--br15) var(--br15);
  left: 0px !important;
  right: auto;
}

@keyframes scale-in-right {
  0% {
    transform: scale(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    transform: scale(0);
    transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 0;
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blinkYellow {
  color: var(--color-light-yellow);
  animation: blink 2s infinite;
}

.blinkRed {
  color: var(--color-light-red);
  animation: blink 1s infinite;
}

.profile {
  width: 100%;
  padding: var(--padding-10);
  position: relative;
  display: flex;
  gap: var(--gap-10);
  margin-bottom: 10px;
  transition: var(--transition3);
  align-items: center;
  border-bottom: 1px solid var(--color-gray60);
}

.menuchild {
  width: 100%;
  padding: var(--padding-10);
  position: relative;
  display: flex;
  gap: var(--gap-10);
  border-radius: var(--br10);
  cursor: pointer;
  transition: var(--transition3);
  align-items: center;
}
.menuchild:hover {
  background-color: var(--color-gray10);
}
.menuchild:hover .icon {
  background-color: var(--color-gray30);
}

.icon {
  display: flex;
  position: relative;
  min-height: 40px;
  height: 40px;
  padding: var(--padding-10);
  border-radius: var(--br10);
  width: 40px;
  min-width: 40px;
  transition: var(--transition2);
  background-color: var(--color-gray10);
}

.remainingTime {
  text-align: start;
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  text-transform: capitalize;
  transition: var(--transition3);
}
