.getstart {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-20);
  align-items: center;
}

.button {
  text-wrap: nowrap;
  display: flex;
  color: var(--color-ffffff);
  height: 50px;
  font-size: var(--font-14);
  text-transform: capitalize;
  font-weight: var(--weight-500);
  border: var(--color-dark-blue) 2px solid;
  background-color: var(--color-dark-blue);
  border-radius: var(--br25);
  transition: var(--transition6);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5);
  min-width: 100px;
  width: 100px;
}
.button > span > div > svg > circle {
  stroke: var(--color-ffffff);
}
.button:hover {
  color: var(--color-dark-blue);
  border: var(--color-dark-blue) 2px solid;
  background-color: transparent;
  cursor: pointer;
}

.button svg {
  width: 20px;
  position: relative;
  display: flex;
  stroke: var(--color-ffffff);
  transition: var(--transition6);
}

.button:hover svg {
  transform: translateX(2px);
  stroke: var(--color-dark-blue);
}
.inputcodesection {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--gap-10);
  justify-content: space-between;
}
