.inputcodesection {
  position: relative;
  display: flex;
  width: 100%;

  flex-direction: column;
  gap: var(--gap-20);
  justify-content: space-between;
}

.inputtext {
  text-align-last: left;
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  transition: var(--transition3);
}

.inputtelsection {
  gap: var(--gap-10);
  position: relative !important;

  display: flex !important;
  height: 50px !important;
  color: var(--text-h2) !important;
  border-radius: var(--br8) !important;
  background: var(--color-white) !important;
  border: 1px solid var(--content-box) !important;
  outline: none !important;
  transition: var(--transition3);
  font-size: var(--font-14) !important;
  font-weight: var(--weight-400) !important;
  width: 100% !important;
  text-decoration: none !important;
  align-items: flex-start !important;
}
.inputtelsection:hover {
  border-color: var(--color-dark-blue) !important;
  border-radius: var(--br10) !important;
  color: var(--text-h1) !important;
  text-decoration: none !important;
}
.inputtelsection:focus {
  background: var(--color-white) !important;
  border-color: var(--color-dark-blue) !important;
  border-radius: var(--br10) !important;
  box-shadow: 0 0 0 5px var(--color-dark-blue30) !important;
  color: var(--text-h1) !important;
  transition: var(--transition3);
  text-decoration: none !important;
}
.dropdown {
  margin: 10px 0 0px 0px !important;
  z-index: 999 !important;
  display: flex !important;
  width: fit-content !important;
  max-height: 300px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  position: absolute !important;

  justify-content: space-between !important;
  align-items: flex-start !important;
  padding: 0px var(--padding-10) var(--padding-10) var(--padding-10) !important;
  box-shadow: var(--box-shadow) !important;
  background: var(--color-white) !important;
  color: var(--text-h1);
  border-radius: 0px var(--br15) var(--br15) var(--br15) !important;
  animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  transition: var(--transition2);
}

@keyframes scale-in-tl {
  0% {
    transform: scale(0);

    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);

    transform-origin: 0% 0%;
    opacity: 1;
  }
}

.dropdown li {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  width: 280px !important;
  gap: var(--gap-10) !important;
  border-radius: var(--br10) !important;
  @media (max-width: 480px) {
    width: 200px !important;
  }
}

.dropdown li > .highlight {
  background-color: aqua !important;
}
.dropdown li div {
  margin: 0px !important;
  border-radius: 2px !important;
  scale: 1.1 !important;
}
.dropdown span:nth-child(2) {
  margin: 0px !important;
  color: var(--text-h1) !important;
  font-size: var(--font-14) !important;
  font-weight: var(--weight-400) !important;
  width: 200px !important;
  text-align: left !important;
  text-wrap: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 480px) {
    font-size: var(--font-14) !important;
    font-weight: var(--weight-400) !important;
    width: 120px !important;
  }
}
.dropdown span:nth-child(3) {
  width: 35px !important;
  text-align: left !important;
  margin: 0px !important;
  color: var(--text-h2) !important;
  font-size: var(--font-12) !important;
  font-weight: var(--weight-400) !important;
}
.dropdown li:nth-child(1) {
  padding: var(--padding-10) 0 var(--padding-5) 0px !important;
  background: var(--color-white) !important;
  z-index: 2 !important;
}
.dropdown li:nth-child(1) span {
  display: none !important;
}
.dropdown li:nth-child(1) input {
  position: relative !important;

  display: flex !important;
  height: 30px !important;
  color: var(--text-h2) !important;
  border-radius: var(--br8) !important;
  background: var(--color-white) !important;
  border: 1px solid var(--content-box) !important;
  outline: none !important;
  transition: var(--transition3);
  font-size: var(--font-14) !important;
  font-weight: var(--weight-400) !important;
  width: 100% !important;
  text-decoration: none !important;
  align-items: flex-start !important;
  margin: 0px !important;
  padding: var(--padding-5) var(--padding-10) !important;
}

.dropdown li:nth-child(1) input:hover {
  border-color: var(--color-dark-blue) !important;
  border-radius: var(--br10) !important;
  color: var(--text-h1) !important;
  text-decoration: none !important;
}
.dropdown li:nth-child(1) input:focus {
  background: var(--color-white) !important;
  border-color: var(--color-dark-blue) !important;
  border-radius: var(--br10) !important;
  box-shadow: 0 0 0 5px var(--color-dark-blue30) !important;
  color: var(--text-h1) !important;
  transition: var(--transition3);
  text-decoration: none !important;
}
.dropdown li:nth-child(1):hover {
  background: var(--color-white) !important;
}
.dropdown li:hover {
  background: var(--color-gray30) !important;
  transition: var(--transition2);
  border-radius: var(--br10) !important;
}
.country {
  height: 100% !important;
  width: 0px !important;
  border: 0px !important;
  border-radius: var(--br30) !important;
  background: var(--color-white) !important;
}

.country > div {
  background: transparent !important;
  margin: 1px !important;
  border-radius: var(--br30) !important;

  outline: none !important;
  position: relative !important;
  width: 48px !important;
  height: 48px !important;
  display: flex !important;
  padding: 0px 0px 0px var(--padding-10) !important;
  border-radius: var(--br20) !important;
  justify-content: flex-start;
  align-content: center !important;
  align-items: center !important;
}
.country > div > div > div {
  transition: var(--transition2);
  border-top-color: var(--color-gray) !important;
  border-bottom-color: var(--color-gray) !important;
  border-radius: var(--br10) !important;
}
.inputcodesection > button > div > svg > circle {
  stroke: var(--color-ffffff) !important;
}
