.popupsignup {
  position: fixed;
  max-width: 480px;
  width: calc(100% - 100px);
  aspect-ratio: 1/1;
  box-shadow: var(--box-shadow);
  background-color: var(--background-root);
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  padding: var(--padding-50);
  justify-content: space-between;
  z-index: 117;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @media (max-width: 700px) {
    height: 450px;
    width: calc(100% - 50px) !important;
    padding: var(--padding-30) !important;
    border-radius: var(--br25) !important;
    aspect-ratio: 5/6 !important;
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.closebtn {
  min-width: 25px;
  width: 25px;
  max-width: 25px;
  min-height: 25px;
  height: 25px;
  max-height: 25px;
  position: relative;

  padding: var(--padding-5);
  border-radius: var(--br5);
  border: 1px solid var(--color-gray);
  transition: var(--transition3);
  cursor: pointer;
}

.closebtn:hover {
  box-shadow: 0 0 0 3px var(--color-gray30);
}

.backbtn {
  min-width: 25px;
  width: 25px;
  max-width: 25px;
  min-height: 25px;
  height: 25px;
  max-height: 25px;
  position: relative;
  border-radius: var(--br5);
  transition: var(--transition3);
  cursor: pointer;
}

.backbtn:hover {
  transform: translateX(-10px);
}

.welcometext1 {
  position: relative;
  color: var(--color-dark-blue);
  font-size: var(--font-24);
  font-weight: var(--weight-700);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1px;

  @media (max-width: 700px) {
    font-size: clamp(14px, 5vw, 48px);
  }
}

.welcometext2 {
  margin-top: 15px;
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: capitalize;

  @media (max-width: 700px) {
    font-size: var(--font-12);
  }
}

.resend {
  position: relative;
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-transform: uppercase;
  height: 12px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-items: center;
  width: 100%;
  align-content: space-between;
  justify-content: space-between;
}

.loginsection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-items: flex-start;
  transition: var(--transition3);
}

.nextbtn {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
  background-color: var(--color-dark-blue);

  border-radius: var(--br15);
  color: var(--color-ffffff);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  border: 1px solid var(--color-dark-blue);
  transition: var(--transition3);
  cursor: pointer;
}

.nextbtn:hover {
  box-shadow: 0px 0px 0px 5px var(--color-dark-blue60);
}

.inputtelsection {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--gap-10);
  justify-content: space-between;
}

.inputcodesection {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--gap-10);
  justify-content: space-between;
}

.inputtext {
  text-align-last: left;
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  transition: var(--transition3);
}

.inputtel {
  padding: 0px var(--padding-20);
  letter-spacing: 3px;
  position: relative;

  display: flex;
  height: 50px;
  color: var(--text-h2);
  border-radius: var(--br8);
  background: var(--color-white);
  border: 1px solid var(--content-box);
  outline: none;
  transition: var(--transition3);
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  width: 70%;
  text-decoration: none;
  align-items: flex-start;
  align-content: flex-start;
}

.inputtel:hover {
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
  color: var(--text-h1);
  text-decoration: none;
}

.inputtel:focus {
  background: var(--color-white);
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
  box-shadow: 0 0 0 5px var(--color-dark-blue30);
  color: var(--text-h1);
  transition: var(--transition3);
  text-decoration: none;
}

.inputcode {
  padding: 0px var(--padding-20);
  letter-spacing: 5px;
  position: relative;

  display: flex;
  height: 50px;
  color: var(--text-h2);
  border-radius: var(--br8);
  background: var(--color-white);
  border: 1px solid var(--content-box);
  outline: none;
  transition: var(--transition3);
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  width: 100%;
  text-decoration: none;
  align-items: flex-start;
  align-content: flex-start;
}

.inputcode:hover {
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
  color: var(--text-h1);
  text-decoration: none;
}

.inputcode:focus {
  background: var(--color-white);
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
  box-shadow: 0 0 0 5px var(--color-dark-blue30);
  color: var(--text-h1);
  transition: var(--transition3);
  text-decoration: none;
}

.error {
  position: absolute;
  color: var(--color-dark-red);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  bottom: -25px;
  right: 0px;
}

.googleButton {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--color-dark-blue);
  border-radius: var(--br10);
  background-color: var(--background-root);
  color: var(--text-h1);
  font-size: var(--font-16);
  font-weight: var(--weight-500);
  cursor: pointer;
  transition: var(--transition3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.googleButton:hover {
  background-color: var(--color-dark-blue30);
  border-color: var(--color-dark-blue60);
  box-shadow: var(--box-shadow);
}

.googleButton:active {
  transform: scale(0.98);
}

.googleButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
