.container {
  width: 300px;
  height: auto;
  padding: var(--padding-40) var(--padding-30);
  background-color: var(--color-ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--br15);
  transform: scale(1.5);
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputFieldall {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-10);
}
.inputField {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-5);
}

.inputFieldShake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
.input {
  color: var(--text-h1);
  font-size: var(--font-18);
  font-weight: var(--weight-800);
  max-width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
  border-radius: var(--br10);
  background: transparent;
  border: 1px solid var(--color-gray60);

  overflow: hidden;
  transition: var(--transition2);
  @media (max-width: 700px) {
    font-size: var(--font-14) !important;
    max-width: 40px !important;
    font-weight: var(--weight-400) !important;
  }
}

.inputError {
  border: 1px solid var(--color-dark-red) !important;
  box-shadow: 0px 0px 0px 2px rgba(239, 68, 68, 0.2) !important;
  transition: var(--transition2) !important;
}

.input:hover {
  border: 1px solid var(--color-dark-blue);
  border-radius: var(--br10);
}
.input:focus {
  border: 1px solid var(--color-dark-blue);
  border-radius: var(--br10);
  box-shadow: 0px 0px 0px 5px var(--color-dark-blue30);
}

/* ___.popupsignup___ */

.popupsignup {
  position: fixed;
  max-width: 480px;
  width: calc(100% - 100px);
  aspect-ratio: 1/1;
  gap: var(--gap-30);
  box-shadow: var(--box-shadow);
  background-color: var(--background-root);
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  padding: var(--padding-50);
  justify-content: space-between;
  z-index: 117;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @media (max-width: 700px) {
    height: 450px;
    width: calc(100% - 50px) !important;
    padding: var(--padding-30) !important;
    border-radius: var(--br25) !important;
    aspect-ratio: 5/6 !important;
  }
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.closebtn {
  min-width: 25px;
  width: 25px;
  max-width: 25px;
  min-height: 25px;
  height: 25px;
  max-height: 25px;
  position: relative;

  padding: var(--padding-5);
  border-radius: var(--br5);
  border: 1px solid var(--color-gray60);
  transition: var(--transition3);
  cursor: pointer;
}
.closebtn:hover {
  box-shadow: 0 0 0 3px var(--color-gray30);
}
.backbtn {
  min-width: 35px;
  width: 35px;
  max-width: 35px;
  min-height: 35px;
  height: 35px;
  max-height: 35px;
  position: relative;

  border-radius: var(--br5);
  transition: var(--transition3);
  cursor: pointer;
}
.backbtn:hover {
  transform: translateX(-5px);
}
.welcometext1 {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-20);
  font-weight: var(--weight-800);
  text-transform: capitalize;
  text-align: center;
  @media (max-width: 720px) {
    font-size: var(--font-16);
    font-weight: var(--weight-600);
  }
}
.welcometext2 {
  margin-top: 8px;
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  @media (max-width: 700px) {
    font-size: var(--font-14);
  }
}
.resend {
  position: relative;
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-transform: uppercase;
}
.form {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-items: center;
  width: 100%;
  align-content: space-between;
  justify-content: space-between;
}
.loginsection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-items: flex-start;
  transition: var(--transition3);
}
.nextbtn {
  position: relative;
  width: 100%;
  height: 50px;
  bottom: 0px;
  background-color: var(--color-dark-blue);

  border-radius: var(--br15);
  color: var(--color-ffffff);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  border: 1px solid var(--color-dark-blue);
  transition: var(--transition3);
  cursor: pointer;
}
.nextbtn:hover {
  box-shadow: 0px 0px 0px 5px var(--color-dark-blue60);
}
.inputtelsection {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--gap-10);
  justify-content: space-between;
}
.inputcodesection {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--gap-10);
  justify-content: space-between;
}

.inputtext {
  text-align-last: left;
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  transition: var(--transition3);
}

.inputtel {
  padding: 0px var(--padding-20);
  letter-spacing: 3px;
  position: relative;

  display: flex;
  height: 50px;
  color: var(--text-h2);
  border-radius: var(--br8);
  background: var(--color-white);
  border: 1px solid var(--content-box);
  outline: none;
  transition: var(--transition3);
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  width: 70%;
  text-decoration: none;
  align-items: flex-start;
  align-content: flex-start;
}
.inputtel:hover {
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
  color: var(--text-h1);
  text-decoration: none;
}
.inputtel:focus {
  background: var(--color-white);
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
  box-shadow: 0 0 0 5px var(--color-dark-blue30);
  color: var(--text-h1);
  transition: var(--transition3);
  text-decoration: none;
}

.inputcode {
  padding: 0px var(--padding-20);
  letter-spacing: 5px;
  position: relative;

  display: flex;
  height: 50px;
  color: var(--text-h2);
  border-radius: var(--br8);
  background: var(--color-white);
  border: 1px solid var(--content-box);
  outline: none;
  transition: var(--transition3);
  font-size: var(--font-14);

  font-weight: var(--weight-400);
  width: 100%;
  text-decoration: none;
  align-items: flex-start;
  align-content: flex-start;
}
.inputcode:hover {
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
  color: var(--text-h1);
  text-decoration: none;
}
.inputcode:focus {
  background: var(--color-white);
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
  box-shadow: 0 0 0 5px var(--color-dark-blue30);
  color: var(--text-h1);
  transition: var(--transition3);
  text-decoration: none;
}
.error {
  position: absolute;
  color: var(--color-dark-red);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  bottom: -25px;
  right: 0px;
}
.timer {
  position: relative;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--text-h2);
}

.popupsignup > button > div > svg > circle {
  stroke: var(--color-ffffff) !important;
}
