/* ___5- Media___ */

.Media {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--paddingboxmobile);
  gap: var(--gap-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  animation: var(--top08);
  background-color: var(--color-white);
  border-radius: var(--br20);
  transition: var(--transition3);
  touch-action: pan-y; /* Allow vertical scrolling */
}

@media (max-width: 768px) {
  .Media {
    padding: var(--padding-12) var(--padding-10) var(--padding-10)
      var(--padding-10) !important;
  }
}

.test {
  display: flex;
  white-space: nowrap;
  touch-action: none;
}

.test > div {
  top: 0px !important;
  left: 0px !important;
  position: relative !important;
}

.medialist {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  touch-action: pan-x; /* Allow horizontal scrolling */
}

@media (max-width: 1460px) {
  .thumbnailmediapicture,
  .thumbnailmediasetting,
  .suggestedthumbnailsetting {
    width: 180px !important;
    height: 180px !important;
  }
}

@media (max-width: 1239px) {
  .thumbnailmediapicture,
  .thumbnailmediasetting,
  .suggestedthumbnailsetting {
    width: 160px !important;
    height: 160px !important;
  }
}

@media (max-width: 800px) {
  .thumbnailmediapicture,
  .thumbnailmediasetting,
  .suggestedthumbnailsetting {
    width: 140px !important;
    height: 140px !important;
  }
  .thumbnailiconstg {
    width: 35px !important;
    height: 35px !important;
  }
}

@media (max-width: 530px) {
  .thumbnailmedia {
    padding: var(--padding-5) !important;
  }
  .thumbnailmediasetting {
    padding: var(--padding-8) !important;
    margin: 5px !important;
  }
  .suggestedthumbnailsetting {
    padding: var(--padding-8) !important;
  }
}

.medialist::-webkit-scrollbar {
  display: block !important;
}

.thumbnailmediaswiper {
  width: 100%;
  display: flex;
  flex-direction: row;
  touch-action: none;
}

.thumbnailmedia {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  padding: var(--padding-10);
  height: max-content;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  touch-action: none;
}

html[dir="rtl"] .thumbnailmedia {
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-100px);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(100px);
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}

.thumbnailmedia:hover .thumbnailmediapicture {
  box-shadow: 0px 0px 0px 4px var(--color-gray30);
}

.thumbnailmediasuggested {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  padding: var(--padding-10);
  height: max-content;
  touch-action: none;
}

.thumbnailmediasuggested:hover .thumbnailmediapicture {
  box-shadow: 0px 0px 0px 4px var(--color-gray30);
}

.thumbnailmediapicture {
  background-color: var(--color-gray30);
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: var(--br20);
  border: 3px solid transparent;
  transition: var(--transition3);
  aspect-ratio: 1/1;
  touch-action: none;
}

.thumbnailmediainfo {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  justify-content: left;
  align-items: center;
}

.pictureorder {
  border: 1px solid var(--color-gray30);
  background-color: transparent;
  min-width: 35px;
  height: 30px;
  display: flex;
  color: var(--color-gray60);
  border-radius: var(--br10);
  padding: var(--paddingtag);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition2);
  touch-action: none;
}

.pictureorder:hover {
  border: 1px solid var(--color-gray);
}

.pictureorderfalse:hover {
  border: 1px solid var(--color-gray);
}

.pictureorderfalse {
  min-width: 35px;
  height: 30px;
  display: flex;
  border: 1px solid var(--color-gray60);
  background-color: var(--color-gray30);
  color: var(--text-h1);
  border-radius: var(--br10);
  padding: var(--paddingtag);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition2);
  touch-action: none;
}

.thumbnailmediasetting,
.suggestedthumbnailsetting {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / 1;
  display: flex;
  padding: var(--padding-10);
  margin: 10px;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
  touch-action: none;
}

.thumbnailicon {
  padding: var(--padding-5);
  width: min-content;
  height: 30px;
  background-color: var(--color-black80);
  backdrop-filter: blur(5px);
  border-radius: var(--br10);
  touch-action: none;
}

.thumbnailiconstg {
  padding: var(--padding-8);
  background-color: var(--color-black80);
  backdrop-filter: blur(10px);
  border-radius: var(--br10);
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  transition: var(--transition2);
  cursor: pointer;
  touch-action: none;
}

.thumbnailiconstg:hover {
  border: 1px solid var(--color-gray);
}

.thumbnailmediabtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  align-items: center;
  justify-content: center;
}

.uploadmedia {
  width: 100%;
  border: 1px dashed var(--color-gray60);
  padding-block: 10px;
  max-height: 500px;
  height: 100%;
  border-radius: var(--br25);
  display: flex;
  flex-direction: column;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: var(--transition3);
  cursor: pointer;
  gap: var(--gap-10);
  touch-action: none;
}

.uploadmedia:hover {
  background-color: var(--color-gray10);
}

.moveselect {
  position: relative;
  top: -10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2);
  touch-action: none;
}

.move {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.move svg {
  transition: var(--transition2);
  pointer-events: none;
}

/* Desktop styles */
@media (hover: hover) {
  .move:hover svg {
    scale: 1.3;
  }

  .move:hover {
    cursor: grab;
  }

  .move:active {
    cursor: grabbing;
  }
}

/* Mobile styles */
@media (hover: none) {
  .move:active svg {
    scale: 1.3;
  }
}

.popupContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 120;
  transition: var(--transition3);
  border-radius: var(--br25);
  background: var(--color-white);
  justify-content: space-between;
  max-width: calc(100% - 40px);
  max-height: calc(100% - 40px);
  gap: var(--gap-5);
  padding: var(--padding-5);
  width: 500px;
  aspect-ratio: 1/1;
  min-width: 250px;
  animation: var(--fadeIn3);
}

.closeButton {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: var(--transition2);
  touch-action: none;
}

.profileimagebig {
  position: relative;
  border-radius: var(--br15);
  width: 100%;
  aspect-ratio: 1/1;
}

.popupContent img {
  object-fit: contain;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--br8);
}

/* ___suggstion___ */
.suggestedmedia {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--br20);
  background-color: var(--color-gray10);
  transition: var(--transition3);
  overflow-x: scroll;
  justify-content: flex-start;
  cursor: pointer;
  touch-action: pan-x; /* Allow horizontal scrolling */
}

.uploadmedianew {
  width: 100%;
  height: 200px;
  aspect-ratio: 1 / 1;
  border: 1px dashed var(--color-gray60);
  padding: var(--padding-5);
  border-radius: var(--br25);
  display: flex;
  flex-direction: column;
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: var(--transition3);
  cursor: pointer;
  gap: var(--gap-10);
  touch-action: none;
}

.uploadmedianew:hover {
  background-color: var(--color-gray10);
}

.fadedUpload {
  opacity: 0.3;
  cursor: not-allowed;
  background-color: var(--color-gray30);
  pointer-events: none;
}

.selectedMask {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  transform: translate(12px, 12px);
  background-color: var(--color-black80);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--br20);
  animation: var(--fadeIn3);
}
