/* ___general___ */

.headerTab {
  position: sticky;
  height: 80px;
  top: 0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: +100;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: var(--font-16);
  color: var(--text-h1);
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-20);
}

@media (max-width: 720px) {
  .left {
    max-width: 100% !important;
    padding: 20px 18px 0px 18px !important;
    max-height: calc(100% - 20px) !important;
  }
  .right {
    min-width: 250px !important;
    padding: var(--padding-5) var(--padding-10) var(--padding-16) var(--padding-10) !important;
    z-index: 20;
    max-height: calc(100% - 20px);
  }
  .username {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
  .messagetext {
    font-size: var(--font-10) !important;
    font-weight: var(--weight-400) !important;
  }
}

.left {
  display: flex;
  gap: var(--gap-20);
  position: relative;
  padding: var(--paddingbox);
  grid-row-end: span 82;
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  min-width: 250px;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  justify-content: flex-start;
}

.right {
  display: flex;
  position: relative;
  padding: var(--padding-5) var(--padding-20) var(--padding-20) var(--padding-20);
  grid-row-end: span 82;
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  width: 100%;
  min-width: 400px;
  flex-direction: column;
  justify-content: space-between;
}
.right:hover {
  box-shadow: var(--box-shadow);
}
.disableRight:hover {
  box-shadow: var(--box-shadow);
}
.left:hover {
  box-shadow: var(--box-shadow);
}
.disableRight {
  display: flex;
  position: relative;
  /* margin: 10px 0px 10px 0px; */
  padding: var(--paddingbox);
  grid-row-end: span 82;
  border-radius: var(--br25);
  gap: var(--gap-30);
  background-color: var(--color-white);

  font-size: var(--font-16);
  transition: var(--transition3);
  color: var(--text-h1);
  font-weight: var(--weight-800);
  width: 100%;
  min-width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.disableRightimage {
  display: flex;
  max-width: 500px;
  font-size: var(--font-16);
  font-weight: var(--weight-400);
  color: var(--text-h2);
}
/* ___left___ */
.search {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  align-items: center;
  justify-content: space-between;
}
.searchicon {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: var(--br10);
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: var(--transition3);
}
.searchbox {
  position: relative;
  display: flex;
  width: calc(100% - 100px);
}

.readandunread {
  position: relative;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  border: 1px solid var(--color-gray60);
  border-radius: var(--br10);
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition3);
}
.readandunread:hover {
  border: 1px solid var(--color-dark-blue);
}
.readandunread:active {
  border: 1px solid var(--color-dark-blue);
  box-shadow: 0 0 0 4px var(--color-disable);
}
.eyeIcon {
  position: relative;
  width: 20px;
  height: 20px;
  fill: var(--color-gray);
  transition: var(--transition3);
}

.readandunread:hover .eyeIcon {
  fill: var(--color-light-blue);
}

.userslist {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--gap-8);
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  animation: var(--top04);
}
.userslist > div {
  animation: var(--top04);
}
.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--paddingbox);
  margin: 20px 0;
  text-align: center;
  height: 200px;
  animation: var(--top04);
}

.emptyStateText {
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  color: var(--text-h2);
  line-height: 1.5;
}
.ticket {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition2);
  cursor: pointer;
}

.pictureIcon {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 50px;
  z-index: 1;
  height: 50px;
}
.onlinering {
  justify-content: center;

  align-items: center;
  display: flex;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: var(--color-gray30);
}
.gooli {
  position: absolute;
  min-width: 54px;
  min-height: 54px;
  width: 54px;
  height: 54px;
  border-radius: 50%;

  background-color: var(--color-light-green);
}
.profile {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 70px;
  width: 100%;
  max-width: 200px;
  justify-content: space-between;
  align-items: flex-start;
}

.username {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 180px;
  width: 100%;
  min-height: 18px;
  white-space: nowrap;
  overflow: hidden;
}
.messagetext {
  position: relative;
  color: var(--text-h2);
  text-align: center;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-overflow: ellipsis;
  max-width: 180px;
  width: 100%;
  min-height: 18px;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
}
.ticketid {
  position: relative;
  color: var(--text-h2);
  text-align: center;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: var(--gap-1);
  min-height: 16px;
  align-items: center;
}
.notifbox {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  min-width: 60px;
  width: 100%;
  max-width: 60px;
  align-items: center;
  justify-content: space-evenly;
}
.settingbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5);
  width: 100%;
  height: 20px;
}
.chattime {
  position: relative;
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  text-wrap: nowrap;
}
.ticketdetails {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-5);
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.closed {
  text-align: center;
  position: relative;
  background-color: var(--color-gray30);
  color: var(--text-h2);
  font-size: var(--font-10);
  font-weight: var(--weight-400);
  padding: 1px var(--padding-5) 1px var(--padding-5);
  border-radius: var(--br5);
  text-overflow: ellipsis;
  max-width: 180px;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
}
.new {
  border-radius: var(--br10);
  background-color: var(--color-dark-blue);
  padding: var(--padding-2) var(--padding-8);
  overflow: hidden;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  color: var(--color-white);
}
.user {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition2);
  cursor: pointer;
}
.userbackground {
  position: relative;
  display: flex;
  flex-direction: row;

  padding: var(--padding-10);
  align-items: center;
  justify-content: space-between;
  transition: var(--transition2);
}
.userbackground:hover {
  background: var(--color-gray10);
  border-radius: var(--br15);
}
.selectedUserbackground {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10);
  align-items: center;
  justify-content: space-between;
  transition: var(--transition2);
  background: var(--color-gray30);
  border-radius: var(--br15);
}

/* ___dragDropSidebar___ */

.showDiv {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  animation: showMe 0.5s forwards;
  border-radius: var(--br5);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  height: 100%;
}
.moresetting {
  position: absolute;
  display: flex;
  background-color: var(--color-white);
  right: 0px;
  height: 100%;
  align-items: center;
}
.showDiv:hover .dragicon {
  transform: scale(1.1);
  fill: var(--color-dark-blue);
}
.dragicon {
  fill: var(--color-gray);
  transition: var(--transition2);
}
.hide {
  opacity: 0;
  width: 0px;
}
.hideDiv {
  animation: hideMe 0.5s forwards;
}

.pinDrag {
  list-style: none;
  overflow: hidden;
  background-color: var(--color-gray);

  height: "46px";
  width: 250px;
  text-align: center;
  border-bottom: 5px solid var(--color-gray60);
  display: block;
  color: var(--text-h1);
  text-decoration: none;
  padding: var(--padding-10);
  margin-right: 5px;
}

@keyframes showMe {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 50px;
    opacity: 1;
  }
}

@keyframes hideMe {
  from {
    opacity: 1;
    width: 50px;
  }
  to {
    opacity: 0;
    width: 0px;
  }
}
.closebtn {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;

  border-radius: var(--br5);
  background-color: var(--color-gray30);
  border: 2px solid var(--color-gray);
  top: 15px;
  right: 15px;
  padding: var(--padding-5);
  transition: var(--transition2);
}
.closebtn:hover {
  border: 2px solid var(--color-gray);
  background-color: var(--color-gray);
}
.profileimagebig {
  position: relative;

  border-radius: var(--br15);
  width: 100%;
  aspect-ratio: 1/1;
}
/* ___end___ */
.pictureprofile {
  width: 100%;
  object-fit: contain;
  height: 100%;
  border-radius: var(--br20);
}
