.frameContainer {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: var(--font-14);
  color: var(--background-root);
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
  overflow-x: hidden;
  overflow-y: scroll;
}
.frameContainer {
  max-height: 0;
  opacity: 0;
  transition: var(--transition6);
}

.frameContainer.show {
  max-height: 100%;
  opacity: 1;
}
.customstyle {
  position: relative;
  width: 100%;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: var(--gap-20);
  justify-content: space-between;
  align-items: center;
}

.groupWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--gap-10);
}
.imageProfile {
  background-color: var(--color-gray10);
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.profileParent {
  max-width: 150px;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5);
  justify-content: center;
  @media (max-width: 380px) {
    max-width: 110px;
  }
}
.followbuttonParent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5);
  justify-content: center;
}

.name {
  color: var(--text-h1);
  text-align: left;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 150px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  @media (max-width: 480px) {
    max-width: 110px;
  }
}
.username {
  color: var(--text-h2);
  text-align: left;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 150px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  @media (max-width: 480px) {
    max-width: 110px;
  }
}
.hoursAgo {
  color: var(--text-h2);
  text-align: center;
  font-size: var(--font-12);
  font-weight: var(--weight-400);
}

.closebtn {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;

  transition: var(--transition2);
}

.profileimagebig {
  position: relative;

  border-radius: var(--br15);
  width: 100%;
  aspect-ratio: 1/1;
}
