.contactBox {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-content: space-between;
  flex-direction: column;
  gap: var(--gap-20);
}
.frameContainer {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.5s ease;
}
.frameContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
  position: relative;
  width: 100%;
  height: 100%;
  font-size: var(--font-14);
  color: var(--text-h1);
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.5s ease;
}
.show {
  max-height: 580px;
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.5s ease;
}
.groupWrapper {
  gap: var(--gap-50);
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.orderinfo {
  cursor: pointer;
  height: 70px;
  width: 100%;
  display: flex;
  gap: var(--gap-10);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.section {
  display: flex;
  gap: var(--gap-10);
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.orderid {
  color: var(--color-light-blue);
  font-size: var(--font-14);
  text-align: start;
  font-weight: var(--weight-400);
  transition: var(--transition3);
  @media (max-width: 800px) {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
}
.price {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  transition: var(--transition3);
  display: flex;
  align-items: center;
  gap: var(--gap-5);
  flex-direction: row;
  @media (max-width: 800px) {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
}
.date {
  color: var(--text-h2);
  font-weight: var(--weight-400);
  position: relative;
  text-align: center;
  min-width: 85px;
  transition: var(--transition3);
  @media (max-width: 800px) {
    min-width: 75px !important;
  }
}

.day {
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  transition: var(--transition3);
  @media (max-width: 800px) {
    font-size: var(--font-12) !important;
    font-weight: var(--weight-400) !important;
  }
}
.hour {
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  transition: var(--transition3);
  @media (max-width: 800px) {
    font-size: var(--font-10) !important;
  }
}
