.contactBox {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-content: space-between;
  flex-direction: column;
  gap: var(--gap-20);
}

.frameContainer {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
  position: relative;
  width: 100%;
  height: 100%;
  font-size: var(--font-14);
  color: var(--text-h1);
}
.frameContainer {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.frameContainer.show {
  max-height: 100%;
  opacity: 1;
}
.customstyle {
  width: 100%;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: var(--gap-20);
  justify-content: space-between;
  align-items: center;
}

.groupWrapper {
  column-gap: var(--br10);
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.profile {
  width: 55px;
  display: flex;
  row-gap: var(--gap-10);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.imageProfile {
  background-color: var(--color-gray10);
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.replyicon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: var(--transition2);
}
.replyicon:hover {
  transform: scale(1.2);
}
.replyicon:active {
  transform: scale(0.98);
}
.optionwrapper {
  display: flex;
  width: 100%;
  row-gap: var(--gap-5);
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
}
.profileuser {
  height: 20px;
  gap: var(--gap-10);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.username {
  max-width: 100px;
  width: 100%;
  color: var(--text-h1);
  text-align: left;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 150px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  @media (max-width: 480px) {
    max-width: 110px;
  }
}

.message {
  text-align: left;
  color: var(--text-h2);
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 265px;
  width: 100%;
  height: 100%;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
}
.ticket,
.direct,
.comment,
.unknown {
  padding: var(--paddingtag);
  border-radius: var(--br5);
  font-size: var(--font-12);
  font-weight: var(--weight-500);
  min-width: 60px;

  text-align: center;
}
.ticket {
  color: var(--color-purple);
  background-color: var(--color-purple30);
}
.direct {
  color: var(--color-light-blue);
  background-color: var(--color-light-blue30);
}
.comment {
  color: var(var(--color-firoze));
  background-color: var(--color-firoze30);
}
.unknown {
  color: var(--color-light-red);
  background-color: var(--color-light-red30);
}

.closebtn {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;

  transition: var(--transition2);
}

.profileimagebig {
  position: relative;
  border-radius: var(--br15);
  width: 100%;
  aspect-ratio: 1/1;
}
