.content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--gap-30);
  padding: var(--padding-5);
  overflow-y: auto;
  overflow-x: hidden;
  animation: var(--top04);
  transition: var(--transition3);
}

.optioncontainer {
  background-color: var(--color-gray30);
  border-radius: var(--br5) var(--br15) var(--br15) var(--br15);
  padding: var(--padding-10);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-15);
  transition: var(--transition3);
  animation: var(--top04);
}
html[dir="rtl"] .optioncontainer {
  border-radius: var(--br15) var(--br5) var(--br15) var(--br15);
}

.wordpool {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-10);
  min-height: 90px;
  max-height: 120px;
  overflow-y: auto;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.specificword {
  color: var(--text-h1);
  font-weight: var(--weight-400);
  font-size: var(--text-14);
  transition: var(--transition3);
  border-radius: var(--br8);
  padding: var(--paddingtag);
  display: flex;
  align-items: center;
  gap: var(--gap-5);
  background-color: var(--color-dark-blue30);
}
html[dir="rtl"] .specificword {
  flex-direction: row-reverse;
}

.headertitle {
  position: relative;
  text-align: left;
  color: var(--text-h1);
  font-weight: var(--weight-600);
  font-size: var(--font-14);
  text-transform: capitalize;
}

.replyMethodOptions {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  padding-inline-start: var(--padding-20);
  animation: var(--top04);
}
.replyMethodOptions > label > span {
  font-weight: var(--weight-400);
  font-size: var(--font-12);
}
