.taskpopup {
  position: fixed;
  align-items: center;
  max-width: 400px;
  width: calc(100% - 40px);
  max-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1 / 1;
  gap: var(--gap-20);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: var(--br25);
  display: flex;
  flex-direction: column;
  padding: var(--paddingbox);
  justify-content: space-between;
  z-index: 117;
  animation: var(--fadeIn4);
}
@media (max-width: 500px) {
  .taskpopup {
    padding: var(--paddingboxmobile) !important;
  }
}

.title {
  position: relative;
  width: 100%;
  font-size: var(--font-16);
  font-weight: var(--weight-600);
  color: var(--text-h1);
  text-align: left;
  text-transform: capitalize;
}

.file {
  gap: var(--gap-10);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.image {
  max-height: 200px;
  width: 100%;
  border-radius: var(--br5);
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  border: 1px solid var(--box-border);
}

.detail {
  display: flex;
  gap: var(--gap-20);
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.name {
  position: relative;
  text-align: center;
  color: var(--text-h2);
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  line-height: 18px;
}
.size {
  position: relative;
  align-self: center;
  max-width: fit-content;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-800);
  background-color: var(--color-gray30);
  padding: var(--paddingtag);
  border-radius: var(--br8);
}
.discription {
  gap: var(--gap-20);
  width: 80%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.title1 {
  position: relative;
  width: 100%;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  color: var(--text-h2);
  text-align: left;
  left: 10px;
  text-transform: capitalize;
}
.textarea {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0px var(--br10) var(--br10) var(--br10);
  border: 1px solid var(--content-box);
  border-radius: var(--br8);

  padding: var(--padding-5) var(--padding-16);
  position: relative;
  display: flex;
  color: var(--text-h2);
  background: var(--color-white);
  outline: none;
  transition: var(--transition3);

  font-size: var(--font-14);

  font-weight: var(--weight-400);
}

.textarea:hover {
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
}

.textarea:focus {
  background: var(--color-white);
  border-color: var(--color-dark-blue);
  border-radius: var(--br10);
  box-shadow: 0 0 0 5px var(--color-dark-blue30);
  color: var(--text-h1);
  transition: var(--transition3);
}

.textarea:active {
  transform: scale(0.99);
}

.textarea::placeholder {
  color: var(--text-h2);
}

.textarea:focus::placeholder {
  color: var(--text-h2);
  transition: var(--transition3);
}
