.content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--gap-30);
  padding: var(--padding-5);
  overflow-y: auto;
  overflow-x: hidden;
}

.optioncontainer {
  background-color: var(--color-gray30);
  border-radius: var(--br5) var(--br15) var(--br15) var(--br15);
  padding: var(--padding-10);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-15);
  transition: var(--transition3);
  animation: var(--top04);
}
html[dir="rtl"] .optioncontainer {
  border-radius: var(--br15) var(--br5) var(--br15) var(--br15);
}
