.popupsignup {
  position: fixed;
  max-width: 400px;
  width: calc(100% - 100px);
  max-height: 400px;
  aspect-ratio: 1/1;
  gap: var(--gap-30);
  box-shadow: var(--box-shadow);
  background-color: var(--background-root);
  border-radius: var(--br50);
  display: flex;
  flex-direction: column;
  padding: var(--padding-50);

  justify-content: space-between;
  z-index: 117;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @media (max-width: 480px) {
    padding: var(--padding-30);
    border-radius: var(--br25);
  }
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.closebtn {
  min-width: 25px;
  width: 25px;
  max-width: 25px;
  min-height: 25px;
  height: 25px;
  max-height: 25px;
  position: relative;

  padding: var(--padding-5);
  border-radius: var(--br5);
  border: 1px solid var(--color-gray60);
  transition: var(--transition3);
  cursor: pointer;
}
.closebtn:hover {
  box-shadow: 0 0 0 3px var(--color-gray30);
}
.form {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-8);
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  align-items: center;
  width: 100%;
  align-content: space-between;
  justify-content: space-between;
}
.welcometext1 {
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-18);
  font-weight: var(--weight-800);
  text-transform: capitalize;
}
.welcometext2 {
  margin-top: 8px;
  position: relative;
  color: var(--text-h1);
  font-size: var(--font-14);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  @media (max-width: 700px) {
    font-size: var(--font-12);
  }
}
