/* ___responsive mobile___ */

@media (max-width: 600px) {
  .tableheaderparent {
    display: none !important;
  }
  .noproducttext {
    font-size: var(--font-18) !important;
    line-height: 20px !important;
  }
}

@media (max-width: 460px) {
  .pincontainer {
    padding: var(--paddingboxmobile) !important;
  }

  .pincontainer > div:first-child > a > span {
    display: none !important;
  }
  .pincontainer > div:first-child > a {
    width: 48px !important;
    height: 48px !important;
    min-width: 48px !important;
    min-height: 48px !important;
    border-radius: var(--br10) !important;
  }
}

/* ___general___ */
.pincontainer {
  justify-content: center;
  height: 100%;
  max-height: calc(100% - 100px);
  width: calc(100% - 130px);
  margin-inline: 20px;
  min-width: 250px;
  top: 80px;
  display: flex;
  column-gap: var(--gap-20);
  position: fixed;
  animation: var(--bottom08);
  border-radius: var(--br25);
  transition: var(--transition3);
  background-color: var(--color-white);
  padding: var(--paddingbox);
  font-size: var(--font-12);
  color: var(--text-h1);
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: 720px) {
    margin-inline: 10px;
    width: calc(100% - 20px) !important;
    top: 80px !important;
    max-height: calc(100% - 90px) !important;
  }
}

.pincontainer:hover {
  box-shadow: var(--box-shadow);
}

.menubtn {
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: var(--color-gray30);
  border-radius: var(--br10);
  transition: var(--transition2);
  display: flex;
  padding: var(--padding-10);
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}
.menubtn:hover {
  border: 1px solid var(--color-gray);
}

.searchmenubtn {
  cursor: pointer;
  width: 48px;
  padding: var(--padding-10);
  height: 48px;
  background-color: var(--color-gray30);
  border-radius: var(--br10);
  transition: var(--transition2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}
.searchmenubtn:hover {
  border: 1px solid var(--color-gray);
}
.searchBar {
  position: relative;
  min-width: 48px;
  height: 48px;
}
.serachMenuBar {
  position: relative;
  top: 5px;
  width: 250px;
  animation: expandSearchBar 0.3s ease-in-out;
  transform-origin: right;
}

html[dir="rtl"] .serachMenuBar {
  transform-origin: left;
}

.searchBarClosing {
  animation: collapseSearchBar 0.3s ease-in-out forwards;
}

@keyframes expandSearchBar {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 250px;
    opacity: 1;
  }
}

@keyframes collapseSearchBar {
  from {
    width: 250px;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

.shake {
  animation: shake 0.9s both;
}
@keyframes shake {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.reddotnonproduct {
  padding: 1px 5px;
  min-width: 20px;
  background-color: var(--color-light-red);
  color: var(--color-ffffff);
  font-size: var(--font-12);
  font-weight: var(--weight-400);
  position: absolute;
  border-radius: var(--br8) var(--br8) var(--br8) 2px;
  margin-inline-start: 50px;
  top: -5px;
  animation: var(--bottom08);
  @media (max-width: 460px) {
    font-size: var(--font-10) !important;
    margin-inline-start: 40px;
  }
}
html[dir="rtl"] .reddotnonproduct {
  border-radius: var(--br8) var(--br8) 2px var(--br8);
  margin-inline-start: 50px;
  left: auto !important;
  @media (max-width: 460px) {
    font-size: var(--font-10) !important;
    margin-inline-start: 40px;
  }
}

.reddot {
  padding: 1px 5px;
  min-width: 20px;
  background-color: var(--color-light-red);
  color: var(--color-ffffff);
  font-weight: var(--weight-400);
  position: absolute;
  border-radius: var(--br8) var(--br8) var(--br8) 2px;
  margin-inline-start: 50px;
  top: -5px;
  animation: var(--bottom08);
  @media (max-width: 460px) {
    font-size: var(--font-10) !important;
    margin-inline-start: 40px !important;
  }
}
html[dir="rtl"] .reddot {
  border-radius: var(--br8) var(--br8) 2px var(--br8);

  @media (max-width: 460px) {
    font-size: var(--font-10) !important;
    margin-inline-start: 40px !important;
  }
}

.activeFilter {
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue30);
}
.activeFilter > svg > path {
  fill: var(--color-dark-blue);
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.searchnotfound {
  width: 100%;
  height: 500px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  font-size: var(--font-14);
  font-weight: var(--weight-600);
  color: var(--text-h2);
}
.loader {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
/* ___ no product ___ */
.noproductcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
.noproduct {
  padding-inline: 50px;

  position: relative;
  width: 100%;
  max-width: 500px;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: var(--gap-20);
}
.noproducticon {
  position: relative;

  width: 100%;
  max-width: 200px;
}
.noproducttext {
  position: relative;
  font-size: var(--font-20);
  font-weight: var(--weight-600);
  line-height: 30px;
  color: var(--color-light-red);
}
.noproducttextdiscription {
  position: relative;
  font-size: var(--font-12);
  font-weight: var(--weight-600);
  color: var(--text-h2);
}

/* ___table Header___ */
.tableheaderparent {
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-gray30);
  background-color: var(--color-gray30);
  border-radius: var(--br20);
  transition: var(--transition2);
  gap: var(--gap-15);
  padding: var(--padding-8);
  color: var(--text-h2);
  min-height: 45px;
  max-height: 45px;
  text-align: center;
  font-weight: var(--weight-600);
  align-items: center;
}

.productlist {
  border-radius: var(--br20) var(--br20) 0px 0px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.productlistmobile {
  margin-inline: 1px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: var(--gap-10);
}
.headername {
  min-width: 205px;
  justify-content: start !important;
}
.headername > label > span {
  display: none;
}
.headername,
.headerproductid,
.headerprice,
.headerincart,
.headerlastmodified,
.headerweight,
.headersize,
.headercolor,
.headerstock,
.headeractive {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.headerproductid {
  min-width: 45px;
  max-width: 45px;
}
.headerprice {
  min-width: 95px;
  max-width: 95px;
}
.headerincart {
  min-width: 60px;
  max-width: 60px;
}
.headerlastmodified {
  min-width: 80px;
  max-width: 80px;
}
.headerweight {
  min-width: 60px;
  max-width: 60px;
}
.headersize {
  min-width: 85px;
  max-width: 85px;
}
.headercolor {
  min-width: 85px;
  max-width: 85px;
}
.headerstock {
  min-width: 45px;
  max-width: 45px;
}
.headeractive {
  min-width: 145px;
  width: 100%;
  max-width: 145px;
}

/* Stock classes shared */
.lowStock {
  background-color: var(--color-dark-red30);
  color: var(--color-dark-red);
}
.mediumStock {
  background-color: var(--color-dark-yellow30);
  color: var(--color-dark-yellow);
}
.highStock {
  background-color: var(--color-dark-green30);
  color: var(--color-dark-green);
}

/* Status classes shared */
.status_child {
  justify-content: flex-end;
  display: flex;
  gap: var(--gap-5);
}
.status_draft,
.status_available,
.status_restocking,
.status_outofstock,
.status_stopped,
.status_unavailable {
  width: 100%;
  display: flex;
  gap: var(--gap-5);
  align-items: center;
  justify-content: center;
  padding: var(--padding-5);
  font-weight: var(--weight-400);
  text-align: center;
  font-size: var(--font-14);
  border-radius: var(--br8);
  text-wrap: nowrap;
  line-height: 20px;
  border: 1px solid transparent;
  transition: var(--transition2);
}
.status_draft {
  background-color: var(--color-light-yellow30) !important;
  color: var(--color-dark-yellow) !important;
  height: 30px !important;
  padding: var(--padding-5) !important;
  border-radius: var(--br8) !important;
  flex-direction: row !important;
}
.status_available {
  background-color: var(--color-light-green30);
  color: var(--color-light-green);
}
.status_restocking {
  background-color: var(--color-light-blue30);
  color: var(--color-light-blue);
}
.status_outofstock {
  background-color: var(--color-light-red30);
  color: var(--color-light-red);
}
.status_stopped {
  background-color: var(--color-gray30);
  color: var(--color-gray);
}

/* Product body for header */
.productbody {
  position: relative;
  display: flex;
  gap: var(--gap-15);
  min-width: 300px;
  width: 100%;
  max-width: 430px;
  align-items: center;
}
