/* ___main container___ */
.maincontainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* scroll-behavior: smooth; - حذف شده برای جلوگیری از اسکرول خودکار */
  scroll-snap-stop: always;
  align-items: center;
}

/* ___page styles___ */
.page1 {
  line-height: normal;
  color: var(--text-h1);
  scroll-snap-align: start;
  position: relative;
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: var(--gap-50);
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, var(--color-gray60) 1px, transparent 1px),
    linear-gradient(to right, var(--color-gray60) 1px, transparent 1px);
  background-size: 80px 80px;
}

.page1::before {
  content: " ";
  position: absolute;
  background-color: transparent;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    ellipse at center,
    transparent 0%,
    var(--background-root) 75%,
    var(--background-root) 100%
  );
}
