html[dir="rtl"] .backicon {
  right: 20px;
  left: auto;
}

.pincontainer {
  padding-top: 10px;
  justify-content: center;
  height: 100%;
  max-height: calc(100% - 100px);
  width: calc(100% - 130px);
  margin-inline: 20px;
  min-width: 250px;
  top: 80px;
  display: flex;
  -moz-column-gap: var(--gap-20);
  column-gap: var(--gap-20);
  position: fixed;
  animation: var(--bottom14);
  transition: var(--transition3);
}

@media (max-width: 720px) {
  .pincontainer {
    width: calc(100% - 40px) !important;
    /* left: 10px !important; */
    top: 100px !important;
  }
}
.all {
  display: flex;
  position: relative;
  grid-row-end: span 82;
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  color: var(--text-h1);
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: var(--bottom08);
  transition: var(--transition3);
}
.all:hover {
  box-shadow: var(--box-shadow);
}

.backicon {
  background-color: var(--color-dark-blue30);
  width: 30px;
  padding: var(--padding-5);
  height: 30px;
  border-radius: var(--br10);
  cursor: pointer;
  transition: var(--transition3);
  border: 1px solid transparent;

  position: absolute;
  left: 20px;
  top: 15px;
  z-index: 20;
}
.backicon:hover {
  border: 1px solid var(--color-dark-blue);
}
