@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }
}

.inboxContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  position: relative;
  width: calc(100% - 40px);
  margin-inline: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  gap: var(--gap-15);
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-animation: fadeIn 0.8s both;
  -moz-animation: fadeIn 0.8s both;
  -o-animation: fadeIn 0.8s both;
  animation: fadeIn 0.8s both;
  margin-bottom: 10px;
}

@media (max-width: 950px) {
  .followers,
  .lastPost,
  .newlikes,
  .newCommnet,
  .postrequest {
    width: 180px !important;
    height: 180px !important;
    padding: var(--padding-8) !important;
  }
}
@media (max-width: 450px) {
  .overview {
    padding: var(--paddingboxmobile) !important;
  }
  .followers,
  .lastPost,
  .newlikes,
  .newCommnet,
  .postrequest {
    width: 150px !important;
    height: 150px !important;
    padding: var(--padding-5) !important;
  }
  .div {
    font-size: var(--font-20) !important;
  }
  .title {
    font-size: var(--font-12) !important;
  }
}

.followers {
  padding: var(--padding-10) !important;
  gap: var(--gap-15);
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--br25);
  width: 185px;
  height: 185px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-12);
}
.animation1,
.animation2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
.animation1 {
  animation: 60s move linear infinite;
}
.animation2 {
  animation: 50s move linear infinite;
}
.animation1::before,
.animation2::before {
  content: "";
  position: absolute;
  top: -300px;
  right: -300px;
  bottom: -300px;
  left: -300px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #2ff2eb -97.5deg,
    #1761ff 14.05deg,
    #4545ff 54.01deg,
    #8000ff 113.42deg,
    #ff2c8e 185.62deg,
    #ffa133 262.5deg,
    #979797 374.05deg
  );
  filter: blur(100px) brightness(1.3);
}
.animation1::before {
  animation: 45s move linear infinite;
}
.animation2::before {
  animation: 30s move linear infinite;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gooli1,
.gooli5 {
  border-radius: var(--br100);
  filter: blur(20px);
  background-color: #2ff2eb;
  position: absolute;
  right: 0;
  top: 10px;
  height: 70px;
  width: 70px;

  display: flex;
}
.gooli1 {
  animation: gooli1 16s infinite ease-in-out;
}
.gooli5 {
  animation: gooli2 16s infinite ease-in-out;
}

.gooli2,
.gooli6 {
  border-radius: var(--br100);
  filter: blur(20px);
  background-color: #4545ff;
  position: absolute;
  top: 10px;
  left: 100px;
  height: 70px;
  width: 70px;

  display: flex;
}
.gooli2 {
  animation: gooli2 18s infinite ease-in-out;
}
.gooli6 {
  animation: gooli1 18s infinite ease-in-out;
}

.gooli3,
.gooli7 {
  border-radius: var(--br100);
  filter: blur(20px);
  background-color: #b443ff;
  position: absolute;
  top: 10px;
  right: -20px;
  height: 70px;
  width: 70px;

  display: flex;
}
.gooli3 {
  animation: gooli3 14s infinite ease-in-out;
}
.gooli7 {
  animation: gooli4 14s infinite ease-in-out;
}

.gooli4,
.gooli8 {
  border-radius: var(--br100);
  filter: blur(20px);
  background-color: #ffa133;
  position: absolute;
  top: 10px;
  right: -20px;
  height: 70px;
  width: 70px;

  display: flex;
}
.gooli4 {
  animation: gooli4 20s infinite ease-in-out;
}
.gooli8 {
  animation: gooli3 20s infinite ease-in-out;
}

@keyframes gooli2 {
  0% {
    top: -10px;
    left: 50px;
    transform: scale(1);
  }
  20% {
    top: 20px;
    left: -10px;
    transform: scale(1.2);
  }
  40% {
    top: 60px;
    left: 80px;
    transform: scale(1.1);
  }
  60% {
    top: 90px;
    left: 70px;
    transform: scale(1.3);
  }
  80% {
    top: 30px;
    left: 30px;
    transform: scale(1.4);
  }
  100% {
    top: -10px;
    left: 50px;
    transform: scale(1);
  }
}

@keyframes gooli3 {
  0% {
    top: 0px;
    left: 0px;
    transform: scale(1.2);
  }
  20% {
    top: 40px;
    left: 90px;
    transform: scale(1.1);
  }
  40% {
    top: 70px;
    right: 100px;
    transform: scale(1.3);
  }
  60% {
    top: 100px;
    right: 60px;
    transform: scale(1.4);
  }
  80% {
    top: 50px;
    right: 20px;
    transform: scale(1.5);
  }
  100% {
    top: 0px;
    left: 0px;
    transform: scale(1.2);
  }
}

@keyframes gooli1 {
  0% {
    top: 0px;
    right: 0px;
    transform: scale(1);
  }
  20% {
    top: 50px;
    right: 100px;
    transform: scale(1.3);
  }
  40% {
    top: 100px;
    right: 30px;
    transform: scale(1.6);
  }
  60% {
    top: 70px;
    right: 50px;
    transform: scale(1.8);
  }
  80% {
    top: 20px;
    right: 70px;
    transform: scale(1.4);
  }
  100% {
    top: 0px;
    right: 0px;
    transform: scale(1);
  }
}

@keyframes gooli4 {
  0% {
    top: 0px;
    right: 0px;
    transform: scale(1);
  }
  20% {
    top: 50px;
    right: 100px;
    transform: scale(1.4);
  }
  40% {
    top: 100px;
    right: 30px;
    transform: scale(1.7);
  }
  60% {
    top: 80px;
    right: 40px;
    transform: scale(1.9);
  }
  80% {
    top: 30px;
    right: 20px;
    transform: scale(1.5);
  }
  100% {
    top: 0px;
    right: 0px;
    transform: scale(1);
  }
}

.title {
  position: relative;
  text-transform: uppercase;
  font-weight: var(--weight-800);
  font-size: var(--font-14);
  text-align: center;
}

.div {
  position: relative;
  font-size: var(--font-30);
  text-transform: uppercase;
  font-weight: var(--weight-600);
  text-align: center;
  color: var(--text-h1);
}

.newCommnet {
  padding: var(--padding-10) !important;
  gap: var(--gap-15);
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--br25);
  background: linear-gradient(130deg, var(--color-light-red) 0%, var(--color-dark-red) 100%);
  width: 185px;
  height: 185px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-12);
}

.lastPost {
  padding: var(--padding-10) !important;
  gap: var(--gap-15);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 185px;
  height: 185px;
  position: relative;
  border-radius: var(--br25);

  overflow: hidden;
}

.maskimage {
  width: 100%;
  height: 100%;
  position: absolute;
}
.rectangleImage {
  background: linear-gradient(180deg, var(--color-light-blue) 0%, var(--color-dark-blue) 100%);

  background-color: transparent;
  border-radius: var(--br15);
  height: 185px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  width: 185px;
}

.newlikes {
  padding: var(--padding-10) !important;
  position: relative;
  text-align: center;
  gap: var(--gap-15);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--br25);
  background: linear-gradient(230deg, var(--color-light-yellow) 0%, var(--color-dark-yellow) 100%);
  width: 185px;
  height: 185px;
  flex-shrink: 0;
  overflow: hidden;
}

.postrequest {
  padding: var(--padding-10) !important;
  gap: var(--gap-15);
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--br25);
  background: linear-gradient(220deg, var(--color-light-blue) 0%, var(--color-dark-blue) 100%);
  width: 185px;
  height: 185px;
  flex-shrink: 0;
  overflow: hidden;
}

.overview {
  padding: var(--padding-10) !important;
  margin: 20px;
  padding: var(--paddingbox);
  min-height: 550px;
  display: flex;
  place-self: center;
  position: relative;
  grid-row-end: span 82;
  border-radius: var(--br25);
  background-color: var(--color-white);

  font-size: var(--font-12);
  transition: var(--transition3);
  animation: var(--bottom14);
  color: var(--text-h1);
  width: calc(100% - 40px);

  flex-direction: column;
  justify-content: flex-start;
}
.overview:hover {
  box-shadow: var(--box-shadow);
}

.all {
  gap: var(--gap-20);
  flex-direction: column;
  position: relative;
  display: flex;
}
.sort {
  position: relative;
  height: 40px;
  width: 100px;
}
.graph {
  position: relative;
  width: 100%;
  height: 420px;
}
